﻿@model Aircond.Raspberry.Models.Raspberry_REC

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordTimestamp)
@Html.HiddenFor(m => m.RecordStatus)

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="demo-section k-content">
            <div id="tabstrip">
                <ul>
                    <li class="k-state-active">
                        Device
                    </li>
                    <li>
                        Haystack
                    </li>
                </ul>
                <div>
                    <div class="k-edit-label">
                        Device ID:
                    </div>
                    <div class="k-edit-field">
                        @Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { style = "background: lightgrey;", @maxlength = "20" }).Enable(false)
                    </div>
                    <div class="k-edit-label">
                        Device Name:
                    </div>
                    <div class="k-edit-field">
                        @Html.Kendo().TextBoxFor(m => m.DeviceName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
                    </div>
                    <div class="k-edit-label">
                        Live:
                    </div>
                    <div class="k-edit-field">
                        @(Html.Kendo().DropDownListFor(m => m.Live)
                          .DataTextField("Text")
                          .DataValueField("Value")
                          .BindTo(new List<SelectListItem>() {
                               new SelectListItem() {
                                  Text = "Yes",
                                  Value = "1"
                              },
                              new SelectListItem() {
                                  Text = "No",
                                  Value = "0"
                              }              })
                            .HtmlAttributes(new { style = "width: 50%" })
                        )
                    </div>
                </div>
                <div>
                    <div class="k-edit-label">
                        id:
                    </div>
                    <div class="k-edit-field">
                        @Html.Kendo().TextBoxFor(m => m.ids).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
                    </div>
                    <div class="k-edit-label">
                        dis:
                    </div>
                    <div class="k-edit-field">
                        @Html.Kendo().TextBoxFor(m => m.dis).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
                    </div>
                    <div class="k-edit-label">
                        marker:
                    </div>
                    <div class="k-edit-field">
                        @Html.Kendo().TextBoxFor(m => m.marker).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
