﻿@model SmartSwitch.Espurna.Models.SmartDevices_REC

@*@Html.HiddenFor(m => m._id)
@Html.HiddenFor(m => m.RecordTimestamp)*@

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Device ID:
        </div>
        <div class="k-edit-field">
            @*@Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { style = "background: lightgrey;", @maxlength = "20" }).Enable(false)*@
            @Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { @maxlength = "20" }).Enable(true)
        </div>
        <div class="k-edit-label">
            Device Name:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            IP Address:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.IPAddress).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Object Mesh:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.ObjectName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Location:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.Location).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Switch No:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.SwitchNo).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Light Controller:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.LightController).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
    </div>
</div>
