﻿@model has.iot.Models.ConfigurationModel
@{
    ViewBag.Title = "Configuration";
    has.iot.Models.ConfigurationModel data = ViewData["Configuration"] as has.iot.Models.ConfigurationModel;

    ViewBag.TitleBar = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="card card-form">
        <div class="card-header">
            <h5>Configuration Info</h5>
        </div>
        <div class="card-body">
            <div class="row col-md-6">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">OutDoor Temperatur (°C)</label>
                    </div>
                </div>
                <div class="col-sm-8" style="margin-top:-10px">
                    <div class="form-group">
                        :

                        <input id="OutDoorTemperature" />
                        <button type="submit" id="OutDoorTemperatureUpdate" class="btn btn-success">Update</button>
                        <button type="submit" id="OutDoorButtonEnable" class="btn btn-primary">Enable</button>
                        <button type="submit" id="OutDoorButtonDisable" class="btn btn-primary">Disable</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="row col-md-6">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Constant LUX</label>
                    </div>
                </div>
                <div class="col-sm-8" style="margin-top:-10px">
                    <div class="form-group">
                        :
                        <input id="ConstantLux" />
                        <button type="submit" id="ConstantLuxUpdate" class="btn btn-success">Update</button>
                        <button type="submit" id="ConstantLuxEnable" class="btn btn-primary">Enable</button>
                        <button type="submit" id="ConstantLuxDisable" class="btn btn-primary">Disable</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="row col-md-6">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Skin Temperature (°C)</label>
                    </div>
                </div>
                <div class="col-sm-8" style="margin-top:-10px">
                    <div class="form-group">
                        :
                        <input id="SkinTemperature" />
                        <button type="submit" id="SkinTemperatureUpdate" class="btn btn-success">Update</button>
                        <button type="submit" id="SkinTemperatureEnable" class="btn btn-primary">Enable</button>
                        <button type="submit" id="SkinTemperatureDisable" class="btn btn-primary">Disable</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="row col-md-6">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Heart Rate</label>
                    </div>
                </div>
                <div class="col-sm-8" style="margin-top:-10px">
                    <div class="form-group">
                        :
                        <input id="HeartRate" />
                        <button type="submit" id="HeartRateUpdate" class="btn btn-success">Update</button>
                        <button type="submit" id="HeartRateEnable" class="btn btn-primary">Enable</button>
                        <button type="submit" id="HeartRateDisable" class="btn btn-primary">Disable</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="card-footer">
                <button type="submit" id="UpdateAll" class="btn btn-success">Update All</button>
                <button type="submit" id="EnableAll" class="btn btn-primary">Enable All</button>
                <button type="submit" id="DisableAll" class="btn btn-primary">Disable All</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var outdoorvalue = @data.OutDoorTemperature;
        var outdoorstatus = @(data.OutDoorTemperatureStatus ? "true" : "false");

        var luxvalue = @data.ConstantLux;
        var luxstatus = @(data.ConstantLuxStatus ? "true" : "false");

        var skintempvalue = @data.SkinTemperature;
        var skintempstatus = @(data.SkinTemperatureStatus ? "true" : "false");

        var heartratevalue = @data.HeartRate;
        var heartratestatus = @(data.HeartRateStatus ? "true" : "false");

        //enable disabel button
        if (outdoorstatus) {
            $("#OutDoorButtonDisable").attr("style", "display:");
            $("#OutDoorButtonEnable").attr("style", "display:none");
        } else {
            $("#OutDoorButtonDisable").attr("style", "display:none");
            $("#OutDoorButtonEnable").attr("style", "display:");
        }

        if (luxstatus) {
            $("#ConstantLuxDisable").attr("style", "display:");
            $("#ConstantLuxEnable").attr("style", "display:none");
        } else {
            $("#ConstantLuxDisable").attr("style", "display:none");
            $("#ConstantLuxEnable").attr("style", "display:");
        }

        if (skintempstatus) {
            $("#SkinTemperatureDisable").attr("style", "display:");
            $("#SkinTemperatureEnable").attr("style", "display:none");
        } else {
            $("#SkinTemperatureDisable").attr("style", "display:none");
            $("#SkinTemperatureEnable").attr("style", "display:");
        }

        if (heartratestatus) {
            $("#HeartRateDisable").attr("style", "display:");
            $("#HeartRateEnable").attr("style", "display:none");
        } else {
            $("#HeartRateDisable").attr("style", "display:none");
            $("#HeartRateEnable").attr("style", "display:");
        }


        $("#OutDoorTemperature").kendoNumericTextBox();
        var outdoor = $("#OutDoorTemperature").data("kendoNumericTextBox");
        outdoor.value(outdoorvalue);
        outdoor.enable(outdoorstatus);

        $("#ConstantLux").kendoNumericTextBox();
        var lux = $("#ConstantLux").data("kendoNumericTextBox");
        lux.value(luxvalue);
        lux.enable(luxstatus);

        $("#SkinTemperature").kendoNumericTextBox();
        var SkinTemperature = $("#SkinTemperature").data("kendoNumericTextBox");
        SkinTemperature.value(skintempvalue);
        SkinTemperature.enable(skintempstatus);

        $("#HeartRate").kendoNumericTextBox();
        var HeartRate = $("#HeartRate").data("kendoNumericTextBox");
        HeartRate.value(heartratevalue);
        HeartRate.enable(heartratestatus);

        //Enable Disable Button
        $("#OutDoorButtonEnable").click(function () {
            enableDisable("OutDoorEnable");
        });
        $("#OutDoorButtonDisable").click(function () {
            enableDisable("OutDoorDisable");
        });
        $("#ConstantLuxEnable").click(function () {
            enableDisable("ConstantLuxEnable");
        });
        $("#ConstantLuxDisable").click(function () {
            enableDisable("ConstantLuxDisable");
        });
        $("#SkinTemperatureEnable").click(function () {
            enableDisable("SkinTemperatureEnable");
        });
        $("#SkinTemperatureDisable").click(function () {
            enableDisable("SkinTemperatureDisable");
        });
        $("#HeartRateEnable").click(function () {
            enableDisable("HeartRateEnable");
        });
        $("#HeartRateDisable").click(function () {
            enableDisable("HeartRateDisable");
        });

        //Update
        $("#OutDoorTemperatureUpdate").click(function () {
            enableDisable("OutDoorTemperatureUpdate");
        });
        $("#ConstantLuxUpdate").click(function () {
            enableDisable("ConstantLuxUpdate");
        });
        $("#SkinTemperatureUpdate").click(function () {
            enableDisable("SkinTemperatureUpdate");
        });
        $("#HeartRateUpdate").click(function () {
            enableDisable("HeartRateUpdate");
        });

        //Enable Disable Button All
        $("#DisableAll").click(function () {
            enableDisable("DisableAll");
        });
        $("#EnableAll").click(function () {
            enableDisable("EnableAll");
        });

        //Update All
        $("#UpdateAll").click(function () {
            enableDisable("UpdateAll");
        });
    });

    function enableDisable(param) {
        var status = '';
        switch (param) {
            //Enable Disable Button
            case "OutDoorEnable":
                status = "enableDisable";
                var data = {
                    OutDoorTemperature: $("#OutDoorTemperature").val(),
                    OutDoorTemperatureStatus: true,
                }
                break;
            case "OutDoorDisable":
                status = "enableDisable";
                var data = {
                    OutDoorTemperature: $("#OutDoorTemperature").val(),
                    OutDoorTemperatureStatus: false,
                }
                break;
            case "ConstantLuxEnable":
                status = "enableDisable";
                var data = {
                    ConstantLux: $("#ConstantLux").val(),
                    ConstantLuxStatus: true,
                }
                break;
            case "ConstantLuxDisable":
                status = "enableDisable";
                var data = {
                    ConstantLux: $("#ConstantLux").val(),
                    ConstantLuxStatus: false,
                }
                break;
            case "SkinTemperatureEnable":
                status = "enableDisable";
                var data = {
                    SkinTemperature: $("#SkinTemperature").val(),
                    SkinTemperatureStatus: true,
                }
                break;
            case "SkinTemperatureDisable":
                status = "enableDisable";
                var data = {
                    SkinTemperature: $("#SkinTemperature").val(),
                    SkinTemperatureStatus: false,
                }
                break;
            case "HeartRateEnable":
                status = "enableDisable";
                var data = {
                    HeartRate: $("#HeartRate").val(),
                    HeartRateStatus: true,
                }
                break;
            case "HeartRateDisable":
                status = "enableDisable";
                var data = {
                    HeartRate: $("#HeartRate").val(),
                    HeartRateStatus: false,
                }
                break;

            // Update Value
            case "OutDoorTemperatureUpdate":
                status = "update";
                var data = {
                    OutDoorTemperature: $("#OutDoorTemperature").val(),
                }
                break;
            case "ConstantLuxUpdate":
                status = "update";
                var data = {
                    ConstantLux: $("#ConstantLux").val(),
                }
                break;
            case "SkinTemperatureUpdate":
                status = "update";
                var data = {
                    SkinTemperature: $("#SkinTemperature").val(),
                }
                break;
            case "HeartRateUpdate":
                status = "update";
                var data = {
                    HeartRate: $("#HeartRate").val(),
                }
                break;

            //Enable Disable Button All
            case "EnableAll":
                status = "enableAll";
                var data = {}
                break;
            case "DisableAll":
                status = "disableAll";
                var data = {}
                break;

            //Update All
            case "UpdateAll":
                status = "updateAll";
                var data = {
                    OutDoorTemperature: $("#OutDoorTemperature").val(),
                    ConstantLux: $("#ConstantLux").val(),
                    SkinTemperature: $("#SkinTemperature").val(),
                    HeartRate: $("#HeartRate").val(),
                }
                break;
        }
        var url = '@Url.Action("Update", "Configuration")';
        $.ajax({
            url: url +'?status='+status,
            data: JSON.stringify(data),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
               
            },
            success: function (result) {
                window.location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jQuery.parseJSON(jqXHR.errorThrown));
            },
            async: true,
            processData: false
        });
    }
</script>