﻿@model ThermalKaconDefault_REC
@using Camera.Thermal.Kacon.Components
@using Camera.Thermal.Kacon.Models
@{
    ViewBag.Title = "Iot Category :: Camera Thermal Kacon";
    ViewBag.TitleBar = "Iot Category :: Camera Thermal Kacon";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    ViewBag.ExcelName = "Camera_Thermal_Kacon_" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
    ThermalKaconDefault_REC DataList = Constants.GetDefaultSetting();
}
<div class="accordion" id="ImpinjDefaultSetting">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Thermal Kacon Default Setting
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#ImpinjDefaultSetting">
            <div class="card-body row">

                <div class="col-md-6">
                    <input type="hidden" id="RecordID" value="@DataList.RecordID" />
                    <input type="hidden" id="RecordTimestamp" value="@DataList.RecordTimestamp" />
                    <input type="hidden" id="RecordStatus" value="@DataList.RecordStatus" />

                    <div class="form-group">
                        @Html.LabelFor(m => m.MaxTemperature)
                        @Html.Kendo().NumericTextBoxFor(m => m.MaxTemperature).Value(DataList.MaxTemperature).Max(99).Decimals(2)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.MinTemperature)
                        @Html.Kendo().NumericTextBoxFor(m => m.MinTemperature).Value(DataList.MinTemperature)
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Resolution)
                        @(Html.Kendo().DropDownList().Name("ResolutionDefault")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .HtmlAttributes(new { @class = "w-100" })
                            .BindTo(new List<SelectListItem>() {
                                    new SelectListItem() {
                                        Text = "80x60",
                                        Value = "80x60"
                                    },
                                    new SelectListItem() {
                                        Text = "160x120",
                                        Value = "160x120"
                                    }
                            }).Value(DataList.Resolution)
                        )
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.URLService)
                        @Html.Kendo().TextBoxFor(m => m.URLService).HtmlAttributes(new { @class = "form-control" }).Value(DataList.URLService)
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" onclick="submitData(this, 'single')">Save</button>
                    <button type="button" class="btn btn-primary" onclick="submitData(this, 'all')">Save to all</button>
                    <button type="button" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","CCTVHikvision")'">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Grid<ThermalKacon_REC>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Command(c =>
            {
                c.Edit().Text(" ");
                c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                c.Custom("FirmwareSetting").Text(" ").IconClass("k-icon k-i-gear").Click("gridrow_onwindowSetting");
            }).Width(100);

            columns.Bound(c => c.RecordID).Visible(false);
            columns.Bound(c => c.RecordTimestamp).Visible(false);
            columns.Bound(c => c.RecordStatus).Visible(false);

            columns.Bound(c => c.DeviceID).Title("Device ID").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
            columns.Bound(c => c.DeviceName).Title("Device Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
            columns.Bound(c => c.IPAddress).Title("IP Address").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
            columns.Bound(c => c.Resolution).Title("Resolution").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
            columns.Bound(c => c.StatusDevice).Title("Status Device").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).HtmlAttributes(new { @class = "status-Device", data_ip = "#= IPAddress #" }).Width(90);
            columns.Bound(c => c.LocationName).Title("Location Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
        })
        .DataSource(ds => ds
            .Ajax()
            .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
            .Model(m => {
                m.Id(r => r.RecordID);
                m.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
            })
            .PageSize(30)
            .Create(c => c.Action("Create", "ThermalKacon"))
            .Read(r => r.Action("Read", "ThermalKacon"))
            .Update(r => r.Action("Update", "ThermalKacon"))
            .Destroy(r => r.Action("Destroy", "ThermalKacon"))
            )
        .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
        .Excel(excel => excel
            .AllPages(true)
            .FileName(@ViewBag.ExcelName + ".xlsx")
            .Filterable(true)
            //.ForceProxy(true)
            //.ProxyURL(Url.Action("Account_ExcelExport", "Master"))
            )
        .Events(e => e.Edit("grid_onEdit").DataBound("grid_onDataBound"))
        .Filterable()
        .HtmlAttributes(new { style = "height:500px;" })
        .Pageable(p => p.Refresh(true))
        .Reorderable(r => r.Columns(true))
        .Filterable(f => f.Mode(GridFilterMode.Row))
        .Resizable(r => r.Columns(true))
        .Scrollable(scrollable => scrollable.Virtual(true))
        .Selectable(s => s.Enabled(true))
        .Sortable()
        .ToolBar(t =>
        {
            t.Create().Text("Add New");
        }
    )
)
<script type="text/javascript" src="@Url.Content("~/Content/socket.io.js")"></script>
<script type="text/javascript">

    var ws = "";
    $(function () {
        // Start the connection.
        ws = new WebSocket("ws:@(DataList.URLService.Split(':')[1]):3001");
    });

    function gridrow_onwindowSetting(e) {
        e.preventDefault();
        var dataItem = $("#grid").data("kendoGrid").dataItem($(e.target).closest("tr"));

        $.ajax({
            url: '@(DataList.URLService)config',
            type: 'POST',
            success: function (result) {
                $(".resp-iframe").attr("src", "@(DataList.URLService)cam/" + dataItem.DeviceID);
                $("#windowSetting").data("kendoWindow").open().center();
            }
        });
    }
    function grid_onDataBound(e) {
        var dataview = $('#grid').data().kendoGrid.dataSource.data();
        for (var a = 0; a < dataview.length; a++) {
            $.ajax({
                url: '@Url.Action("Ping", "Systems", new { Area="" })',
                type: 'POST',
                data: JSON.stringify({ domain: dataview[a].IPAddress }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (jqXHR, ajaxAttr) {
                    jqXHR.data = ajaxAttr.data;
                    $("#grid td[data-ip='" + JSON.parse(jqXHR.data).domain + "']").html("Waiting...");
                },
                success: function (result, c, jqXHR) {
                    var data = JSON.parse(jqXHR.data);
                    if (result.msg) {
                        $("#grid td[data-ip='" + data.domain + "']").html("Connected");
                    } else {
                        $("#grid td[data-ip='" + data.domain + "']").html("N/A");
                    }
                },
                async: true,
                processData: false
            });
        }
    }

    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (!e.response.Errors) {
                e.sender.read();
                //send ws
                sendCommandToDevice(e.response.Data[0], e.type);
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
            $("#DeviceID").removeAttr("disabled");
        }
        else {
            e.container.kendoWindow("title", "Edit");
            $("#DeviceID").attr("disabled", "disabled");
        }
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Error");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function gridrow_onDelete(e) {
        e.preventDefault();

        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);

        vWindowModal.title("Delete Confirmation?");
        vWindowModal.content(vTemplateDelete(vData));
        vWindowModal.center().open();

        $("#buttonDeleteYes").click(function () {
            vGrid.removeRow(vRow);
            vWindowModal.close();
        });

        $("#buttonDeleteNo").click(function () {
            vWindowModal.close();
        });
    }
    function submitData(e, type) {
        var url = '@Url.Action("SubmitDefault", "ThermalKacon")';
        if (type == "all")
            url = '@Url.Action("SubmitAllDefault", "ThermalKacon")';

        var data = {
            RecordID: $("#RecordID").val(),
            RecordTimestamp: $("#RecordTimestamp").val(),
            RecordStatus: $("#RecordStatus").val(),
            CategoryID: "CameraThermal",
            Resolution: $("#ResolutionDefault").val(),
            MaxTemperature: $("#MaxTemperature").val(),
            MinTemperature: $("#MinTemperature").val(),
            URLService: $("#URLService").val(),
        };
        var validation_data = valid(data);
        if (validation_data.errorcode > 0) {
            alert(validation_data.msg);
        } else {
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled", "disabled");
                },
                success: function (result) {
                    alert(result.msg);
                    if (result.errorcode > 0) {
                        $(e).removeAttr("disabled", "disabled");
                    } else {
                        if (type == "all") {
                            ws.send(JSON.stringify({
                                command: 'SET_ALL_MONITORING_CFG',
                                camIndex: 0,
                                monConfig: {
                                    Min: parseInt(data.MinTemperature),
                                    Max: parseInt(data.MaxTemperature)
                                }
                            }));
                        }
                        window.location.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: true,
                processData: false
            });
        }

    }
    function valid(data) {
        var result = {
            msg: "",
            errorcode: 0
        }
        if (data.CategoryID == "") { result.msg += "Category ID is required\n"; result.errorcode = 500; }
        if (data.Resolution == "") { result.msg += "Resolution is required\n"; result.errorcode = 500; }
        if (data.MaxTemperature == "") { result.msg += "Max Temperature is required\n"; result.errorcode = 500; }
        if (data.MinTemperature == "") { result.msg += "Min Temperature is required\n"; result.errorcode = 500; }
        if (data.URLService == "") { result.msg += "URL Service is required\n"; result.errorcode = 500; }

        return result;
    }
    function sendCommandToDevice(data, type) {
        $.ajax({
            url: '@(DataList.URLService)config',
            type: 'POST',
            success: function (result) {
                const CONFIG_INFO = result;
                let CAM_INDEX = CONFIG_INFO.cameras.findIndex(w => w.name == data.DeviceID);
                var configFile = {
                    Setup: [
                        {
                            name: "ViewSetting",
                            value: 0
                        },
                        {
                            name: "HostIP",
                            value: "@(DataList.URLService.Split(':')[1].Replace("//",""))"
                        },
                        {
                            name: "ManualIP",
                            value: 0
                        }
                    ],
                    Cam: CONFIG_INFO.cameras
                };

                if (type == "update") {
                    var sendOptions = {
                        command: 'CHANGE_IP_ADDRESS',
                        camIndex: CAM_INDEX,
                        oldIpAddress: CONFIG_INFO.cameras[CAM_INDEX].host,
                        newIpAddress: data.IPAddress
                    };
                    ws.send(JSON.stringify(sendOptions));

                    var dimension = data.Resolution.split('x');
                    const description = 'Please enter camera description';
                    var new_data = {
                        name: data.DeviceID,
                        host: data.IPAddress,
                        status: 'OFF',
                        irWidth: parseInt(dimension[0]),
                        irHeight: parseInt(dimension[1]),
                        recordInterval: 5000,
                        palette: 'demo',
                        description: description
                    };
                    if (CAM_INDEX > -1) {
                        configFile.Cam[CAM_INDEX] = new_data;
                    } else {
                        configFile.Cam.push(new_data);
                    }
                }

                if (type == "create") {
                    var dimension = data.Resolution.split('x');
                    const description = 'Please enter camera description';
                    var new_data = {
                        name: data.DeviceID,
                        host: data.IPAddress,
                        status: 'OFF',
                        irWidth: parseInt(dimension[0]),
                        irHeight: parseInt(dimension[1]),
                        recordInterval: 5000,
                        palette: 'demo',
                        description: description
                    };
                    configFile.Cam.push(new_data);
                }

                if (type == "destroy") {
                    var idx = configFile.Cam.findIndex(w => w.host == data.DeviceID);
                    configFile.Cam.splice(idx, 1);
                }

                ws.send(JSON.stringify({
                    command: 'WRITE_CONFIG',
                    config: configFile
                }));
                console.log(configFile);
            },
            async: false
        });

    }
    function openWindowLocation() {
        $("#windowPopupLocation").data("kendoWindow").open().center();
        $('#gridPopupLocation').on('dblclick', 'tbody>tr', { extra: 'kgLocationLookup' }, kgEventDblClick);
    }
    function kgEventDblClick() {
        $('#gridPopupLocation').unbind();
        var grid = $("#gridPopupLocation").data("kendoGrid");
        var voRow = grid.dataItem(grid.select());
        $("#LocationID").val(voRow.LocationID);

        var grid_data = $("#grid").data("kendoGrid");
        var model = grid_data.editable.options.model;
        model.set("LocationID", voRow.LocationID);

        $("#windowPopupLocation").data("kendoWindow").close();
    }
</script>
<script type="text/x-kendo-template" id="templateDelete">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Device ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="DeviceID" name="DeviceID" value="#=DeviceID#" style="text-transform: uppercase;" readonly="readonly"> </div>
        </div>
        <div class="nameEditor">
            <div class="k-edit-label">Device Name:</div>
            <div class="k-edit-field"><input class="k-textbox" id="DeviceName" name="DeviceName" value="#=DeviceName#" readonly="readonly"></div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>
@(Html.Kendo().Window().Visible(false)
    .Name("windowSetting")
    .Title("Temperature Setting")
    .Content(@<text><iframe class="resp-iframe" src="" style="width:100%;height:100%;" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </text>)
.Draggable()
.Modal(true)
.Pinned(true)
.Width(800).Height(500)
.Actions(actions => actions.Pin().Minimize().Maximize().Close())
//.Events(ev => ev.Close("onClose"))
)
@Html.Action("_LocationPopup", "Partial", new { Area = "" })