﻿@{
    ViewBag.Title = "Location";
    ViewBag.TitleBar = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="body-content">
    @(Html.Kendo().Grid<has.iot.Models.Location_REC>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Command(c =>
                {
                    c.Edit().Text(" ");
                    c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                }).Width(100);
                columns.Bound(c => c.RecordID).Visible(false);
                columns.Bound(c => c.RecordTimestamp).Visible(false);
                columns.Bound(c => c.RecordStatus).Visible(false);

                columns.Bound(c => c.LocationID).Title("Location ID").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
                columns.Bound(c => c.LocationName).Title("Location Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
            })
            .DataSource(ds => ds
                .Ajax()
                .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
                .Model(m =>
                {
                    m.Id(r => r.RecordID);
                    m.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
                })
                .PageSize(30)
                .Create(c => c.Action("Create", "Location"))
                .Read(r => r.Action("Read", "Location"))
                .Update(r => r.Action("Update", "Location"))
                .Destroy(r => r.Action("Destroy", "Location"))
                )
            //.ClientDetailTemplateId("template_detail")
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
            .Excel(excel => excel
                .AllPages(true)
                .FileName(@ViewBag.ExcelName + ".xlsx")
                .Filterable(true)
                //.ForceProxy(true)
                //.ProxyURL(Url.Action("Account_ExcelExport", "Master"))
                )
            .Events(e => e.Edit("grid_onEdit"))
            .Selectable()
            .Filterable(a => a.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            .ToolBar(t =>
            {
                t.Create().Text("Add New");
            }
        )
    )
</div>
<script id="template_detail" type="text/kendo-tmpl">
        @(Html.Kendo().Grid<has.iot.Models.LocationDetail_REC>()
            .Name("grid_#=RecordID#")
            .Columns(columns =>
            {
                columns.Command(c =>
                {
                    c.Edit().Text(" ");
                    c.Custom("DeleteDetail").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDeleteDetail");
                }).Width(100);
                columns.Bound(o => o.LocationID).Width(100);
                columns.Bound(o => o.ReaderID).Width(100);
                columns.Bound(o => o.AntennaNo).Width(100);
                columns.Bound(o => o.MaxRSSI).Width(100);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(m =>
                {
                    m.Id(r => r.RecordID);
                    m.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
                    m.Field(f => f.LocationID).DefaultValue("#=LocationID#");
                    m.Field(f => f.LocationName).DefaultValue("#=LocationName#");
                })
                .PageSize(5)
                .Read(read => read.Action("ReadDetail", "Location", new { ParentRecordID = "#=RecordID#" }))
                .Create(c => c.Action("CreateDetail", "Location"))
                .Read(r => r.Action("ReadDetail", "Location"))
                .Update(r => r.Action("UpdateDetail", "Location"))
                .Destroy(r => r.Action("DestroyDetail", "Location"))
            )
            .Events(e=>e.Edit("grid_detailOnEdit"))
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_formDetail").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
            .Pageable()
            .Sortable()
            .ToolBar(t =>
            {
                t.Create().Text("Add New");
            })
            .ToClientTemplate())
</script>

<script type="text/javascript">
    var ws= "";
    $(function () {
    // Start the connection.
    });

    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
        }
        else {

        }
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Error");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function gridrow_onDelete(e) {
        e.preventDefault();

        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);

        vWindowModal.title("Delete Confirmation?");
        vWindowModal.content(vTemplateDelete(vData));
        vWindowModal.center().open();

        $("#buttonDeleteYes").click(function () {
            vGrid.removeRow(vRow);
            vWindowModal.close();
        });

        $("#buttonDeleteNo").click(function () {
            vWindowModal.close();
        });
    }
    function gridrow_onDeleteDetail(e) {
        e.preventDefault();

        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);

        vWindowModal.title("Delete Confirmation?");
        vWindowModal.content(vTemplateDeleteDetail(vData));
        vWindowModal.center().open();

        $("#buttonDeleteDetailYes").click(function () {
            vGrid.removeRow(vRow);
            vWindowModal.close();
        });

        $("#buttonDeleteDeleteNo").click(function () {
            vWindowModal.close();
        });
    }
    function changeReaderID(e) {
        var ddlReader = $("#ReaderID").data("kendoDropDownList");
        var dataItem = ddlReader.dataItem(e.sender._oldIndex);

        var ddlAntenna = $("#AntennaNo").data("kendoDropDownList");
        ddlAntenna.dataSource.transport.options.read.data = { ParentID: dataItem.RecordID };
        ddlAntenna.enable(true);
    }

    function grid_detailOnEdit(e) {
        //check if model is new
        if (e.model.isNew()) {
            var ParentID = $(e.sender.element[0]).attr("id").split('_')[1];
            e.model.set("ParentID", ParentID);
        } else {
            var ddlReader = $("#ReaderID").data("kendoDropDownList");
            ddlReader.bind("dataBound", function () {
                var dataItem = ddlReader.dataItem(ddlReader.selectedIndex);
                var ddlAntenna = $("#AntennaNo").data("kendoDropDownList");
                ddlAntenna.dataSource.transport.options.read.data = { ParentID: dataItem.RecordID };
                $("#AntennaNo").data("kendoDropDownList").enable(true);
            });
        }
    }
</script>
<script type="text/x-kendo-template" id="templateDelete">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Location ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="LocationID" name="LocationID" value="#=LocationID#" style="text-transform: uppercase;" readonly="readonly"> </div>
        </div>
        <div class="nameEditor">
            <div class="k-edit-label">Location Name:</div>
            <div class="k-edit-field"><input class="k-textbox" id="LocationName" name="LocationName" value="#=LocationName#" readonly="readonly"></div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>

<script type="text/x-kendo-template" id="templateDeleteDetail">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Reader ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="ReaderID" name="ReaderID" value="#=ReaderID#" style="text-transform: uppercase;" readonly="readonly"> </div>
        </div>
        <div class="nameEditor">
            <div class="k-edit-label">Antenna No:</div>
            <div class="k-edit-field"><input class="k-textbox" id="AntennaNo" name="AntennaNo" value="#=AntennaNo#" readonly="readonly"></div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteDetailYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>

