﻿@model Aircond.Raspberry.Models.Raspberry_REC
@{
    ViewBag.Title = "Iot Category :: Aircond :: Raspberry Pi :: Whois";
    ViewBag.TitleBar = "Iot Category :: Aircond :: Raspberry Pi :: Whois";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
}
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Action("Index","Raspberry",new { Area="AircondRaspberry" }, null)">
                <div class="card card-form">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> List Device
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("Whois","Raspberry",new { Area="AircondRaspberry" }, null)">
                <div class="card card-form" style="background-color: #d3e6ff;">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> Whois Lookup
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("ConfigService","Raspberry",new { Area="AircondRaspberry" }, null)">
                <div class="card card-form">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> Config Service
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

<div class="form-group m-form__group row" style="margin-top:5px;">
    <label for="example-search-input" class="col-3 col-form-label">
        Device
    </label>
    <div class="col-5">
        @(Html.Kendo().DropDownListFor(m => m.DeviceName)
            .DataTextField("DeviceName")
            .DataValueField("DeviceName")
            .HtmlAttributes(new { style = "width:168px" })
            .OptionLabel("Select Device")
            .Filter("contains")
            .Events(e => { e.Change("setGriddatasource"); })
            .HtmlAttributes(new { style = "width:230px;" })
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetLokkuplist", "Raspberry", new { Area = "AircondRaspberry" });
                })
                .ServerFiltering(true);
            })
        )
    </div>
    <button class="k-button k-primary" onclick="whoisDevice();">Whois</button>
</div>
@(Html.Kendo().Grid<Aircond.Raspberry.Models.RaspberryObject_REC>()
                .Name("gridSetting")
                .Columns(columns =>
                {
                    columns.Bound(c => c.RecordID).Hidden(true);
                    columns.Bound(c => c.RecordStatus).Hidden(true);
                    //columns.Bound(c => c.ObjectName).Title("Object Type").Width(50);
                    //columns.Bound(c => c.Description).Title("Object Name").Width(50);
                    //columns.Bound(c => c.Instance).Title("Instance").Width(50);

                    columns.Bound(c => c.ObjectFullName).Title("Object Name").Width(50);
                    columns.Bound(c => c.ObjectIdentifier).Title("Object Identifier").Width(50);
                    columns.Bound(c => c.ObjectType).Title("Object Type").Width(80);
                    //columns.Bound(c => c.Description).Title("Description").Width(50);


                    columns.Bound(c => c.Category).ClientTemplate("#=Category.CategoryName#").Sortable(false).Title("Category").Width(50);

                })
                .ToolBar(toolbar => {
                    toolbar.Save();
                })
                .DataSource(ds => ds
                    .Ajax()
                    .Batch(true)
                    .ServerOperation(false)
                    .Model(m => {
                        m.Id(r => r.RecordID);
                        m.Field(r => r.ObjectName).Editable(false);
                        m.Field(r => r.Description).Editable(false);
                        m.Field(r => r.Instance).Editable(false);
                        m.Field(r => r.ObjectFullName).Editable(false);
                        m.Field(r => r.ObjectIdentifier).Editable(false);
                        m.Field(r => r.ObjectType).Editable(false);
                        m.Field(r => r.Category).DefaultValue(ViewData["defaultCategory"] as Aircond.Raspberry.Models.CategoryView_REC).Editable(true);
                    })
                    .PageSize(30)
                    .Read(r => r.Action("ObjectRead", "Raspberry", new { @DeviceID = "" }))
                    .Update( u => u.Action("ObjectUpdate", "Raspberry"))
                    .Sort(sort => sort.Add("RecordTimestamp").Descending())
                ).Events(e => e.DataBound("OnBoundSetting").Change("onChangeSetting"))
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .Filterable()
                .HtmlAttributes(new { style = "height:500px;" })
                .Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
)

<script>

     var SignalR= "";
    $(function () {
    // Start the connection.
        SignalR = $.connection.realTimeHub;

        SignalR.client.Raspberry = function (name, message) {
             if (name == "WhoisDevice") {
                $("#gridSetting").data("kendoGrid").dataSource.read();
                $('#gridSetting').data("kendoGrid").dataSource.transport.options.read.url = "@Url.Action("ObjectRead", "Raspberry")?DeviceID="+message;
                $('#gridSetting').data("kendoGrid").dataSource.read();
                 $.notify("Success Whois Scan", "success",{ position:"bottom-right" });

            } else if (name == "Error") {
                 $.notify(message, "error",{ position:"bottom-right" });
            }
        }
        $.connection.hub.start().done(function () {
            $.notify("websocket running well", "info",{ position:"bottom-right" });
        });
    });

    function OnBoundSetting(e) {
        var voGrid = $("#gridSetting").data("kendoGrid");
        var voGridData = voGrid.dataSource.view();
        var vvID;
        var voRow;

        for (var i = 0; i < voGridData.length; i++) {
            vvID = voGridData[i].uid;
            voRow = voGrid.table.find("tr[data-uid='" + vvID + "']");
            if (voGridData[i].RecordStatus == 0) {

            }
            else if (voGridData[i].RecordStatus == 1) {
                //voGrid.select(voRow);
            }
        }
    }

    var RecordID = [];
    var voObject = [];
    var DeviceID = 0;
    function onChangeSetting(e) {
        var rows = e.sender.select();
        var grids = $("#gridSetting").data("kendoGrid");
        var dataItems = grids.dataSource.view();
        RecordID = [];
        voObject = [];
        if (dataItems.length > 0) {
            DeviceID = dataItems[0].DeviceID;
        }
        rows.each(function (e) {
            var grid = $("#gridSetting").data("kendoGrid");
            var dataItem = grid.dataItem(this);
            RecordID.push(dataItem.RecordID);
            voObject.push(dataItem.ObjectName + ":" + dataItem.Instance);
            DeviceID = dataItem.DeviceID;
        });
    }

    function setGriddatasource(e) {
        e.preventDefault();
        var DeviceName = $("#DeviceName").data("kendoDropDownList").value();
        $('#gridSetting').data("kendoGrid").dataSource.transport.options.read.url = "@Url.Action("ObjectRead", "Raspberry")?DeviceID="+DeviceName;
        $('#gridSetting').data("kendoGrid").dataSource.read();
    }

    function whoisDevice()
    {
        var DeviceName = $("#DeviceName").data("kendoDropDownList").value();
        if (DeviceName != "") {
            if (window.confirm("whois scan, old data will be removed. you sure ? ")) {
                var voData = {
                    cmd: "Whois",
                    value: DeviceName
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Command", "Raspberry", new { area = "AircondRaspberry" })',
                    data: JSON.stringify(voData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        if (result.msg != "success") {

                        }
                    },
                    error: function (xmlhttprequest, textstatus, message) {

                    }
                });
            }
        } else {
            $.notify("please select device", "error",{ position:"bottom-right" });
        }

    }
</script>