﻿@model Cams.Models.Psg_REC

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordTimestamp)
@Html.HiddenFor(m => m.RecordStatus)

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Device ID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { style = "width: 150px;", @maxlength = "15" })
        </div>
        <div class="k-edit-label">
            Device Name:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            CategoryID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.CategoryID).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" }).Value("BLE")
        </div>
        <div class="k-edit-label">
            IP Address:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.IPAddress).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Username:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.Username).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Password:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            URL RTSP:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.URLRtsp).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
    </div>
</div>