﻿@using System.Web.Script.Serialization;
@using RFID.Impinj.Models;
@model ImpinjDefault_REC
@{
    ViewBag.TitleBar = "Impinj Devices";
    ViewBag.Title = "Impinj Devices";
    Layout = "~/Views/Shared/_IotCategory.cshtml";

    ImpinjDefault_REC DataList = ViewData["Data"] as ImpinjDefault_REC;
    IList<ImpinjAntennaDefault_REC> DataAntenna = ViewData["DataAntenna"] as IList<ImpinjAntennaDefault_REC>;
    string json = "[]";
    if (DataAntenna.Count > 0)
    {
        json = new JavaScriptSerializer().Serialize(DataAntenna);
    }
}
<div class="accordion" id="ImpinjDefaultSetting">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Impinj Default Setting
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#ImpinjDefaultSetting">
            <div class="card-body row">

                <div class="col-md-6">
                    <input type="hidden" id="RecordID" value="@DataList.RecordID" />
                    <input type="hidden" id="RecordTimestamp" value="@DataList.RecordTimestamp" />
                    <input type="hidden" id="RecordStatus" value="@DataList.RecordStatus" />
                    <div class="form-group">
                        @Html.LabelFor(m => m.DeviceID)
                        @Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { @class = "form-control" }).Value(DataList.DeviceID)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.IPAddress)
                        @Html.Kendo().TextBoxFor(m => m.IPAddress).HtmlAttributes(new { @class = "form-control" }).Value(DataList.IPAddress)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ModelName)
                        @(Html.Kendo().DropDownListFor(m => m.ModelName)
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .Events(e => e.Change("changeModelName"))
                            .HtmlAttributes(new { @class = "w-100" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Type(HttpVerbs.Post).Action("GeneralTablesGetListByType", "GeneralTables", new { Area = "", ListType = "4" });
                                })
                                .ServerFiltering(true);
                            }).Value(DataList.ModelName)
                        )
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.OperatingRegion)
                        @(Html.Kendo().DropDownListFor(m => m.OperatingRegion)
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .HtmlAttributes(new { @class = "w-100" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Type(HttpVerbs.Post);
                                    read.Action("GeneralTablesGetListByType", "GeneralTables", new { Area = "", ListType = "5" });
                                })
                                .ServerFiltering(true);
                            }).Value(DataList.OperatingRegion)
                        )
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ReaderMode)
                        @(Html.Kendo().DropDownListFor(m => m.ReaderMode)
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .HtmlAttributes(new { @class = "w-100" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Type(HttpVerbs.Post);
                                    read.Action("GeneralTablesGetListByType", "GeneralTables", new { Area = "", ListType = "2" });
                                })
                                .ServerFiltering(true);
                            }).Value(DataList.ReaderMode.ToString())
                        )
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.SearchMode)
                        @(Html.Kendo().DropDownListFor(m => m.SearchMode)
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .Events(e => e.Change("changeSearchMode").DataBound("changeSearchMode"))
                            .HtmlAttributes(new { @class = "w-100" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Type(HttpVerbs.Post);
                                    read.Action("GeneralTablesGetListByType", "GeneralTables", new { Area = "", ListType = "3" });
                                })
                                .ServerFiltering(true);
                            }).Value(DataList.SearchMode.ToString())
                        )
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Session)
                        @(Html.Kendo().DropDownListFor(m => m.Session)
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .HtmlAttributes(new { @class = "w-100" })
                            .BindTo(new List<SelectListItem>() {
                                    new SelectListItem() {
                                        Text = "Session 0",
                                        Value = "0"
                                    },
                                    new SelectListItem() {
                                        Text = "Session 1",
                                        Value = "1"
                                    },
                                    new SelectListItem() {
                                        Text = "Session 2",
                                        Value = "2"
                                    },
                                    new SelectListItem() {
                                        Text = "Session 3",
                                        Value = "3"
                                    }
                            }).Value(DataList.Session.ToString())
                        )
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.AntennaHubEnabled)
                        @(Html.Kendo().DropDownListFor(m => m.AntennaHubEnabled)
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .Events(e => e.Change("changeAntennaHubEnabled"))
                                    .BindTo(new List<SelectListItem>() {
                                    new SelectListItem() {
                                        Text = "No",
                                        Value = "0"
                                    },
                                    new SelectListItem() {
                                        Text = "Yes",
                                        Value = "1"
                                    }
                            }).Value(DataList.AntennaHubEnabled.ToString())
                        )
                    </div>
                    <div class="form-group">
                        @{ bool isChecked = false; bool isReturn = false; }
                        @for (int i = 1; i <= 4; i++)
                        {
                            if (!isReturn)
                            {
                                List<ImpinjAntennaDefault_REC> findPort = DataAntenna.Where(w => w.AntennaPort == i).ToList();
                                if (findPort.Count > 0)
                                {
                                    isChecked = true;
                                    isReturn = true;
                                }
                            }
                            else
                            {
                                isChecked = false;
                            }
                            <div class="form-check radio-antenna-port">
                                @(Html.Kendo().RadioButton()
                                    .HtmlAttributes(new { @name = "AntennaPort", onclick = "antennaPortChange(this)" })
                                    .Name("AntennaPort" + i)
                                    .Label("Antenna Port " + i)
                                    .Value(i.ToString())
                                    .Checked(isChecked)
                                )
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        @{ int antenna_port = 4; }
                        @for (int i = 1; i <= antenna_port; i++)
                        {
                            <table class="table-bordered table-antenna-no" id="tableport-@i">
                                <thead>
                                    <tr>
                                        <th>Antenna No</th>
                                        <th>Tx Power</th>
                                        <th>Rx Sensitivity</th>
                                        <th>Antenna No</th>
                                        <th>Tx Power</th>
                                        <th>Rx Sensitivity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int antenna_row = 4; }
                                    @for (int j = 1; j <= antenna_row; j++)
                                    {
                                        <tr>
                                            @for (int k = 1; k <= 2; k++)
                                            {
                                                int a = j;
                                                if (k == 2) { a = antenna_row + j; }
                                                <td>
                                                    @(Html.Kendo().CheckBox().Name("AntennaNo" + i + "_" + a).Checked(false).Label(a.ToString()).HtmlAttributes(new { onclick = "onCheck(this)" }))
                                                </td>
                                                <td>
                                                    @Html.Kendo().NumericTextBox().Name("TxPower" + i + "_" + a).HtmlAttributes(new { @class = "form-control" }).Spinners(false).Max(30.00).Min(0).Decimals(2).Value(30.00).Events(e => e.Change("onNumericChange").Spin("onNumericChange"))
                                                </td>
                                                <td>
                                                    @Html.Kendo().NumericTextBox().Name("RxSensitivity" + i + "_" + a).HtmlAttributes(new { @class = "form-control" }).Spinners(false).Max(0).Min(-70).Decimals(1).Value(-70).Events(e => e.Change("onNumericChange").Spin("onNumericChange"))
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                                        }
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary" onclick="submitData(this, 'single')">Save</button>
                    <button type="button" class="btn btn-primary" onclick="submitData(this, 'all')">Save to all</button>
                    <button type="button" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Impinj")'">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@(Html.Kendo().Grid<RFID.Impinj.Models.Impinj_REC>()
    .Name("grid")
    .ToolBar(t =>
    {
        t.Custom().Text("Add New").Action("Form", "Impinj");
        t.Custom().Text("Stop").HtmlAttributes(new { @class="btn-cmd-service-all", style = "float:right" });
        t.Custom().Text("Start").HtmlAttributes(new { @class = "btn-cmd-service-all", style = "float:right" });
        t.Custom().Text("Disconnect").HtmlAttributes(new { @class = "btn-cmd-service-all", style = "float:right" });
        t.Custom().Text("Connect").HtmlAttributes(new { @class = "btn-cmd-service-all", style = "float:right" });
    })
    .Columns(columns =>
    {
        columns.Template(@<text>@item.RecordID</text>)
        .ClientTemplate("" +
        "<a class='k-button' href='" + Url.Action("Form", "Impinj", new { RecordID = "#=RecordID#" }) + "' title='Setting'><span class='fas fa-cog'></span></a>" +
        "<a class='k-button' href='javascript:void(0);' onclick='gridrow_onDelete(this)' title='Delete'><span class='fas fa-trash-alt'></span></a>" +
        "<button type='button' class='k-button btn-minw-30' onclick='cmd_service(this, \"connect\")' title='Connect'><span class='fa fa-check'></span></button>" +
        "<button type='button' class='k-button btn-minw-30' onclick='cmd_service(this, \"disconnect\")' title='Disconnect'><span class='fas fa-times'></span></button>" +
        "<button type='button' class='k-button btn-minw-30' onclick='cmd_service(this, \"start\")' title='Start'><span class='fas fa-play'></span></button>" +
        "<button type='button' class='k-button btn-minw-30' href='javascript:void(0);' onclick='cmd_service(this, \"stop\")' title='Stop'><span class='fas fa-stop'></span></button>" +
        "").Width(140);
        columns.Bound(c => c.DeviceID).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
        columns.Bound(c => c.IPAddress).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
        columns.Bound(c => c.ModelName).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
        columns.Bound(c => c.StatusReader).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
    })
    .DataSource(ds => ds
        .Ajax()
        .Model(m => m.Id(r => r.RecordID))
        .PageSize(30)
        .Create(c => c.Action("Create", "Impinj"))
        .Read(r => r.Action("GetList", "Impinj"))
        .Update(r => r.Action("Update", "Impinj"))
        .Destroy(r => r.Action("Delete", "Impinj"))
    )
    .Selectable()
    .Filterable(a => a.Mode(GridFilterMode.Row))
    .HtmlAttributes(new { style = "height:550px;" })
    .Pageable(p => p.Refresh(true))
    .Reorderable(r => r.Columns(true))
    .Resizable(r => r.Columns(true))
    .Sortable()
    .Scrollable()
)

<script type="text/javascript">
    $(".btn-cmd-service-all").click(function (e)
    {
        var $this = this;
        e.preventDefault();
        var cmd = $($this).html().toLowerCase();
        cmd_service('all', cmd);
    });
    function cmd_service(e, cmd)
    {
        var value = "all";
        var grid = $("#grid").data("kendoGrid");
        if (e != "all")
        {
            var dataitem = grid.dataItem(e.closest("tr"));
            value = dataitem.IPAddress;
        }
        
        var voData = {
            cmd: cmd,
            value: value
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Command", "Impinj")',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.msg != "success")
                {
                    alert(result.msg);
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }
    function gridrow_onDelete(e) {
        var grid = $("#grid").data("kendoGrid");
        var dataitem = grid.dataItem(e.closest("tr"));
        if (confirm("are you sure you want to delete this data?")) {
            var voData = {
                RecordID: dataitem.RecordID,
                DeviceID: dataitem.DeviceID
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Delete", "Impinj")',
                data: JSON.stringify(voData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled", "disabled");
                },
                success: function (result) {
                    alert(result.msg);
                    if (result.errorcode > 0) {
                        $(e).removeAttr("disabled");
                    } else {
                        grid.dataSource.read();
                    }
                },
                error: function (xmlhttprequest, textstatus, message) {

                }
            });
        }
    }
    
</script>

<!-- Setting Default Impinj -->
<script type="text/javascript">
    var antenna_port_data = '@json';
    if (antenna_port_data.length > 0) {
        antenna_port_data = antenna_port_data.replace(/&quot;/g, '"');
        antenna_port_data = JSON.parse(antenna_port_data);
    }
    var antenna_port_data_deleted = [];

    var region_onload = true;
    var wsd = "";
    $(document).ready(function () {
        wsd = $.connection.realTimeHub;
        $.connection.hub.start().done(function () {
        });
        wsd.client.RFIDImpinj = function (name, message) {
            console.log(name);
            if (name == "GridCommand") {
                $("#grid").data("kendoGrid").dataSource.read();
            }
        }

        if ($("input[name=AntennaPort]:checked").length == 0) {
            $("#AntennaPort1_1").trigger("click");
        }

        var idx = $("input[name=AntennaPort]:checked").attr("id").split("_")[1];
        $("#tableport-" + idx).show();
        load_table();
        changeModelName();
    });
    function load_table() {
        for (var i = 0; i < antenna_port_data.length; i++) {
            var AntennaPort = antenna_port_data[i].AntennaPort;
            var AntennaNo = antenna_port_data[i].AntennaNo;
            var TxPower = antenna_port_data[i].TxPower;
            var RxSensitivity = antenna_port_data[i].RxSensitivity;
            $("#AntennaNo" + AntennaPort + "_" + AntennaNo).prop("checked", true);
            $("#TxPower" + AntennaPort + "_" + AntennaNo).data("kendoNumericTextBox").value(TxPower);
            $("#RxSensitivity" + AntennaPort + "_" + AntennaNo).data("kendoNumericTextBox").value(RxSensitivity);
        }
    }
    function changeModelName() {
        var ddlModelName = $("#ModelName").data("kendoDropDownList");
        var data = {
            Model : ddlModelName.value()
        };

        if (!region_onload) {
            var ddlOperatingRegion = $("#OperatingRegion").data("kendoDropDownList");
                ddlOperatingRegion.dataSource.options.transport.read.data = data;
                ddlOperatingRegion.dataSource.options.transport.read.url = '@Url.Action("GetRegionByModel","Impinj")';
                ddlOperatingRegion.dataSource.read();
                ddlOperatingRegion.bind("dataBound", function (e) {
                ddlOperatingRegion.select(0);
            });
        } else {
            region_onload = false;
        }


        if(ddlModelName.value() == "SPEEDWAYR420"){
            $("#AntennaPort3_3").removeAttr("disabled");
            $("#AntennaPort4_4").removeAttr("disabled");
            $("#AntennaHubEnabled").data("kendoDropDownList").enable(true);
            changeAntennaHubEnabled();
        }
        if(ddlModelName.value() == 'SPEEDWAYR640'){
            $("#AntennaPort3_3").removeAttr("disabled");
            $("#AntennaPort4_4").removeAttr("disabled");

            $("#AntennaHubEnabled").data("kendoDropDownList").value(0);
            $("#AntennaHubEnabled").data("kendoDropDownList").enable(false);
            changeAntennaHubEnabled();
        }
        if(ddlModelName.value() == 'SPEEDWAYR1000'){
            $("#AntennaPort3_3").removeAttr("disabled");
            $("#AntennaPort4_4").removeAttr("disabled");

            $("#AntennaHubEnabled").data("kendoDropDownList").value(0);
            $("#AntennaHubEnabled").data("kendoDropDownList").enable(false);
            changeAntennaHubEnabled();
        }
        if ((ddlModelName.value() == "SPEEDWAYR220") || (ddlModelName.value() == 'MICRONETICSRFIDFORKLIFTSYSTEM')) {
            $("#AntennaPort3_3").attr("disabled", "disabled");
            $("#AntennaPort4_4").attr("disabled", "disabled");

            $.each($("[id*=AntennaNo3],[id*=AntennaNo4]"), function (i, e) {
                $(e).prop("checked", false);
            });

            $("#AntennaPort1_1").prop("checked", true);
            antennaPortChange($("#AntennaPort1_1"));

            $("#AntennaHubEnabled").data("kendoDropDownList").value(0);
            $("#AntennaHubEnabled").data("kendoDropDownList").enable(false);
            changeAntennaHubEnabled();
        }
    }
    function changeSearchMode() {
        var value = $("#SearchMode").data("kendoDropDownList").text();
        if (value == "TAGFOCUS") {
            $("#Session").data("kendoDropDownList").enable(false);
            $("#Session").data("kendoDropDownList").select(1);
        } else {
            $("#Session").data("kendoDropDownList").enable(true);
        }
    }
    function changeAntennaHubEnabled() {
        var value = $("#AntennaHubEnabled").data("kendoDropDownList").value();
        if (value == "0") {
            $.each($("[id*=AntennaNo]"), function (i, e) {
                var idx = $(e).attr("id").split("_")[1];
                if (idx != "1") {
                    $(e).attr("disabled", "disabled");
                    $(e).prop("checked", false);
                } else {
                    $(e).removeAttr("disabled");
                }
            });
            $.each($("[id*=TxPower]"), function (i, e) {
                var idx = $(e).attr("id").split("_")[1];
                if (idx != "1") {
                    $(e).data("kendoNumericTextBox").enable(false);
                } else {
                    $(e).data("kendoNumericTextBox").enable(true);
                }
            });
            $.each($("[id*=RxSensitivity]"), function (i, e) {
                var idx = $(e).attr("id").split("_")[1];
                if (idx != "1") {
                    $(e).data("kendoNumericTextBox").enable(false);
                } else {
                    $(e).data("kendoNumericTextBox").enable(true);
                }
            });
        } else {
            $.each($("[id*=AntennaNo]"), function (i, e) {
                $(e).removeAttr("disabled");
            });
            $.each($("[id*=TxPower]"), function (i, e) {
                $(e).data("kendoNumericTextBox").enable(true);
            });
            $.each($("[id*=RxSensitivity]"), function (i, e) {
                $(e).data("kendoNumericTextBox").enable(true);
            });
        }
    }

    function antennaPortChange(e) {
        var idx = $(e).attr("id").split("_")[1];
        $(".table-antenna-no").hide();
        $("#tableport-" + idx).show();
    }
    function onCheck(e) {

    }
    function onNumericChange(e) {

    }
    function get_antenna_data() {
        var new_data = [];
        $.each($("[id*=AntennaNo]:checked"), function (i, e) {
            var antenna_no_s = $(e).attr("id").split("_");
            var antenna_port = antenna_no_s[0].substring(antenna_no_s[0].length-1);
            var antenna_no = antenna_no_s[1];
            var txpower = $("#TxPower"+ antenna_port + "_" + antenna_no).data("kendoNumericTextBox").value();
            var rxsensitivity = $("#RxSensitivity" + antenna_port + "_" + antenna_no).data("kendoNumericTextBox").value();
            var antenna_data = {
                "AntennaPort": antenna_port,
                "AntennaNo": antenna_no,
                "TxPower": txpower,
                "RxSensitivity": rxsensitivity,
            };
            var idx = antenna_port_data.findIndex(f => f.AntennaPort == antenna_port && f.AntennaNo == antenna_no);
            if (idx > -1) {
                antenna_data = antenna_port_data[idx];
                antenna_data["TxPower"] = txpower;
                antenna_data["RxSensitivity"] = rxsensitivity;
            }
            new_data.push(antenna_data);
        });
        if (new_data.length > antenna_port_data.length) {
            antenna_port_data_deleted = new_data.diff(antenna_port_data);
        } else {
            antenna_port_data_deleted = antenna_port_data.diff(new_data);
        }
        antenna_port_data_deleted = antenna_port_data_deleted.filter(f => f.RecordID != undefined);
        antenna_port_data = new_data;
    }
    function submitData(e, type) {
        var url = '@Url.Action("SubmitDefault", "Impinj")';
        if (type == "all")
            url = '@Url.Action("SubmitAllDefault", "Impinj")';

        get_antenna_data();
        var reader_data = {
            RecordID: $("#RecordID").val(),
            RecordTimestamp: $("#RecordTimestamp").val(),
            RecordStatus: $("#RecordStatus").val(),
            DeviceID: $("#DeviceID").val(),
            ModelName: $("#ModelName").data("kendoDropDownList").value(),
            CategoryID: "RFID",
            OperatingRegion: $("#OperatingRegion").data("kendoDropDownList").value(),
            AntennaHubEnabled: $("#AntennaHubEnabled").val(),
            ReaderMode: $("#ReaderMode").data("kendoDropDownList").value(),
            SearchMode: $("#SearchMode").data("kendoDropDownList").value(),
            Session: $("#Session").val(),
            IPAddress: $("#IPAddress").val()
        };
        var data = {
            Reader: reader_data,
            AntennaPortData: antenna_port_data,
            AntennaPortDataDeleted: antenna_port_data_deleted
        };
        var validation_data = valid(data);
        if (validation_data.errorcode > 0) {
            alert(validation_data.msg);
        } else {
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled", "disabled");
                },
                success: function (result) {
                    alert(result.msg);
                    if (result.errorcode > 0)
                    {
                        $(e).removeAttr("disabled", "disabled");
                    } else {
                        window.location.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: true,
                processData: false
            });
        }

    }
    function valid(data) {
        var result = {
            msg: "",
            errorcode: 0
        }
        if (data.Reader.DeviceID == "") { result.msg += "Device ID is required\n"; result.errorcode = 500; }
        if (data.Reader.ModelName == ""){ result.msg += "Model Name is required\n";result.errorcode = 500; }
        if (data.Reader.CategoryID == ""){ result.msg += "Category ID is required\n"; result.errorcode = 500;}
        if (data.Reader.OperatingRegion == ""){ result.msg += "Operating Region is required\n"; result.errorcode = 500;}
        if (data.Reader.AntennaHubEnabled == ""){ result.msg += "Antenna Hub Enable is required\n"; result.errorcode = 500;}
        if (data.Reader.ReaderMode == ""){ result.msg += "Reader Mode is required\n"; result.errorcode = 500;}
        if (data.Reader.Session == ""){ result.msg += "Session is required\n"; result.errorcode = 500;}
        if (data.Reader.IPAddress == ""){ result.msg += "IP Address is required\n"; result.errorcode = 500;}
        if (data.AntennaPortData.length == 0) { result.msg += "Antenna Port Data is required\n"; result.errorcode = 500; }

        return result;
    }
    Array.prototype.diff = function(a) {
        return this.filter(function(i) {return a.indexOf(i) < 0;});
    };
</script>
