﻿@using RFID.Impinj.Models;
@{
    ViewBag.TitleBar = "RFID - Presence Location";
    ViewBag.Title = "RFID - Presence Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
    string json_file = baseUrl + "Components/Plugins/RFIDImpinj/presence_location.json";
}

<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<ImpinjLocationLog_REC>()
                .Name("grid")
                .Excel(excel => excel
                    .FileName("RFID_Loc" + DateTime.Now.ToString("yyyyMMdd") + ".xlsx")
                    .Filterable(true)
                    .ProxyURL(Url.Action("Excel_Export_Save", "Grid"))
                )
                .Columns(columns =>
                {
                    columns.Bound(c => c.RecordTimestamp).ClientTemplate("#= kendo.toString(kendo.parseDate(RecordTimestamp, 'yyyy-MM-ddTHH:mm:ss.fff'), 'dd-MMM-yyyy HH:mm:ss.fff') #").Filterable(f => f.Cell(c => c.ShowOperators(false)).Enabled(false)).Width(90);
                    columns.Bound(c => c.EPC).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                    columns.Bound(c => c.LocationID).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                    columns.Bound(c => c.PersonName).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                    columns.Bound(c => c.RSSI).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                })
                .DataSource(ds => ds
                    .Ajax()
                    .Model(m => m.Id(r => r._id))
                    .ServerOperation(true)
                    .PageSize(30)
                    .Read(r => r.Action("GetListPresenceLocation", "Impinj"))
                    //.Sort(s=>s.Add("LocationID").Descending())
                )
                .AutoBind(false)
                .Selectable()
                .Filterable(a => a.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height:550px;" })
                .Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
            )
        </div>
    </div>
    
</div>
<script type="text/javascript">
    var ws3D = "";
    $(document).ready(function () {
        ws3D = $.connection.realTimeHub;
        $.connection.hub.start().done(function () {
        });
        ws3D.client.RFIDImpinj = function (name, data, data2) {
            console.log(name, data);
            if (name == "PresenceLocation") {
                $("#grid").data("kendoGrid").dataSource.read({data: data});
            }
        }
        setInterval(function () {
            var now = new Date();
            var grid = $("#grid").data("kendoGrid");
            var data = grid.dataSource.data();
            var dataItem = data.filter(w => w.RecordTimestamp > new Date(Date.now() - ( @Convert.ToInt32(System.Web.Configuration.WebConfigurationManager.AppSettings["human_presence_clear_time"]) * 1000 )));
            grid.dataSource.data(dataItem);
        }, 100);
    });
</script>