﻿html, body {
    height: 100%;
    font-size: 13px;
}

    body.bg-login {
        background-image: url('img/component.png');
        overflow: hidden;
    }

.login-form-title {
    text-align: center;
}

body.bg-login:before {
    background-color: #4896fe;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.login-wrapper {
    height: 100%;
}

.right-area {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    padding: 20px;
    display: table;
}

.login-wrapper > .row {
    height: 100%;
}

.left-area {
    display: table;
    height: 100%;
}

.left-area h1 {
    color: #fff;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    text-shadow: 2px 3px 3px #243240;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}

.wrapper-content-right-area {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    color: #505050;
}

.wrapper-content-right-area img, .wrapper-content-right-area h5 {
    text-align: center;
}
    .wrapper-content-right-area h5 {
        margin: 35px 0 20px 0;
    }

.form-check.row {
    display: flex;
    margin: 0;
    padding: 0 0 0 12px;
}

.align-right {
    text-align: right;
}

.wrapper-content-right-area a {
    color: #505050;
    text-decoration: none;
}
.form-button {
    text-align: center;
}

.form-button a {
    width: 125px;
    color: #fff;
}
.wrapper-content-right-area .form-control[readonly]{
    background: none;

}