@font-face {
    font-family: 'circular-std';
    src: url('fonts/circular-std/CircularStd-Book.eot'); /* IE9 Compat Modes */
    src: url('fonts/circular-std/CircularStd-Book?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/circular-std/CircularStd-Book.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/circular-std/CircularStd-Book.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/circular-std/CircularStd-Book.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/circular-std/CircularStd-Book.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body, html {
    font-size: 12px;
    font-family: "circular-std";
    background-color: #f3f6f9;
    height: 100%;
    padding: 0;
}

a {
    color: #007bff;
    text-decoration: none;
}

.wrapper-canvas {
    position: relative;
    width: 100%;
    float: left;
}

#irDragBoxCanvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
    z-index: 999;
}

.wrapper-digitaltwin {
    width: 50%;
    float: left;
}

.thermalcamera-stream {
    position: relative;
    margin: 10px 0;
}

.thermalcamera-left {
    float: left;
    margin-right: 20px;
}

.clearfix {
    clear: both;
    display: block;
}

.left-bar {
    width: 10%;
    float: left;
}

.content-bar {
    float: left;
    width: 90%;
    border: 1px solid #e4e4e4;
    margin: -1px;
}

.logo {
    text-align: center;
    width: 75%;
    margin-top: 5px;
}


.menu ul {
    list-style: none;
    padding: 0;
}

    .menu ul li a {
        text-decoration: none;
        display: block;
        background: #fff;
        padding: 10px;
        border: 1px solid #efefef;
        margin: 1px 0;
    }

.top-bar {
    background: #fff;
    border: 1px solid #efefef;
    padding: 20px;
    text-align: right;
}

.title-bar {
    background: #ded6fd;
    display: block;
    padding: 15px;
    color: #6d4aff;
}

#device-dashboard {
    padding: 5px;
}

.iframe {
    width: 100%;
    height: 416px;
    border: none;
}

.padding-20 {
    padding: 20px;
}

.padding-5 {
    padding: 5px;
}

.padding-top-0 {
    padding-top: 0;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 10px;
    height: 50px;
    background: #fff;
    border: none;
    border-radius: 0;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100%;
}

#sidebar {
    min-width: 170px;
    max-width: 170px;
    background: #fff;
    transition: all 0.3s;
    box-shadow: 2px 0px 10px #e4e4e4;
    min-height: 100%;
}

    #sidebar .sidebar-header {
        color: #fff;
    }

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

        #sidebar.active .sidebar-header h3,
        #sidebar.active .CTAs {
            display: none;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

        #sidebar.active .logo {
            display: none;
        }

    #sidebar .logo {
        display: inline-block;
    }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }

        #sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
        }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 10px;
        background: #2E85F7;
        height: 50px;
        text-align: center;
    }

        #sidebar .sidebar-header strong {
            display: none;
            font-size: 1.8em;
        }

    #sidebar ul.components {
        padding: 20px 0;
        color: #6A707E;
    }

    #sidebar ul li a {
        padding: 10px 15px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #0056b3;
            background: #fff;
        }

        #sidebar ul li a i {
            margin-right: 10px;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        background: #e5f0ff;
        border-left: 4px solid #2290ff;
        color: #4896FE;
        padding-left: 10px;
    }

.sidebar-header h3.logo {
    font-family: Helvetica;
    font-weight: bolder;
    letter-spacing: -1px;
    text-align: center;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /* min-height: 100vh; */
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

        #sidebar ul li a span {
            font-size: 0.85em;
        }

        #sidebar ul li a i {
            margin-right: 0;
            display: block;
        }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

button#sidebarCollapse {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #90c0ff;
    color: #fff;
    padding: 10px;
}

img.avatar-img {
    width: 35px;
    border-radius: 100%;
    margin-right: 5px;
}

.navbar-header {
    display: table-row;
}

    .navbar-header li {
        display: table-cell;
    }

    .navbar-header > li.nav-item {
        position: relative;
    }

ul.profile-dropdown {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    background: #f8f9fa;
    top: 57px;
    width: 100%;
    box-shadow: 2px 0px 10px #e4e4e4;
    z-index: 999;
}

    ul.profile-dropdown li {
        display: block;
    }

        ul.profile-dropdown li a {
            padding: 7px 10px !important;
            display: block;
            background: #f8f9fa;
        }

            ul.profile-dropdown li a i {
                margin-right: 5px;
            }

li.last-child-profile-dropdown {
    border-top: 1px solid #e0e0e0;
    color: #ff4949;
}

.nav-title {
    background: #d3e6ff !important;
}

    .nav-title li, .nav-title li.active {
        color: #4896FE;
    }

.alert.alert-default {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.text-orange {
    color: #fda141
}

.alert-red-gradient {
    background: rgba(227,108,217,1);
    background: -moz-linear-gradient(left, rgba(227,108,217,1) 0%, rgba(254,96,174,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(227,108,217,1)), color-stop(100%, rgba(254,96,174,1)));
    background: -webkit-linear-gradient(left, rgba(227,108,217,1) 0%, rgba(254,96,174,1) 100%);
    background: -o-linear-gradient(left, rgba(227,108,217,1) 0%, rgba(254,96,174,1) 100%);
    background: -ms-linear-gradient(left, rgba(227,108,217,1) 0%, rgba(254,96,174,1) 100%);
    background: linear-gradient(to right, rgba(227,108,217,1) 0%, rgba(254,96,174,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e36cd9', endColorstr='#fe60ae', GradientType=1 );
    color: #fff;
    border: none;
}

.alert-orange-gradient {
    background: rgba(244,134,101,1);
    background: -moz-linear-gradient(left, rgba(244,134,101,1) 0%, rgba(244,134,101,1) 50%, rgba(253,162,63,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(244,134,101,1)), color-stop(50%, rgba(244,134,101,1)), color-stop(100%, rgba(253,162,63,1)));
    background: -webkit-linear-gradient(left, rgba(244,134,101,1) 0%, rgba(244,134,101,1) 50%, rgba(253,162,63,1) 100%);
    background: -o-linear-gradient(left, rgba(244,134,101,1) 0%, rgba(244,134,101,1) 50%, rgba(253,162,63,1) 100%);
    background: -ms-linear-gradient(left, rgba(244,134,101,1) 0%, rgba(244,134,101,1) 50%, rgba(253,162,63,1) 100%);
    background: linear-gradient(to right, rgba(244,134,101,1) 0%, rgba(244,134,101,1) 50%, rgba(253,162,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f48665', endColorstr='#fda23f', GradientType=1 );
    color: #fff;
    border: none;
}

.alert-primary-gradient {
    background: rgba(154,86,255,1);
    background: -moz-linear-gradient(left, rgba(154,86,255,1) 0%, rgba(215,138,253,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(154,86,255,1)), color-stop(100%, rgba(215,138,253,1)));
    background: -webkit-linear-gradient(left, rgba(154,86,255,1) 0%, rgba(215,138,253,1) 100%);
    background: -o-linear-gradient(left, rgba(154,86,255,1) 0%, rgba(215,138,253,1) 100%);
    background: -ms-linear-gradient(left, rgba(154,86,255,1) 0%, rgba(215,138,253,1) 100%);
    background: linear-gradient(to right, rgba(154,86,255,1) 0%, rgba(215,138,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a56ff', endColorstr='#d78afd', GradientType=1 );
    color: #fff;
    border: none;
}

.navbar-header > li > a > i {
    color: #707070;
}

.padding-0 {
    padding: 0 !important;
}

.sonoff-popup .card-body > img {
    width: 50px;
}

.epoch h1 {
    font-size: 15px;
    margin: 0;
    padding: 5px;
    line-height: 22px;
}

.realtime-chart-device {
    overflow: hidden
}

.gadget-img img {
    width: 98px !important;
}

.thermalcamera-popup .card-body > img, .cctv-area .card-body > img {
    width: 50px;
}

.card-statistic-right-camera {
    height: 285px;
}

.card-device-left-camera {
    height: 100px;
}

.table-device-info td {
    line-height: 13px;
    text-align: left;
    vertical-align: top;
    padding-top: 5px;
    font-size: 11px;
}

    .table-device-info td:first-child {
        padding: 5px 0 0 5px;
    }

.switch-device {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #e4e4e4;
}

.card.card-icon > .card-header {
    background: none;
    border: none;
    padding: 5px 10px;
}

.card.card-icon > .card-body {
    width: 100%;
    height: 92px;
    position: relative;
}

    .card.card-icon > .card-body > img, .card.card-front > .card-body > * {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 60px;
    }

.card.card-icon.card-front > .card-body {
    height: 80px;
    text-align: center;
}

.card.card-front .card-header {
    font-size: 13px;
    padding: 10px 0;
}

.card.card-front > .card-body > i {
    font-size: 50px;
}

.card.card-front > .card-body > span {
    font-size: 25px;
}

.card-icon-left img {
    width: 50px;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
}

.card-icon-left {
    position: relative;
    height: 92px;
    padding: 0;
    border-right: 1px solid #e4e4e4;
}

.card-content-right {
    padding: 0;
}

.kpi-wrapper h4 {
    font-size: 20px;
    font-weight: bold;
}

.icon-kpi i {
    font-size: 35px;
}

.icon-kpi {
    position: relative;
    text-align: center;
}

.kpi-ieq > div {
    padding: 0;
}

    .kpi-ieq > div .card {
        border: 0;
        margin: 0;
        background: none;
    }

.kpi-ieq {
    border: 1px solid #e4e4e4;
    border-radius: .25rem;
    background: #fff;
}

    .kpi-ieq > div .card-header {
        text-align: center;
    }

ul#dashboardSub i {
    font-size: 16px;
    vertical-align: middle;
}

.body-content {
    padding: 30px;
}

.category-content {
    background: #fff;
    margin-left: 3px;
    min-height: 87%;
    padding: 0 15px;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.card-form .card-header {
    background: none;
    border: none;
}

.card-form {
}

    .card-form .card-logo i {
        font-size: 70px;
        color: #2e85f7;
        display: table-cell;
        vertical-align: middle
    }

    .card-form .card-header h5 {
        color: #464A53;
        font-size: 14px;
        padding: 10px;
        margin: 0;
    }

.card-body.card-logo {
    padding: 0;
    min-height: 140px;
    vertical-align: middle;
    display: table;
}

.button-area {
    margin-top: 60px;
}

.category-page .k-upload {
    /*color: #444;
    background-color: #fff;
    margin: 10px;*/
}

.category-page .k-dropzone,
.category-page .k-fieldselector .k-list .k-item,
.category-page .k-list .k-state-focused,
.category-page .k-list .k-state-highlight,
.category-page .k-list .k-state-hover,
.category-page .k-list .k-state-selected,
.category-page .k-list-optionlabel,
.category-page .k-listbox .k-item {
    border-radius: 1px;
    height: 180px;
}

.category-page .btn-upload-plugin {
    bottom: -150px;
    margin: 0;
}

.category-image {
    width: 100%;
    vertical-align: middle;
}

.category-page .card-form {
    min-height: 275px;
}

ul.k-upload-files.k-reset {
    /* position: absolute; */
    /* width: 100%; */
    /* top: 55px; */
    /* text-align: left; */
}

.k-upload-status.k-upload-status-total {
    position: absolute;
    z-index: 1;
}

.list-category {
    overflow-y: auto;
    margin: 0;
    padding: 20px 0;
}

    .list-category li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .list-category .add-category {
        padding: 10px;
        border-bottom: 1px solid #e4e4e4;
    }

.category-content .category-menu {
    margin: 0;
    padding: 0;
}

.category-content .k-widget {
    /*border: 0;*/
}

    .category-content .k-widget .k-dropzone {
        padding: 0;
    }

.list-category li a {
    padding: 10px;
    display: block;
}

    .list-category li a:hover {
        background: #e5f0ff;
    }

.category-content > .row {
    height: 100%;
}

.category-content .list-category {
}

.category-box {
    padding: 20px;
}

    .category-box .card-body {
        min-height: 150px;
    }

.helper-box {
    display: inline-block;
    min-height: 120px;
    vertical-align: middle;
}

.btn-minw-30 {
    min-width: 30px !important;
}

.border-iotcategory-menu {
    box-shadow: 1px 1px 0 #e4e4e4;
}

.border-right {
    box-shadow: 0 1px 0 #e4e4e4;
}

.border-bottom {
    box-shadow: 1px 0 0 #e4e4e4;
}

.form-check.radio-antenna-port {
    display: inline-block
}

.table-antenna-no th, .table-antenna-no td {
    padding: 10px;
}

[id*=tableport] {
    display: none;
}

input.k-textbox[disabled], input.k-textbox[disabled]:hover {
    background: #efefef;
}

#ImpinjDefaultSetting .btn-link {
    color: #fff;
}

#ImpinjDefaultSetting > .card:first-child {
    border-bottom: 1px solid #e4e4e4;
}

.setting_iframe {
    width: 100%;
    height: 100%;
}

#imgLiveView {
    width: 100%;
}

.wrapper-stream-image {
    width: 33.3%;
    float: left;
}

    .wrapper-stream-image img {
        width: 100%;
    }

.live-stream-all {
    cursor: pointer;
}

.rfid-antenna-location {
    display: inline-block;
    width: 73%;
}

.loading-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    display: none;
    background: #ffffffb8;
    line-height: 50;
}

.loading-spinner-text {
    position: absolute;
    margin-top: 25px;
    width: 100%;
    left: 0;
}

.loading-spinner > div {
    width: 18px;
    height: 18px;
    background-color: #2e85f7;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: loading-spinner 1.4s infinite ease-in-out both;
    animation: loading-spinner 1.4s infinite ease-in-out both;
}

.loading-spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loading-spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes loading-spinner {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes loading-spinner {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.checkbox-list {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 40px;
}

.input-checkbox {
    float: left;
}

    .input-checkbox .k-checkbox-label {
        padding-left: 20px;
    }

ul.has-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
}

.has-nav li {
    float: left;
    margin: 0;
    padding: 7px 10px;
}

    .has-nav li.active {
        border: 1px solid #e4e4e4;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom: none;
    }

.wrapper-card-tab {
    display: flex;
}

.card-tab {
    margin-right: 5px;
}
    .card-tab .card.active {
        background-color: #d3e6ff;
    }

.wrapper-has-nav-content {
    border: 1px solid #e4e4e4;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
    margin: 0;
}
textarea.has-textarea {
    width: 100%;
    border: 1px solid #e4e4e4;
    resize: vertical;
    min-height: 100px;
}

    textarea.has-textarea:focus {
        outline: none;
        box-shadow: 0 0 0px 1px #e4e4e4;
    }
