﻿@using has.iot.Models;
@{
    ViewBag.Title = "Events Log";
    ViewBag.TitleBar = "Events Log";
}
<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<EventsLog>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.RecordTimestamp).Format("{0:dd-MM-yyyy hh:mm:ss}").Filterable(f => f.Cell(c => c.ShowOperators(false))).Width(90);
                columns.Bound(c => c.Category).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.Device).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.Type).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
                columns.Bound(c => c.Messages).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Sortable(false).Width(90);
            })
            .DataSource(ds => ds
                .Ajax()
                .Model(m => m.Id(r => r.RecordID))
                .PageSize(30)
                .Read(r => r.Action("EventsLogGetList", "EventsLog"))
            )
            .Selectable()
            .Filterable(a => a.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            )
        </div>
    </div>
</div>