﻿@model has.iot.Models.DeviceAndPlugin_REC

@{
    ViewBag.PluginSelect = @ViewBag.PluginSelect;

}
<style type="text/css">
    #DeviceID {
        text-transform: uppercase;
    }
</style>
<div class="row" style="margin: 5px !important;">
    <div class="col-md-6" style="padding: 0px !important;">
        <div class="k-edit-label">
            Device ID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { style = "width: 150px; text-transform: uppercase;", @maxlength = "12" })

        </div>

        <div class="k-edit-label">
            Device Name:
        </div>
        <div class="k-edit-field">
            @Html.TextArea("DeviceName", "", new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            IP Address:
        </div>
        <div class="k-edit-field">
            @Html.TextArea("IPAddress", "", new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Mac Address:
        </div>
        <div class="k-edit-field">
            @Html.TextArea("MacAddress", "", new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Location:
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownList()
                        .Name("LocationID")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Select Location")
                        //.BindTo(ViewBag.LocationSelect)
                        .HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label">
            Plugin:
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownList()
                        .Name("PluginID")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .OptionLabel("Select Plugin")
                        //.BindTo(ViewBag.PluginSelect)
                        .HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label">
            Brand:
        </div>
        <div class="k-edit-field">
            <script>
                function filterPluginID() {
                    return {
                        pluginID: $("#PluginID").val()
                    };
                }
            </script>
            @(Html.Kendo().DropDownList()
                                        .Name("BrandID")
                                        .DataTextField("Text")
                                        .DataValueField("Value")
                                        .OptionLabel("Select Brand")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetBrandByPlugin", "DeviceManager").
                                                Data("filterPluginID");
                                            })
                                            .ServerFiltering(true);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        .Enable(false)
                                        .AutoBind(false)
                                        .CascadeFrom("PluginID")
            )

        </div>
    </div>
</div>
