﻿@{
    ViewBag.Title = "Person";
    ViewBag.TitleBar = "Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ExcelName = "BLE_Minew_" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
}
<div class="body-content">
    @(Html.Kendo().Grid<has.iot.Models.Person_REC>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Command(c =>
                {
                    c.Edit().Text(" ");
                    c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                }).Width(70);

                columns.Bound(c => c.RecordID).Visible(false);
                columns.Bound(c => c.RecordTimestamp).Visible(false);
                columns.Bound(c => c.RecordStatus).Visible(false);

                columns.Bound(c => c.PersonID).Title("Person ID").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                columns.Bound(c => c.PersonName).Title("Person Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                columns.Bound(c => c.EPC).Title("EPC").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
            })
            .DataSource(ds => ds
                .Ajax()
                .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
                .Model(m =>
                {
                    m.Id(r => r.RecordID);
                    m.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
                })
                .PageSize(30)
                .Create(c => c.Action("Create", "Person"))
                .Read(r => r.Action("Read", "Person"))
                .Update(r => r.Action("Update", "Person"))
                .Destroy(r => r.Action("Destroy", "Person"))
                )
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
            .Excel(excel => excel
                .AllPages(true)
                .FileName(@ViewBag.ExcelName + ".xlsx")
                .Filterable(true)
                //.ForceProxy(true)
                //.ProxyURL(Url.Action("Account_ExcelExport", "Master"))
                )
            .Events(e => e.Edit("grid_onEdit"))
            .Selectable()
            .Filterable(a => a.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            .ToolBar(t =>
            {
                t.Create().Text("Add New");
            }
        )
    )
</div>
<script type="text/javascript">
    var ws= "";
    $(function () {
    // Start the connection.
    });
        
    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update" || e.type == "destroy") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
        }
        else {

        }
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Error");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function gridrow_onDelete(e) {
        e.preventDefault();

        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);

        vWindowModal.title("Delete Confirmation?");
        vWindowModal.content(vTemplateDelete(vData));
        vWindowModal.center().open();

        $("#buttonDeleteYes").click(function () {
            vGrid.removeRow(vRow);
            vWindowModal.close();
        });

        $("#buttonDeleteNo").click(function () {
            vWindowModal.close();
        });
    }
</script>
<script type="text/x-kendo-template" id="templateDelete">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Person ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="PersonID" name="DeviceID" value="#=PersonID#" style="text-transform: uppercase;" readonly="readonly"> </div>
        </div>
        <div class="nameEditor">
            <div class="k-edit-label">Person Name:</div>
            <div class="k-edit-field"><input class="k-textbox" id="PersonName" name="DeviceName" value="#=PersonName#" readonly="readonly"></div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>

