﻿@using Elevator.Elevator.Models
@model Elevator.Elevator.Models.Elevator_REC
@{
    ViewBag.Title = "Iot Category :: Elevator :: Elevator :: Send Command";
    ViewBag.TitleBar = "Iot Category :: Elevator :: Elevator :: Send Command";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";

    ElevatorModel oQuery = new ElevatorModel();
    List<Elevator_REC> oModel = oQuery.GetList().ToList();
}
<div class="wrapper-card-tab">
    <div class="card-tab">
        <a href="@Url.Action("Index","Elevator",new { Area="ElevatorElevator" }, null)">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> List Device
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="card-tab">
        <a href="javascript:void(0)">
            <div class="card card-form active">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Send Command
                    </h5>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="wrapper-has-nav">
    <ul class="has-nav">
        <li><a href="@Url.Action("cmdParkingOperation","Elevator",new { Area="ElevatorElevator" }, null)">Parking Operation</a></li>
        <li><a href="@Url.Action("cmdPeakOperation","Elevator",new { Area="ElevatorElevator" }, null)">Peak Operation</a></li>
        <li><a href="@Url.Action("cmdStandby","Elevator",new { Area="ElevatorElevator" }, null)">Standby</a></li>
        <li class="active"><a href="#Heartbeat">Heartbeat</a></li>
    </ul>
</div>
<div class="wrapper-has-nav-content row">
    <div class="col-md-6">
        <label class="col-form-label">
            Type
        </label>
        <div class="">
            @(Html.Kendo().DropDownList()
                    .Name("ObjectType")
                    .DataTextField("Description")
                    .DataValueField("Address")
                    .HtmlAttributes(new { style = "width:168px" })
                    .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("ObjectHeatbeat", "Elevator", new { Area = "ElevatorElevator" });
                        })
                        .ServerFiltering(true);
                    })
            )
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-form-label">
                Preview
            </label>
            <div class="">
                <textarea id="cmd-preview" class="has-textarea" readonly></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-4 col-form-label">
                &nbsp;
            </label>
            <div class="">
                <button class="btn btn-success" onclick="SendCommand(this);" id="cmd-send">Send</button>
                <button class="btn btn-primary" onclick="Preview()" id="cmd-send">Preview</button>
            </div>
        </div>
    </div>
</div>
<script>
    let aList = [];
    let dList = [];
    let cmd = {
        "timeStamp": parseInt(new Date().getTime()),
        "command": []
    };
    const heartbeat_send = ["1FF"];
    const heartbeat_get = ["1FE"];
    var SignalR = "";
    $(function () {
        // Start the connection.
        SignalR = $.connection.realTimeHub;
        $.connection.hub.start().done(function () {
            $.notify("websocket running well", "info", { position: "bottom-right" });
        });
        SignalR.client.Elevator = function (name, message) {

        }
    });
    function Preview() {
        getCommand();
        $("#cmd-preview").val(JSON.stringify(cmd, undefined, 4));
    }
    function getCommand() {
        aList = [];
        dList = [];
        cmd.timeStamp = parseInt(new Date().getTime());
        cmd.command = [];
        const TypeSelected = $("#ObjectType").data("kendoDropDownList").value();

        var idx_heartbeat_send = heartbeat_send.indexOf(TypeSelected);
        var idx_heartbeat_get = heartbeat_get.indexOf(TypeSelected);

        if (idx_heartbeat_send > -1) {
            for (var i = 0; i < heartbeat_send.length; i++) {
                const cmd_temp = {
                    a: parseInt("0x" + heartbeat_send[i]),
                    d: 255
                };
                cmd.command.push(cmd_temp);
                aList.push(heartbeat_send[i]);
                dList.push(toBinary(255));
            }
        } else if (idx_heartbeat_get > -1) {
            for (var i = 0; i < heartbeat_get.length; i++) {
                const cmd_temp = {
                    a: parseInt("0x" + heartbeat_get[i]),
                    d: 255
                };
                cmd.command.push(cmd_temp);
                aList.push(heartbeat_get[i]);
                dList.push(toBinary(255));
            }
        }
    }
    function SendCommand(e) {
        getCommand();
        var voData = {
            aList: aList,
            dList: dList
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Commands", "Elevator", new { area = "ElevatorElevator" })',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $(".category-box").LoadingOverlay("show");
                $(e).attr("disabled");
            },
            success: function (result) {
                if (result.msg != "success") {
                    setTimeout(function () {
                        $.notify("success publish to broker", "success", { position: "bottom-right" });
                        $(".category-box").LoadingOverlay("hide");
                        $(e).removeAttr("disabled");
                    }, 2000);
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }
</script>