﻿@using Elevator.Elevator.Models
@model Elevator.Elevator.Models.Elevator_REC
@{
    ViewBag.Title = "Iot Category :: Elevator :: Elevator :: Send Command";
    ViewBag.TitleBar = "Iot Category :: Elevator :: Elevator :: Send Command";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";

    ElevatorModel oQuery = new ElevatorModel();
    List<Elevator_REC> oModel = oQuery.GetList().ToList();
}
    <div class="wrapper-card-tab">
        <div class="card-tab">
            <a href="@Url.Action("Index","Elevator",new { Area="ElevatorElevator" }, null)">
                <div class="card card-form">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> List Device
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-tab">
            <a href="javascript:void(0)">
                <div class="card card-form active">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> Send Command
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="wrapper-has-nav">
        <ul class="has-nav">
            <li class="active"><a href="#Parking">Parking Operation</a></li>
            <li><a href="@Url.Action("cmdPeakOperation","Elevator",new { Area="ElevatorElevator" }, null)">Peak Operation</a></li>
            <li><a href="@Url.Action("cmdStandby","Elevator",new { Area="ElevatorElevator" }, null)">Standby</a></li>
            <li><a href="@Url.Action("cmdHeartbeat","Elevator",new { Area="ElevatorElevator" }, null)">Heartbeat</a></li>
        </ul>
    </div>
    <div class="wrapper-has-nav-content row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">
                    Elevator
                </label>
                <div class="">
                    @foreach(Elevator_REC elv in oModel)
                    {
                        <div class="checkbox-list">
                            <div class="input-checkbox">
                                @Html.Kendo().CheckBox().Name("ElevatorcheckBox").HtmlAttributes(new { id = "ElevatorcheckBox-" + elv.Elevator })
                            </div>
                            <div class="input-label">@elv.Elevator</div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-form-label">
                    Preview
                </label>
                <div class="">
                    <textarea id="txt-preview" class="has-textarea" readonly></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-4 col-form-label">
                    &nbsp;
                </label>
                <div class="">
                    <button class="btn btn-success" onclick="SendCommand(this);" id="cmd-send">Send</button>
                    <button class="btn btn-primary" onclick="Preview()" id="cmd-preview">Preview</button>
                    <button class="btn btn-danger" onclick="ResetCommand(this);" id="cmd-reset">Reset</button>
                </div>
            </div>
        </div>
    </div>
<script>
    let dList = [];
    let bin = toBinary(0);
    var SignalR = "";
    var Address = "20";
    $(function () {
        // Start the connection.
        SignalR = $.connection.realTimeHub;
        $.connection.hub.start().done(function () {
            $.notify("websocket running well", "info", { position: "bottom-right" });
        });
        SignalR.client.Elevator = function (name, message) {

        }
    });
    function Preview() {
        getCommand();
        var cmd = {
            "timeStamp": parseInt(new Date().getTime()),
            "command": [{
                "a": parseInt("0x" + Address),
                "d": parseInt(bin, 2)
            }]
        };
        $("#txt-preview").val(JSON.stringify(cmd, undefined, 4));
    }
    function getCommand() {
        dList = [];
        bin = toBinary(0);
        $.each($('input[id*=ElevatorcheckBox]:checked'), function (i, e) {
            const cbId = $(e).attr("id");
            const elv = cbId.split("ElevatorcheckBox-")[1];
            bin = bin.replaceAt(8 - elv, '1');
        });
        dList.push(bin);
    }
    function SendCommand(e) {
        if ($('input[id*=ElevatorcheckBox]:checked').length > 0) {
            getCommand();
            var voData = {
                aList: [Address],
                dList: dList
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Commands", "Elevator", new { area = "ElevatorElevator" })',
                data: JSON.stringify(voData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(".category-box").LoadingOverlay("show");
                    $(e).attr("disabled");
                },
                success: function (result) {
                    if (result.msg != "success") {
                        setTimeout(function () {
                            $.notify("success publish to broker", "success", { position: "bottom-right" });
                            $(".category-box").LoadingOverlay("hide");
                            $(e).removeAttr("disabled");
                        }, 2000);
                    }
                },
                error: function (xmlhttprequest, textstatus, message) {

                }
            });
        } else {
            $.notify("please select the elevator", "danger", { position: "bottom-right" });
        }
    }
    function ResetCommand(e)
    {
        var voData = {
            aList: [Address],
            dList: [toBinary(0)]
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Commands", "Elevator", new { area = "ElevatorElevator" })',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $(".category-box").LoadingOverlay("show");
            },
            success: function (result) {
                if (result.msg != "success") {
                    setTimeout(function() {
                        $.notify("success publish to broker", "success", { position: "bottom-right" });
                        $(".category-box").LoadingOverlay("hide");
                    }, 2000);
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }
</script>