﻿@using Elevator.Elevator.Models
@model Elevator.Elevator.Models.Elevator_REC
@{
    ViewBag.Title = "Iot Category :: Elevator :: Elevator :: Send Command";
    ViewBag.TitleBar = "Iot Category :: Elevator :: Elevator :: Send Command";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";

    ElevatorModel oQuery = new ElevatorModel();
    List<Elevator_REC> oModel = oQuery.GetList().ToList();
}
<div class="wrapper-card-tab">
    <div class="card-tab">
        <a href="@Url.Action("Index","Elevator",new { Area="ElevatorElevator" }, null)">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> List Device
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="card-tab">
        <a href="javascript:void(0)">
            <div class="card card-form active">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Send Command
                    </h5>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="wrapper-has-nav">
    <ul class="has-nav">
        <li><a href="@Url.Action("cmdParkingOperation","Elevator",new { Area="ElevatorElevator" }, null)">Parking Operation</a></li>
        <li><a href="@Url.Action("cmdPeakOperation","Elevator",new { Area="ElevatorElevator" }, null)">Peak Operation</a></li>
        <li class="active"><a href="javascript:void(0);">Standby</a></li>
        <li><a href="@Url.Action("cmdHeartbeat","Elevator",new { Area="ElevatorElevator" }, null)">Heartbeat</a></li>
    </ul>
</div>
<div class="wrapper-has-nav-content row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-form-label">
                Floor
            </label>
            <div class="">
                @{
                    List<SelectListItem> Locations = new List<SelectListItem>();
                    for (int i = 1; i <= 8; i++)
                    {
                        SelectListItem voTemp = new SelectListItem { Text = "Floor " + i, Value = i.ToString() };
                        Locations.Add(voTemp);
                    }
                }
                @(Html.Kendo().DropDownList().Name("Floor")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .BindTo(Locations).Value("1")
                )
            </div>
        </div>
        <div class="form-group">
            <label class="col-form-label">
                Elevator
            </label>
            <div class="">
                @Html.Kendo().NumericTextBox().Name("Elevator").Max(oModel.Count).Min(0).Decimals(0).Format("n0").Value(1)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-form-label">
                Preview
            </label>
            <div class="">
                <textarea class="has-textarea" id="txt-preview" readonly></textarea>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-4 col-form-label">
                &nbsp;
            </label>
            <div class="">
                <button class="btn btn-success" onclick="SendCommand(this);" id="cmd-send">Send</button>
                <button class="btn btn-primary" onclick="addCommand(0)" id="cmd-add">Add</button>
                <button class="btn btn-danger" onclick="SendCommand(this);" id="cmd-reset">Reset</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="col-4 col-form-label">
                &nbsp;
            </label>
            <div class="">
                <button class="btn btn-default" onclick="Clear(this);" id="cmd-clear">Clear</button>
            </div>
        </div>
    </div>
</div>
<script>
    let aList = [];
    let dList = [];
    let cmdCount = 1;
    let canSend = false;
    let cmd = {
        "timeStamp": parseInt(new Date().getTime()),
        "command": []
    };
    const sf = {
        "sf1": ["41", "49", "51", "59"],
        "sf2": ["43", "4B", "53", "5B"],
        "sf3": ["45", "4D", "55", "5D"]
    };
    const se = {
        "se1": ["42", "4A", "52", "5A"],
        "se2": ["44", "4C", "54", "5C"],
        "se3": ["46", "4E", "56", "5E"]
    };
    var SignalR = "";
    $(function () {
        // Start the connection.
        SignalR = $.connection.realTimeHub;
        $.connection.hub.start().done(function () {
            $.notify("websocket running well", "info", { position: "bottom-right" });
        });
        SignalR.client.Elevator = function (name, message) {

        }
    });
    function Clear() {
        aList = [];
        dList = [];
        cmdCount = 1;
        canSend = false;
        cmd.command = [];
        $("#txt-preview").val("");
    }
    function addCommand(isReset) {
        if (cmdCount <= 3 && !canSend) {
            cmd.timeStamp = parseInt(new Date().getTime());
            const Floor = $("#Floor").data("kendoDropDownList").value();
            const Elevator = $("#Elevator").data("kendoNumericTextBox").value();

            if (Elevator != 0 && Elevator != null) {
                for (let i = 0; i < sf["sf" + cmdCount].length; i++) {
                    const cmd_temp = {
                        a: parseInt("0x" + sf["sf" + cmdCount][i]),
                        d: isReset ? 0 : parseInt(Floor)
                    };
                    cmd.command.push(cmd_temp);
                    aList.push(sf["sf" + cmdCount][i]);
                    dList.push(toBinary(isReset ? 0 : parseInt(Floor)));
                }
                for (let i = 0; i < se["se" + cmdCount].length; i++) {
                    const cmd_temp = {
                        a: parseInt("0x" + se["se" + cmdCount][i]),
                        d: isReset ? 0 : parseInt(Elevator)
                    };
                    cmd.command.push(cmd_temp);
                    aList.push(se["se" + cmdCount][i]);
                    dList.push(toBinary(isReset ? 0 : parseInt(Elevator)));
                }
                $("#txt-preview").val(JSON.stringify(cmd, undefined, 0));
                if (cmdCount == 3)
                    canSend = true;
                cmdCount += 1;

            } else {
                $.notify("Elevator can't be 0 or empty", "warning", { position: "bottom-right" });
            }
        } else {
            $.notify("can't add command more than (3) times", "warning", { position: "bottom-right" });
            cmdCount = 3;
            canSend = true;
        }
    }
    function SendCommand(e) {
        if (canSend || $(e).attr("id") == "cmd-reset") {
            if ($(e).attr("id") == "cmd-reset") {
                Clear();
                for (var i = 1; i <= 3; i++) {
                    addCommand(1);
                }
            }

            var voData = {
                aList: aList,
                dList: dList
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Commands", "Elevator", new { area = "ElevatorElevator" })',
                data: JSON.stringify(voData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(".category-box").LoadingOverlay("show");
                    $(e).attr("disabled");
                },
                success: function (result) {
                    if (result.msg != "success") {
                        setTimeout(function () {
                            $.notify("success publish to broker", "success", { position: "bottom-right" });
                            $(".category-box").LoadingOverlay("hide");
                            $(e).removeAttr("disabled");
                            Clear();
                        }, 2000);
                    }
                },
                error: function (xmlhttprequest, textstatus, message) {

                }
            });
        } else {
            $.notify("you must add 3 command.", "warning", { position: "bottom-right" });
        }
    }
</script>