﻿@{
    ViewBag.Title = "Iot Category :: Elevator :: Config Service";
    ViewBag.TitleBar = "Iot Category :: Elevator :: Config Service";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    ViewBag.ExcelName = "SmartSwitch_Espurna_" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
}

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("Index","Elevator",new { Area="ElevatorElevator" }, null)">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> List Device
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Whois","Elevator",new { Area="ElevatorElevator" }, null)">
            <div class="card card-form" >
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Whois Lookup
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("ConfigService","Elevator",new { Area="ElevatorElevator" }, null)">
            <div class="card card-form" style="background-color: #d3e6ff;">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Config Service
                    </h5>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="form-group m-form__group row" style="margin-top:5px;">
    <label for="example-search-input" class="col-3 col-form-label">
        Mqtt Host 
    </label>
    <div class="col-5">
        @(Html.Kendo().TextBox<string>()
            .Name("MQTTHOST")
            .HtmlAttributes(new { style = "width: 100%"})
        )
    </div>
</div>
<div class="form-group m-form__group row" style="margin-top:5px;">
    <label for="example-search-input" class="col-3 col-form-label">
        Patch Config
    </label>
    <div class="col-5">
        @(Html.Kendo().TextBox<string>()
            .Name("PatchFile")
            .HtmlAttributes(new { style = "width: 100%" })
        )
    </div>
</div>
<div class="form-group m-form__group row" style="margin-top:5px;">
    <label for="example-search-input" class="col-3 col-form-label">
        Read Interval (millisecond)
    </label>
    <div class="col-5">
        @(Html.Kendo().NumericTextBox<double>()
            .Name("Interval")
            .Format("#")
            .Placeholder("Enter interval in millisecond")
            .HtmlAttributes(new { style = "width: 100%", title = "numeric" })
        )
    </div>
</div>
<button class="k-button k-primary" onclick="setConfig();">Save</button>

<script type="text/javascript">
    var ws= "";
    $(function () {
    // Start the connection.
        ws = $.connection.realTimeHub;
        $.connection.hub.start().done(function () {
            $.notify("websocket running well", "info",{ position:"bottom-right" });
            getConfig();
        });

        ws.client.Elevator = function (name, message) {
            if (name == "GetConfig") {
                var data = JSON.parse(message);
                $("#MQTTHOST").val(data.MQTTHOST);
                $("#PatchFile").val(data.PatchFile);
                $("#Interval").data("kendoNumericTextBox").value(parseInt(data.Interval));
            }else if (name == "SetConfig") {
                var data = JSON.parse(message);
                $("#MQTTHOST").val(data.MQTTHOST);
                $("#PatchFile").val(data.PatchFile);
                $("#Interval").data("kendoNumericTextBox").value(parseInt(data.Interval));
                setTimeout(function() {
                  StartService();
                }, 3000);
                
            }
        }
    });

    function getConfig() {
        var voData = {
            cmd: "GetConfig",
            DeviceID: "All",
            ObjType: "",
            value: ""
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Commands", "Elevator", new { area = "Elevator" })',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.msg != "success") {

                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }
    function setConfig() {
        var voData = {
            cmd: "SetConfig",
            DeviceID: $("#MQTTHOST").val(),
            ObjType: $("#PatchFile").val(),
            value: $("#Interval").val()
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Commands", "Elevator", new { area = "Elevator" })',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $(".category-box").LoadingOverlay("show");
            },
            success: function (result) {
                if (result.msg != "success") {

                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
        }

    function StartService() {
        $.ajax({
                url: "@Url.Action("StartService", "Services", new { area = "" })?servicename=HASIOT%20-%20Elevator",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (msg) {

                },
                success: function (result) {
                    console.log(result);
                    if (result.msg == "Running" || result.msg == "Starting") {
                        $.notify("Success Config Saved", "success",{ position:"bottom-right" });
                    } else {
                        $.notify("HASIOT - Elevator Service is " + result.msg, "error",{ position:"bottom-right" });
                    }
                    $(".category-box").LoadingOverlay("hide");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: false,
                processData: false
            });
    }
</script>