﻿@model Elevator.Elevator.Models.Elevator_REC
@{
    ViewBag.Title = "Iot Category :: Elevator :: Elevator :: Data Table";
    ViewBag.TitleBar = "Iot Category :: Elevator :: Elevator :: Data Table";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
}
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Action("Index","Elevator",new { Area="ElevatorElevator" }, null)">
                <div class="card card-form">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> List Device
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("SendCommand","Elevator",new { Area="ElevatorElevator" }, null)">
                <div class="card card-form">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> Send Comand
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("DataTable","Elevator",new { Area="ElevatorElevator" }, null)">
                <div class="card card-form" style="background-color: #d3e6ff;">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> Data Table
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

<div class="form-group m-form__group row" style="margin-top:5px;">
    <label for="example-search-input" class="col-3 col-form-label">
        Table
    </label>
    <div class="col-5">
        @(Html.Kendo().DropDownList().Name("Table")
            .DataTextField("ID")
            .DataValueField("ID")
            .Events(e => e.Change("setGriddatasource"))
            .OptionLabel("Select Table")
            .HtmlAttributes(new { style = "width:168px" })
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Type(HttpVerbs.Post);
                    read.Action("GeneralTablesGetListByType", "GeneralTables", new { Area = "", ListType = "6" });
                })
                .ServerFiltering(true);
            })
        )
    </div>
    @*<button class="k-button k-primary" onclick="whoisDevice();">Whois</button>*@
</div>
@(Html.Kendo().Grid<Elevator.Elevator.Models.ElevatorObject_REC>()
                .Name("gridSetting")
                .Columns(columns =>
                {
                    columns.Bound(c => c._id).Hidden(true);
                    columns.Bound(c => c.RecordID).Hidden(true);
                    columns.Bound(c => c.RecordStatus).Hidden(true);
                    columns.Bound(c => c.Address).Title("Address").Width(20);
                    columns.Bound(c => c.Description).Title("Description").Width(50);
                    columns.Bound(c => c.Type).Title("Type").Width(50);
                    columns.Bound(c => c.Remarks).Title("Remarks").Width(50);
                    columns.Bound(c => c.a).Width(20);
                    columns.Bound(c => c.d).Width(20);
                })
                .ToolBar(toolbar => {
                    toolbar.Save();
                })
                .DataSource(ds => ds
                    .Ajax()
                    .Batch(true)
                    .ServerOperation(false)
                    .Model(m => {
                        m.Id(r => r._id);
                        m.Field(r => r.Address).Editable(false);
                        m.Field(r => r.Description).Editable(true);
                        m.Field(r => r.Type).Editable(true);
                        m.Field(r => r.a).Editable(false);
                        m.Field(r => r.d).Editable(false);
                    })
                    .PageSize(30)
                    .Read(r => r.Action("ObjectRead", "Elevator", new { @DeviceID = "" }))
                    .Update( u => u.Action("ObjectUpdate", "Elevator"))
                    .Sort(sort => sort.Add("RecordTimestamp").Descending())
                ).Events(e => e.DataBound("OnBoundSetting").Change("onChangeSetting"))
                .Editable(editable => editable.Mode(GridEditMode.InCell))
                .Filterable()
                .HtmlAttributes(new { style = "height:500px;" })
                .Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
)

<script>

     var SignalR= "";
    $(function () {
    // Start the connection.
        SignalR = $.connection.realTimeHub;
        $.connection.hub.start().done(function () {
            $.notify("websocket running well", "info",{ position:"bottom-right" });
        });

        SignalR.client.Elevator = function (name, message) {
             if (name == "WhoisDevice") {
                $("#gridSetting").data("kendoGrid").dataSource.read();
                $('#gridSetting').data("kendoGrid").dataSource.transport.options.read.url = "@Url.Action("ObjectRead", "Elevator")?DeviceID="+message;
                $('#gridSetting').data("kendoGrid").dataSource.read();
                 $.notify("Success Whois Scan", "success",{ position:"bottom-right" });

            } else if (name == "Error") {
                 $.notify(message, "error",{ position:"bottom-right" });
            }
        }
    });

    function OnBoundSetting(e) {
        var voGrid = $("#gridSetting").data("kendoGrid");
        var voGridData = voGrid.dataSource.view();
        var vvID;
        var voRow;

        for (var i = 0; i < voGridData.length; i++) {
            vvID = voGridData[i].uid;
            voRow = voGrid.table.find("tr[data-uid='" + vvID + "']");
            if (voGridData[i].RecordStatus == 0) {

            }
            else if (voGridData[i].RecordStatus == 1) {
                //voGrid.select(voRow);
            }
        }
    }

    var RecordID = [];
    var voObject = [];
    var DeviceID = 0;
    function onChangeSetting(e) {
        var rows = e.sender.select();
        var grids = $("#gridSetting").data("kendoGrid");
        var dataItems = grids.dataSource.view();
        RecordID = [];
        voObject = [];
        if (dataItems.length > 0) {
            DeviceID = dataItems[0].DeviceID;
        }
        rows.each(function (e) {
            var grid = $("#gridSetting").data("kendoGrid");
            var dataItem = grid.dataItem(this);
            RecordID.push(dataItem.RecordID);
            voObject.push(dataItem.ObjectName + ":" + dataItem.Instance);
            DeviceID = dataItem.DeviceID;
        });
    }

    function setGriddatasource(e) {
        e.preventDefault();
        var Table = $("#Table").data("kendoDropDownList").value();
        $('#gridSetting').data("kendoGrid").dataSource.transport.options.read.url = "@Url.Action("ObjectRead", "Elevator")?DeviceID=" + Table;
        $('#gridSetting').data("kendoGrid").dataSource.read();
    }

    function whoisDevice()
    {
        var DeviceName = $("#DeviceName").data("kendoDropDownList").value();
        if (DeviceName != "") {
            if (window.confirm("whois scan, old data will be removed. you sure ? ")) {
                var voData = {
                    cmd: "Whois",
                    value: DeviceName
                };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Command", "Elevator", new { area = "ElevatorElevator" })',
                    data: JSON.stringify(voData),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        if (result.msg != "success") {

                        }
                    },
                    error: function (xmlhttprequest, textstatus, message) {

                    }
                });
            }
        } else {
            $.notify("please select device", "error",{ position:"bottom-right" });
        }

    }
</script>