﻿@{
    ViewBag.Title = "Iot Category :: Elevator :: Elevator ";
    ViewBag.TitleBar = "Iot Category :: Elevator :: Elevator ";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    ViewBag.ExcelName = "Elevator_" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
}

    <div class="wrapper-card-tab">
        <div class="card-tab">
            <a href="@Url.Action("Index","Elevator",new { Area="ElevatorElevator" }, null)">
                <div class="card card-form active">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> List Device
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-tab">
            <a href="@Url.Action("cmdParkingOperation","Elevator",new { Area="ElevatorElevator" }, null)">
                <div class="card card-form">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> Send Command
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

@(Html.Kendo().Grid<Elevator.Elevator.Models.Elevator_REC>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Command(c =>
                    {
                    c.Edit().Text(" ");
                    c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                    //c.Custom("TurnOn").Text(" Whois").IconClass("fa fa-sync").Click("gridrow_onTurnOn");
                    //c.Custom("Test").Text(" ").IconClass("fab fa-telegram-plane").Click("gridrow_Test");
                    c.Custom("LogList").Text(" ").IconClass("k-icon k-i-list-unordered").Click("gridrow_onLogList");
                    //c.Custom("FirmwareSetting").Text(" ").IconClass("k-icon k-i-gear").Click("gridrow_onwindowSetting");
                }).Width(70);

                columns.Bound(c => c.RecordID).Visible(false);
                columns.Bound(c => c.RecordTimestamp).Visible(false);
                columns.Bound(c => c.RecordStatus).Visible(false);

                columns.Bound(c => c.DeviceID).Title("Device ID").Width(70);
                columns.Bound(c => c.DeviceName).Title("Device Name").Width(50);
                columns.Bound(c => c.Elevator).Title("Elevator No").Width(50);
                columns.Bound(c => c.StatusDevice).Title("Status Device").HtmlAttributes(new { @class = "status-Device" }).Width(50);
                columns.Bound(c => c.Live).Title("Live").HtmlAttributes(new { @class = "status-Live" }).Width(50);

            })
            .DataSource(ds => ds
                .Ajax()
                .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
                .Model(m => m.Id(r => r.RecordID))
                .PageSize(30)
                .Create(c => c.Action("Create", "Elevator", new { area = "ElevatorElevator" }))
                .Read(r => r.Action("Read", "Elevator", new { area = "ElevatorElevator" }))
                .Update(r => r.Action("Update", "Elevator", new { area = "ElevatorElevator" }))
                .Destroy(r => r.Action("Destroy", "Elevator", new { area = "ElevatorElevator" }))
                )
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
            .Excel(excel => excel
                .AllPages(true)
                .FileName(@ViewBag.ExcelName + ".xlsx")
                .Filterable(true)
                //.ForceProxy(true)
                //.ProxyURL(Url.Action("Account_ExcelExport", "Master"))
                )
            .Events(e => e.Edit("grid_onEdit").DataBound("grid_onDataBound"))
            .Filterable()
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            .ToolBar(t =>
            {
                t.Create().Text("Add New");
            }
        )
)

<script type="text/javascript">
    var ws= "";
    $(function () {
    // Start the connection.
        ws = $.connection.realTimeHub;
        $.connection.hub.start().done(function () {
            $.notify("websocket running well", "info",{ position:"bottom-right" });
        });

        ws.client.Elevator = function (name, message) {
            if (name == "WhoisDevice") {
                $("#gridSetting").data("kendoGrid").dataSource.read();
                $('#gridSetting').data("kendoGrid").dataSource.transport.options.read.url = "@Url.Action("ObjectRead", "Elevator")?DeviceID="+message;
                $('#gridSetting').data("kendoGrid").dataSource.read();
                $.notify("Whois Scan Success", "success",{ position:"bottom-right" });
                $("#windowSetting").data("kendoWindow").open().center();

            } else if (name == "Error") {
                $.notify(message, "error",{ position:"bottom-right" });
                $("#windowTest").LoadingOverlay("hide", true);
            }
            else if (name == "DataLog") {
                $("#gridLogs").data("kendoGrid").dataSource.read();
            }
            else if (name == "Device") {
                $("#grid").data("kendoGrid").dataSource.read();
            } else if (name == "ReadDatas") {
                $("#windowTest").LoadingOverlay("hide", true);
                $("#presentValue").val(message);
            } else if (name == "WriteDatas") {
                $("#windowTest").LoadingOverlay("hide", true);
                $("#presentValue").val(message);
            }
        }
    });
    $(".btn-cmd-service-all").click(function (e)
    {
        var $this = this;
        e.preventDefault();
        var cmd = $($this).html().toLocaleUpperCase();
        cmd_service('All', cmd);
    });
    function cmd_service(e, cmd)
    {
        var value = "All";
        var grid = $("#grid").data("kendoGrid");
        if (e != "All")
        {
            var vRow = $(e.currentTarget).closest("tr");
            var vData = grid.dataItem(vRow);
            cmd = "Whois";
            value = vData.DeviceName;
        }
        var voData = {
            cmd: cmd,
            value: value
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Command", "Elevator", new { area = "ElevatorElevator" })',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.msg != "success")
                {

                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }

    function gridrow_onTurnOn(e) {
        cmd_service(e, "");
        e.preventDefault();
    }

    function gridrow_onLogList(e) {
        e.preventDefault();
        var grid = $("#grid").data("kendoGrid");
        var vRow = $(e.currentTarget).closest("tr");
        var vData = grid.dataItem(vRow);
        $("#window").data("kendoWindow").open().center();
        $('#gridLogs').data("kendoGrid").dataSource.transport.options.read.url = "@Url.Action("GetListDataLog", "Elevator")?DeviceID=" + vData.Elevator;
        $('#gridLogs').data("kendoGrid").dataSource.read();
    }

    function gridrow_onwindowSetting(e) {
        e.preventDefault();
        var grid = $("#grid").data("kendoGrid");
        var vRow = $(e.currentTarget).closest("tr");
        var vData = grid.dataItem(vRow);
        $("#windowSetting").data("kendoWindow").open().center();
        $('#gridSetting').data("kendoGrid").dataSource.transport.options.read.url = "@Url.Action("ObjectRead", "Elevator")?DeviceID=" + vData.Elevator;
        $('#gridSetting').data("kendoGrid").dataSource.read();
    }

    function grid_onDataBound(e) {
        var dataview = $('#grid').data().kendoGrid.dataSource.data();
        for (var a = 0; a < dataview.length; a++) {
            var uid = dataview[a].uid;
            var statusDevice = dataview[a].StatusDevice;
            var statusSwitch = dataview[a].StatusSwitch;
            switch (statusDevice) {
                case "":
                    statusDevice = "N/A";
                default:
                    statusDevice = statusDevice;
            }
            switch (statusSwitch) {
                case "":
                    statusSwitch = "N/A";
                default:
                    statusSwitch = statusSwitch;
            }
            $("#grid tr[data-uid='" + uid + "'] .status-Device").html(statusDevice);
            $("#grid tr[data-uid='" + uid + "'] .status-Switch").html(statusSwitch);
        }
    }

    function grid_onRequestEnd(e) {
        if (e.type == "create") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
        }
        else {
            $("#AccountID").attr("readonly", true);
        }
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Error");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function gridrow_onDelete(e) {
        e.preventDefault();

        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);

        vWindowModal.title("Delete Confirmation?");
        vWindowModal.content(vTemplateDelete(vData));
        vWindowModal.center().open();

        $("#buttonDeleteYes").click(function () {
            vGrid.removeRow(vRow);
            vWindowModal.close();
        });

        $("#buttonDeleteNo").click(function () {
            vWindowModal.close();
        });
    }

    function gridrow_Test(e) {
        var grid = $("#grid").data("kendoGrid");
        var vRow = $(e.currentTarget).closest("tr");
        var vData = grid.dataItem(vRow);
        $("#voDeviceID").val(vData.DeviceName);
        var voType = $("#Category").val();
        $("#windowTest").data("kendoWindow").open().center();
        $('#ObjectType').data("kendoDropDownList").dataSource.transport.options.read.url = "@Url.Action("ObjectReadDLL", "Elevator")?DeviceID="+vData.DeviceName+"&Type="+voType;
        $('#ObjectType').data("kendoDropDownList").dataSource.read();
    }

    function setDataDll(e) {
        var DeviceName = $("#voDeviceID").val();
        var voType = $("#Category").val();
        $('#ObjectType').data("kendoDropDownList").dataSource.transport.options.read.url = "@Url.Action("ObjectReadDLL", "Elevator")?DeviceID="+DeviceName+"&Type="+voType;
        $('#ObjectType').data("kendoDropDownList").dataSource.read();
    }
</script>
<script type="text/x-kendo-template" id="templateDelete">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Device ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="DeviceID" name="DeviceID" value="#=DeviceID#" style="text-transform: uppercase; background:lightgrey;" readonly="readonly"> </div>
        </div>
        <div class="nameEditor">
            <div class="k-edit-label">Device Name:</div>
            <div class="k-edit-field"><input class="k-textbox" style="width:100%;" id="DeviceName" name="DeviceName" value="#=DeviceName#" readonly="readonly"></div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>
@(Html.Kendo().Window().Visible(false)
    .Name("window")
    .Title("Logs")
    .Content(@<text>

            <form action="@Url.Action("ExportServer", "Elevator")" method="POST" id="form_export">
                <input type="hidden" id="export-data" name="data" />
                <input type="hidden" id="export-model" name="model" />
                <input style="display:none;" type="submit" class="k-button ExportAll" data-format="xlsx" data-title="Title1" value="Export All to Excel" />
            </form>
            @(Html.Kendo().Grid<Elevator.Elevator.Models.ElevatorDataLog_REC>()
            .Name("gridLogs")
            .ToolBar(t =>
            {
                t.Custom().Name("Export to excel").HtmlAttributes(new { id = "ExportAll", href = "#" });
            })
            .Columns(columns =>
            {
                columns.Template(t => t.RecordID).ClientTemplate("<a class='k-button' href='javascript:void(0)' onclick='viewPayload(this)' title='View Payload'><span class='fas fa-list'></span></a>").Width(50);
                columns.Bound(c => c.RecordTimestamp).Format("{0:dd-MMM-yyyy HH:mm:ss}").Filterable(f => f.Cell(c => c.ShowOperators(false)).Enabled(false)).Width(90);
                columns.Bound(c => c.Elevator).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.Description).Hidden(true).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                columns.Bound(c => c.Remarks).Hidden(true).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(80);
                columns.Bound(c => c.Payload).Hidden(true).Width(0);
                })
                .DataSource(ds => ds
                .Ajax()
                .Model(m => m.Id(r => r.RecordID))
                .PageSize(30)
                .Read(r => r.Action("GetListDataLog", "Elevator"))
                .Sort(sort => sort.Add("RecordTimestamp").Descending())
                )
                .Excel(excel => excel
                .AllPages(true)
                .FileName(@ViewBag.ExcelName + ".xlsx")
                .Filterable(true)
                )
                .Selectable()
                .Filterable(a => a.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height:500px;" })
                .Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
            )
    </text>)
.Draggable()
.Width(800).Height(550)
.Actions(actions => actions.Pin().Minimize().Maximize().Close())
)
@(Html.Kendo().Window().Visible(false)
    .Name("windowTest")
    .Title("Testing Device")
    .Content(@<text>
            <div class="row col-lg-12">
                <label for="example-search-input" class="col-3 col-form-label">
                    Category
                </label>
                <div class="col-8">
                    @(Html.Kendo().DropDownList()
                      .Name("Category")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .Events(e => e.Change("setDataDll"))
                      .BindTo(new List<SelectListItem>() {
                           new SelectListItem() {
                              Text = "Read",
                              Value = "1"
                          },
                          new SelectListItem() {
                              Text = "Write",
                              Value = "2"
                          }              })
                        .HtmlAttributes(new { style = "width: 50%" })
                    )
                </div>
                <label for="example-search-input" class="col-3 col-form-label" style="margin-top:10px;">
                    Object instance
                </label>
                <div class="col-8" style="margin-top:10px;">
                    @(Html.Kendo().DropDownList()
                        .Name("ObjectType")
                        .DataTextField("ObjectName")
                        .DataValueField("ObjectName")
                        .HtmlAttributes(new { style = "width:168px" })
                        .OptionLabel("Select Object")
                        .Filter("contains")
                        //.Events(e => { e.Change("setGriddatasource"); })
                        .HtmlAttributes(new { style = "width:230px;" })
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Action("ObjectReadDLL", "Elevator", new { Area = "Elevator" });
                            })
                            .ServerFiltering(true);
                        })
                    )
                </div>
                <label for="example-search-input" class="col-3 col-form-label" style="margin-top:10px;">
                    Present Value
                </label>
                <div class="col-5" style="margin-top:10px;">
                    <input type="text" id="presentValue" class="k-input" />
                    <input type="hidden" id="voDeviceID" class="k-input" />
                </div>
                <label for="example-search-input" class="col-3 col-form-label" style="margin-top:10px;">
                    &nbsp;
                </label>
                <div class="col-5" style="margin-top:10px;">
                    <button class="k-button k-primary" onclick="CheckService();">Sent</button>
                </div>
            </div>
    </text>)
.Draggable()
.Width(500).Height(250)
.Actions(actions => actions.Pin().Minimize().Maximize().Close())
)
@(Html.Kendo().Window().Visible(false)
    .Name("windowSetting")
    .Title("Object instance Setting")
    .Content(@<text>
            @(Html.Kendo().Grid<Elevator.Elevator.Models.ElevatorObject_REC>()
                .Name("gridSetting")
                .Columns(columns =>
                {
                    columns.Bound(c => c.RecordID).Visible(false);
                    columns.Bound(c => c.RecordStatus).Visible(false);
                    columns.Select().Width(50);
                    columns.Bound(c => c.Address).Title("Address").Width(50);
                    columns.Bound(c => c.Description).Title("Description").Width(50);
                    columns.Bound(c => c.Elevator).Title("Elevator").Width(50);

                })
                .DataSource(ds => ds
                    .Ajax()
                    .Model(m => m.Id(r => r.RecordID))
                    //.PageSize(30)
                    .Read(r => r.Action("ObjectRead", "Elevator", new { @DeviceID = "" }))
                    .Sort(sort => sort.Add("RecordTimestamp").Descending())
                ).Events(e => e.DataBound("OnBoundSetting").Change("onChangeSetting"))
                .Filterable()
                .HtmlAttributes(new { style = "height:500px;" })
                //.Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
            )
    </text>)
.Draggable()
.Width(800).Height(550)
.Actions(actions => actions.Pin().Minimize().Maximize().Close())
.Events(ev => ev.Close("onCloseSetting"))
)
<script>
    function OnBoundSetting(e) {
        var voGrid = $("#gridSetting").data("kendoGrid");
        var voGridData = voGrid.dataSource.view();
        var vvID;
        var voRow;

        for (var i = 0; i < voGridData.length; i++) {
            vvID = voGridData[i].uid;
            voRow = voGrid.table.find("tr[data-uid='" + vvID + "']");
            if (voGridData[i].RecordStatus == 0) {

            }
            else if (voGridData[i].RecordStatus == 1) {
                voGrid.select(voRow);
            }
        }
    }
    var RecordID = [];
    var voObject = [];
    var DeviceID = 0;
    function onChangeSetting(e) {
        var rows = e.sender.select();
        var grids = $("#gridSetting").data("kendoGrid");
        var dataItems = grids.dataSource.view();
        RecordID = [];
        voObject = [];
        if (dataItems.length > 0) {
            DeviceID = dataItems[0].DeviceID;
        }
        rows.each(function (e) {
            var grid = $("#gridSetting").data("kendoGrid");
            var dataItem = grid.dataItem(this);
            RecordID.push(dataItem.RecordID);
            voObject.push(dataItem.ObjectName + ":" + dataItem.Instance);
            DeviceID = dataItem.DeviceID;
        });
    }

    function comandDevice() {
        var cmd = "";
        if ($("#Category").val() == 1) {
            cmd = "Read";
        } else {
            cmd = "Write";
        }

        var voData = {
            cmd: cmd,
            DeviceID: $("#voDeviceID").val(),
            ObjType: $("#ObjectType").val(),
            value: $("#presentValue").val()
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Commands", "Elevator", new { area = "ElevatorElevator" })',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.msg != "success")
                {

                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }

    function CheckService() {
        $.ajax({
                url: "@Url.Action("GetCurrentStatus", "Services", new { area = "" })?servicename=HASIOT%20-%20Elevator",
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (msg) {
                    $("#presentValue").val("");
                    $("#windowTest").LoadingOverlay("show");
                },
                success: function (result) {
                    if (result.msg == "Running" || result.msg == "Starting") {
                        comandDevice();
                    } else {
                        $.notify("HASIOT - Elevator Service is " + result.msg, "warning",{ position:"bottom-right" });
                        $("#windowTest").LoadingOverlay("hide", true);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: false,
                processData: false
            });
    }

    function onCloseSetting(e) {
        updateStatusObj(RecordID,voObject, DeviceID);
    }

    function updateStatusObj(RecordID,voObject,DeviceID) {
        var voData = {
            RecordID: RecordID,
            voObject:voObject,
            DeviceID: DeviceID
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusObj", "Elevator", new { area = "ElevatorElevator" })',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.msg != "success")
                {
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }
</script>
@(Html.Kendo().Window()
    .HtmlAttributes(new { style = "display:none;height:500px" })
    .Name("windowpayload")
    .Title("Payload")
    .Content(@<text>
            <pre id="payload_view"></pre>
    </text>)
.Modal(true)
.Draggable()
.Resizable()
.Width(600)
.Actions(actions => actions.Pin().Minimize().Maximize().Close())
)
<script type="text/javascript">
    var form = document.getElementById("form_export");
    $("#ExportAll").click(function () {
        var grid = $("#gridLogs").data("kendoGrid");
        var options = {
            format: "csv",
            title: "Elevator_ALL_@DateTime.Now.ToString("yyyyMMdd")"
        }
        $("#export-data").val(encodeURIComponent(JSON.stringify(options)));
        $("#export-model").val(encodeURIComponent(JSON.stringify(grid.columns)));
        form.submit();
    });
    function viewPayload(e) {
        var grid = $("#gridLogs").data("kendoGrid");
        var dataitem = grid.dataItem(e.closest("tr"));
        var payload = JSON.parse(dataitem.Payload);
        document.getElementById("payload_view").innerHTML = JSON.stringify(payload, undefined, 2);
        $("#windowpayload").data("kendoWindow").open().center();
    }
</script>