﻿@model BLE.Minew.Models.BLEMinew_REC

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordTimestamp)
@Html.HiddenFor(m => m.RecordStatus)

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Device ID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { style = "width: 150px;", @maxlength = "15" })
        </div>
        <div class="k-edit-label">
            Device Name:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            CategoryID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.CategoryID).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" }).Value("BLE")
        </div>
        <div class="k-edit-label">
            IP Address:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.IPAddress).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Mac Address:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.MacAddress).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            SSID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.SSID).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Password:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Mqtt Host:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.MQTTHost).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Mqtt Username:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.MQTTUsername).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Mqtt Password:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.MQTTPassword).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        
        <div class="k-edit-label">
            RSSI:
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownListFor(m => m.IsPresentRSSI)
            .DataTextField("Text")
            .DataValueField("Value")
            .HtmlAttributes(new { @class = "w-100" })
            .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                        Text = "No",
                        Value = "0"
                    },
                    new SelectListItem() {
                        Text = "Yes",
                        Value = "1"
                    }
            }).Value("0")
            )
        </div>
    </div>
</div>
<script type="text/javascript">
    function onCheck(e) {
        var val = $(e).is(":checked");
        var uid = $(e).closest("div.k-window-content")[0].dataset.uid;
        var grid = $('#grid').data("kendoGrid");
        var dataItem = grid.dataItem($("tr[data-uid=" + uid + "]"));
        if (val) {
            dataItem.set('IsPresentRSSI', "1");
            $(e).val(1);
        } else {
            dataItem.set('IsPresentRSSI', "0");
            $(e).val(0);
        }
        console.log(dataItem);
    }
</script>