﻿@{
    ViewBag.TitleBar = "CCTV - DataLog";
    ViewBag.Title = "CCTV - DataLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img id="testing_streaming" src=""/>

<script type="text/javascript" src="@Url.Content("~/Content/socket.io.js")"></script>
<script type="text/javascript">
    load_cctv();
    function load_cctv() {
        divSocket = io("http://10.1.1.129:6147/CCTVHikvision");
        divSocket.on('data', function (data) {
            var bytes = new Uint8Array(data);
            $("img#testing_streaming").attr('src', 'data:image/jpeg;base64,' + base64ArrayBuffer(bytes));
        });
    }
    
</script>