﻿@model CCTVHikvisionDefault_REC
@using Camera.CCTV.Hikvision.Components
@using Camera.CCTV.Hikvision.Models
@{
    ViewBag.Title = "Iot Category :: CCTV Hikvision";
    ViewBag.TitleBar = "Iot Category :: CCTV Hikvision";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    ViewBag.ExcelName = "Camera_CCTV_Hikvision_" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
    CCTVHikvisionDefault_REC DataList = Constants.GetDefaultSetting();
}
<div class="container">
    <div class="accordion" id="ImpinjDefaultSetting">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        CCTV Hikvision Default Setting
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#ImpinjDefaultSetting">
                <div class="card-body row">

                    <div class="col-md-6">
                        <input type="hidden" id="RecordID" value="@DataList.RecordID" />
                        <input type="hidden" id="RecordTimestamp" value="@DataList.RecordTimestamp" />
                        <input type="hidden" id="RecordStatus" value="@DataList.RecordStatus" />
                        <div class="form-group">
                            @Html.LabelFor(m => m.IPAddress)
                            @Html.Kendo().TextBoxFor(m => m.IPAddress).HtmlAttributes(new { @class = "form-control" }).Value(DataList.IPAddress)
                        </div>
                    
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username)
                            @Html.Kendo().TextBoxFor(m => m.Username).HtmlAttributes(new { @class = "form-control" }).Value(DataList.Username)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @class = "form-control" }).Value(DataList.Password)
                        </div>
                    
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.URLService)
                            @Html.Kendo().TextBoxFor(m => m.URLService).HtmlAttributes(new { @class = "form-control" }).Value(DataList.URLService)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.URLRtsp)
                            @Html.Kendo().TextBoxFor(m => m.URLRtsp).HtmlAttributes(new { @class = "form-control" }).Value(DataList.URLRtsp)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary" onclick="submitData(this, 'single')">Save</button>
                        <button type="button" class="btn btn-primary" onclick="submitData(this, 'all')">Save to all</button>
                        <button type="button" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","CCTVHikvision")'">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @(Html.Kendo().Grid<CCTVHikvision_REC>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Command(c =>
                    {
                        c.Edit().Text(" ");
                        c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                        c.Custom("FirmwareSetting").Text(" ").IconClass("k-icon k-i-gear").Click("gridrow_onwindowSetting");
                        c.Custom("LiveView").Text(" ").IconClass("k-icon k-i-eye").Click("gridrow_onliveview");
                    }).Width(170);

                    columns.Bound(c => c.RecordID).Visible(false);
                    columns.Bound(c => c.RecordTimestamp).Visible(false);
                    columns.Bound(c => c.RecordStatus).Visible(false);
                    columns.Bound(c => c.DeviceID).Title("Device ID").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(120);
                    columns.Bound(c => c.DeviceName).Title("Device Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(120);
                    columns.Bound(c => c.IPAddress).Title("IP Address").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(120);
                    columns.Bound(c => c.Username).Title("Username").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(120);
                    columns.Bound(c => c.Password).Title("Password").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(120);
                    columns.Bound(c => c.StatusDevice).Title("Status Device").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).HtmlAttributes(new { @class = "status-Device", data_ip="#= IPAddress #" }).Width(120);
                    columns.Bound(c => c.URLRtsp).Title("URL RTSP").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(200);
                    columns.Bound(c => c.LocationName).Title("Location Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(200);
                })
                .DataSource(ds => ds
                    .Ajax()
                    .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
                    .Model(m => {
                        m.Id(r => r.RecordID);
                        m.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
                    })
                    .PageSize(30)
                    .Create(c => c.Action("Create", "CCTVHikvision"))
                    .Read(r => r.Action("Read", "CCTVHikvision"))
                    .Update(r => r.Action("Update", "CCTVHikvision"))
                    .Destroy(r => r.Action("Destroy", "CCTVHikvision"))
                    )
                .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
                .Excel(excel => excel
                    .AllPages(true)
                    .FileName(@ViewBag.ExcelName + ".xlsx")
                    .Filterable(true)
                    //.ForceProxy(true)
                    //.ProxyURL(Url.Action("Account_ExcelExport", "Master"))
                    )
                .Events(e => e.Edit("grid_onEdit").DataBound("grid_onDataBound"))
                .Filterable()
                .HtmlAttributes(new { style = "height:500px;" })
                .Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Filterable(f => f.Mode(GridFilterMode.Row))
                .Resizable(r => r.Columns(true))
                .Scrollable(scrollable => scrollable.Virtual(true))
                .Selectable(s => s.Enabled(true))
                .Sortable()
                .ToolBar(t =>
                {
                    t.Create().Text("Add New");
                    t.Custom().Text("Live View").HtmlAttributes(new { @class = "btn-cmd-service-all", style = "float:right", onclick= "gridrow_onliveviewall()" });
                }
            )
    )
    @(Html.Kendo().Window().Visible(false)
        .Name("windowSetting")
        .Title("Firmware Setting")
        .Content(@<text><iframe class="resp-iframe" src="" style="width:100%;height:100%;" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </text>)
    .Draggable()
    .Width(800).Height(500)
    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
    //.Events(ev => ev.Close("onClose"))
    )

    @(Html.Kendo().Window().Visible(false)
        .Name("windowLiveView")
        .Title("Live View")
        .Content(@<text>
            <img src="" id="imgLiveView" />
        </text>)
    .Draggable()
    .Pinned(true)
    .Modal(true)
    .Width(800).Height(500)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Events(ev => ev.Close("liveViewOnClose"))
    )

    @(Html.Kendo().Window().Visible(false)
        .Name("windowLiveViewAll")
        .Title("Live View All Devices")
        .Content(@<text>
        
    <div class="list-stream-cctv"></div>
        </text>)
    .Draggable()
    .Pinned(true)
    .Modal(true)
    .Width(800).Height(500)
    .Actions(actions => actions.Minimize().Maximize().Close())
    .Events(ev => ev.Close("liveViewAllOnClose"))
    )


</div>
<script type="text/javascript" src="@Url.Content("~/Content/socket.io.js")"></script>
<script type="text/javascript">
    var ws= "";
    $(function () {
        $(".btn-cmd-service-all").click(function (e) {
            e.preventDefault();
            var $this = this;
            gridrow_onliveviewall();
        });
    });

    function gridrow_onwindowSetting(e) {
        var dataItem = $("#grid").data("kendoGrid").dataItem($(e.target).closest("tr"));

        $(".resp-iframe").attr("src","http://"+dataItem.IPAddress);
        e.preventDefault();
        $("#windowSetting").data("kendoWindow").open().center();
    }

    function grid_onDataBound(e) {
        var dataview = $('#grid').data().kendoGrid.dataSource.data();
        for (var a = 0; a < dataview.length; a++) {
            $.ajax({
                url: '@Url.Action("Ping", "Systems", new { Area="" })',
                type: 'POST',
                data: JSON.stringify({ domain: dataview[a].IPAddress }),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (jqXHR, ajaxAttr) {
                    jqXHR.data = ajaxAttr.data;
                    $("#grid td[data-ip='" + JSON.parse(jqXHR.data).domain + "']").html("Waiting...");
                },
                success: function (result, c, jqXHR) {
                    var data = JSON.parse(jqXHR.data);
                    if (result.msg) {
                        $("#grid td[data-ip='" + data.domain + "']").html("Connected");
                    } else {
                        $("#grid td[data-ip='" + data.domain + "']").html("N/A");
                    }
                },
                async: true,
                processData: false
            });
        }
    }

    function grid_onRequestEnd(e) {
        if (e.type == "create" || e.type == "update") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
        }
        else {

        }
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Error");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function gridrow_onDelete(e) {
        e.preventDefault();

        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);

        vWindowModal.title("Delete Confirmation?");
        vWindowModal.content(vTemplateDelete(vData));
        vWindowModal.center().open();

        $("#buttonDeleteYes").click(function () {
            vGrid.removeRow(vRow);
            vWindowModal.close();
        });

        $("#buttonDeleteNo").click(function () {
            vWindowModal.close();
        });
    }
    var divSocket;
    function gridrow_onliveview(e) {
        var dataItem = $("#grid").data("kendoGrid").dataItem($(e.target).closest("tr"));
        divSocket = io("@DataList.URLService" + dataItem.DeviceID);
        divSocket.on('data', function (data) {
            var bytes = new Uint8Array(data);
            $("img#imgLiveView").attr('src', 'data:image/jpeg;base64,' + base64ArrayBuffer(bytes));
        });
        e.preventDefault();
        $("#windowLiveView").data("kendoWindow").open().center();
    }
    var wsocketList = [];
    function gridrow_onliveviewall() {
        var grid = $("#grid").data("kendoGrid");
        var dataList = grid.dataSource.data();
        $(".list-stream-cctv").html("");
        for (var i = 0; i < dataList.length; i++) {
            let device_id = dataList[i].DeviceID;
            $(".list-stream-cctv").append("<div class='wrapper-stream-image'><img src='' onclick='width100(this)' class='live-stream-all' id='live-stream-" + device_id + "' /></div>");

            if (wsocketList[i] == undefined) {
                var wsocket = io("@DataList.URLService" + device_id);
                wsocketList[i] = wsocket;
                wsocket.on('data', function (data) {
                    var bytes = new Uint8Array(data);
                    $("img#live-stream-" + device_id).attr('src', 'data:image/jpeg;base64,' + base64ArrayBuffer(bytes));
                });
            }

        }
        $("#windowLiveViewAll").data("kendoWindow").open().center();
    }
    function liveViewOnClose(e) {
        $("#imgLiveView").attr("src", "");
        divSocket.disconnect();
        divSocket = null;
    }
    function liveViewAllOnClose(e) {
        $(".list-stream-cctv").html("");
        for (var i = 0; i < wsocketList.length; i++) {
            wsocketList[i].disconnect();
        }
        wsocketList = [];
    }
    function width100(e) {
        $(e).parent().toggleClass("w-100");
    }
    function submitData(e, type) {
        var url = '@Url.Action("SubmitDefault", "CCTVHikvision")';
        if (type == "all")
            url = '@Url.Action("SubmitAllDefault", "CCTVHikvision")';

        var data = {
            RecordID: $("#RecordID").val(),
            RecordTimestamp: $("#RecordTimestamp").val(),
            RecordStatus: $("#RecordStatus").val(),
            CategoryID: "CameraCCTV",
            IPAddress: $("#IPAddress").val(),
            Username: $("#Username").val(),
            Password: $("#Password").val(),
            URLService: $("#URLService").val(),
            URLRtsp: $("#URLRtsp").val()
        };
        var validation_data = valid(data);
        if (validation_data.errorcode > 0) {
            alert(validation_data.msg);
        } else {
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled", "disabled");
                },
                success: function (result) {
                    alert(result.msg);
                    if (result.errorcode > 0)
                    {
                        $(e).removeAttr("disabled", "disabled");
                    } else {
                        window.location.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: true,
                processData: false
            });
        }

    }
    function valid(data) {
        var result = {
            msg: "",
            errorcode: 0
        }
        if (data.CategoryID == "") { result.msg += "Category ID is required\n"; result.errorcode = 500; }
        if (data.IPAddress == "") { result.msg += "IPAddress is required\n"; result.errorcode = 500; }
        if (data.Username == "") { result.msg += "Username is required\n"; result.errorcode = 500; }
        if (data.Password == "") { result.msg += "Password is required\n"; result.errorcode = 500; }
        if (data.URLService == "") { result.msg += "URL Service is required\n"; result.errorcode = 500; }
        if (data.URLRtsp == "") { result.msg += "URL RTSP is required\n"; result.errorcode = 500; }

        return result;
    }
    function openWindowLocation() {
        $("#windowPopupLocation").data("kendoWindow").open().center();
        $('#gridPopupLocation').on('dblclick', 'tbody>tr', { extra: 'kgLocationLookup' }, kgEventDblClick);
    }
    function kgEventDblClick() {
        $('#gridPopupLocation').unbind();
        var grid = $("#gridPopupLocation").data("kendoGrid");
        var voRow = grid.dataItem(grid.select());
        $("#LocationID").val(voRow.LocationID);

        var grid_data = $("#grid").data("kendoGrid");
        var model = grid_data.editable.options.model;
        model.set("LocationID", voRow.LocationID);

        $("#windowPopupLocation").data("kendoWindow").close();
    }
    
</script>
<script type="text/x-kendo-template" id="templateDelete">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Device ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="DeviceID" name="DeviceID" value="#=DeviceID#" style="text-transform: uppercase;" readonly="readonly"> </div>
        </div>
        <div class="nameEditor">
            <div class="k-edit-label">Device Name:</div>
            <div class="k-edit-field"><input class="k-textbox" id="DeviceName" name="DeviceName" value="#=DeviceName#" readonly="readonly"></div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>
@Html.Action("_LocationPopup", "Partial", new { Area = "" })



