﻿@model Aircond.Raspberry.Models.HeaderView_REC
@{
    ViewBag.Title = "Iot Category :: Aircond :: Raspberry Pi :: Haystack";
    ViewBag.TitleBar = "Iot Category :: Aircond :: Raspberry Pi :: Haystack";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
    Aircond.Raspberry.Models.HeaderView_REC Data = ViewData["Data"] as Aircond.Raspberry.Models.HeaderView_REC;
    var voDataDetail = "[ ";
    if (Data.Detail != null)
    {
        int i = 0;
        int totalData = Data.Detail.Count();
        foreach (var Detail in Data.Detail)
        {
            i++;
            if (i == totalData)
            {
                voDataDetail += "{\"RowIndex\" : \"" + @Detail.RowIndex + "\", \"tag_kinds\" : \"" + @Detail.tag_kinds + "\", \"tag_name\" : \"" + @Detail.tag_name + "\", \"value\" : \"" + @Detail.value + "\",  \"RecordIDDetail\" : \"" + @Detail.RecordID + "\", \"RecordTimestampDetail\" : \"" + @Detail.RecordTimestamp + "\", \"RecordStatusDetail\" : \"" + @Detail.RecordStatus + "\", \"xstatus\" : \"current\"  }";
            }
            else
            {
                voDataDetail += "{\"RowIndex\" : \"" + @Detail.RowIndex + "\", \"tag_kinds\" : \"" + @Detail.tag_kinds + "\", \"tag_name\" : \"" + @Detail.tag_name + "\", \"value\" : \"" + @Detail.value + "\",  \"RecordIDDetail\" : \"" + @Detail.RecordID + "\", \"RecordTimestampDetail\" : \"" + @Detail.RecordTimestamp + "\", \"RecordStatusDetail\" : \"" + @Detail.RecordStatus + "\", \"xstatus\" : \"current\"  },";
            }
        }
    }
    voDataDetail += " ]";
}

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("Index","Raspberry",new { Area="AircondRaspberry" }, null)">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> List Device
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Index","Haystack",new { Area="AircondRaspberry" }, null)">
            <div class="card card-form" style="background-color: #d3e6ff;">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Haystack
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Whois","Raspberry",new { Area="AircondRaspberry" }, null)">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Whois Lookup
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("ConfigService","Raspberry",new { Area="AircondRaspberry" }, null)">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Config Service
                    </h5>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="col-md-12">
    <h2>Remove</h2>
    <div class="m-portlet__head-tools" style="text-align:right; top:-35px; position: relative;">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="reset" class="btn btn-secondary close-button btn-sm" onclick="goBack('@Url.Action("Index", "Haystack", new { Area="AircondRaspberry" }, null)'); return false;"><i class="fa fa-ban"></i> &nbsp;Back</button>
            <button id="submitButton" type="button" class="btn btn-success btn-sm" onclick="insertLocation(); return false;"><i class="fa fa-save"></i> &nbsp; Remove </button>
        </div>
    </div>
    <form class="m-form m-form--fit m-form--label-align-right">
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group m-form__group row" style="text-align: right;">
                        <label for="example-text-input" class="col-3 col-form-label">
                            id
                        </label>
                        <div class="col-4">
                            <input class="form-control m-input" type="hidden" value="@Data.RecordID" id="RecordID">
                            <input class="form-control m-input" type="text" value="@Data.ids" id="ids" readonly>
                        </div>
                    </div>
                    <div class="form-group m-form__group row" style="text-align: right;">
                        <label for="example-search-input" class="col-3 col-form-label">
                            dis
                        </label>
                        <div class="col-4">
                            <input class="form-control m-input" type="text" value="@Data.dis" id="dis" readonly>
                        </div>
                    </div>
                    <div class="form-group m-form__group row" style="text-align: right;">
                        <label for="example-search-input" class="col-3 col-form-label">
                            device id
                        </label>
                        <div class="col-4">
                            @(Html.Kendo().DropDownListFor(m => m.DeviceID)
                                .DataTextField("DeviceID")
                                .DataValueField("DeviceID")
                                .HtmlAttributes(new { style = "width:100%" })
                                .OptionLabel("Select Device")
                                .Filter("contains")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetLokkuplist", "Raspberry", new { Area = "AircondRaspberry" });
                                    })
                                    .ServerFiltering(true);
                                }).Value(@Data.DeviceID).Enable(true)
                            )
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group m-form__group row" style="text-align: right;">
                        <label for="example-url-input" class="col-3 col-form-label">
                            marker
                        </label>
                        <div class="col-9">
                            <textarea class="form-control m-input m-input--air" id="marker" rows="4" readonly>@Data.marker</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="m-portlet__body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#m_tabs_1_1" aria-expanded="true">
                                    Detail
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="m_tabs_1_1" role="tabpanel" aria-expanded="true">
                                <div id="Detail" class="tab-pane active">
                                    <div id="grid"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="@Url.Content("~/Content/assets/javascripts/forms/table.detail.lib.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/assets/javascripts/forms/apps.js")"></script>
<script>
    var ID = 0;
    var KEY = current_url() + "detail";
    var LSTable = [
        {
            tbodyID: "list-detail",
            detailPrefix: "detail",
            lsID: current_url()+"detail",
            element: ""
        }
    ];
    function insertLocation() {
        var voData = {
            RecordID : $('#RecordID').val(),
        };
        var valid = checkForm(voData);
        if (valid.valid) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove", "Haystack", new { Area="AircondRaspberry" }, null)',
                data: JSON.stringify(voData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $('#submitButton').attr('disabled', 'disabled');
                    $('#submitButton').html('<img width="15px" src="Content/assets/img/loading.gif" /> Loading...');
                },
                success: function (result) {

                    if (result.errorcode < 1) {
                        $('.btn-primary').html('Success');
                        //setNotification(result.title, result.msg, 'success');
                        setTimeout(function () {
                            window.location.replace('@Url.Action("index", "Haystack", new { Area="AircondRaspberry" }, null)');
                        }, 1000);
                        lsClear();
                    } else {
                        $("#submitButton").prop("disabled", false);
                        $('#submitButton').html('Submit');
                        $.notify(result.msg, "error",{ position:"bottom-right" });
                    }
                }
            });
        } else {
            //setNotification("Form Validation", valid.msg, 'danger');
        }
    }

    function checkForm(voData) {
        var valid = 1;
        var msg = "";

        if (voData.DocDate == "") { valid = 0; msg += "Doc Date is required" + "\r\n"; }
        if (voData.detail == "") { valid = 0; msg += "Detail Data is required" + "\r\n"; }


        var voRes = {
            valid: valid,
            msg: msg
        }
        return voRes;
    }
</script>
<script type="text/javascript">
    function kbEventClick(type) {
        if (type == 'Location') {

            $('#kg' + type + 'Lookup').data('kendoGrid').refresh();
            $('#kw' + type + 'Lookup').data('kendoWindow').center().open();
        }
    }

    $("#kgItemLookup").delegate("tbody>tr", "dblclick", kgEventDblClick);

    function kgEventDblClick(e) {
        var vsGridName = $(this).closest('.k-grid').attr('id');
        if (vsGridName == 'kgLocationLookup') {
            var voGrid = $('#kgLocationLookup').data('kendoGrid');
            var voRow = voGrid.dataItem(voGrid.select());

            var voWindowLookup = $('#kwLocationLookup').data('kendoWindow');
            voWindowLookup.close();

            var voWindowForm = $('.k-edit-form-container');
            $('#LocationID1').val(voRow.LocationID).change();
        }
    }
    function kwEventOpen(e) {
    }

    function change(e) {

    }
</script>
<script type="text/javascript">
    $(function () {
        var container = $("#FormInput");
        kendo.init(container);
        container.kendoValidator({
            rules: {
                validmask: function (input) {
                    if (input.is("[data-validmask-msg]") && input.val() != "") {
                        var maskedtextbox = input.data("kendoMaskedTextBox");
                        return maskedtextbox.value().indexOf(maskedtextbox.options.promptChar) === -1;
                    }

                    return true;
                }
            }
        });
    });

</script>

<script>
    $(document).ready(function () {
        var ListData = @(new HtmlString(Json.Encode(voDataDetail)));
        var Doremove = [];
        console.log(ListData);
        if (localStorage[KEY] != undefined) {
            $("#dialog").data("kendoDialog").open();
            mApp.blockPage({ overlayColor: '#000000', state: 'primary' });
        }

        var dataSource = new kendo.data.DataSource({
            transport: {
                create: function (options) {
                    var localData = "";
                    if(localStorage[KEY] == undefined){
                        var localData = JSON.parse(ListData);
                    }else{
                        var localData = JSON.parse(localStorage[KEY]);
                    }
                    if (localData.length > 0) {
                        var lastRI = parseInt(localData[localData.length - 1].RowIndex);
                        options.data.RowIndex = lastRI + 1;
                    } else {
                        options.data.RowIndex = 1;
                    }
                    options.data.xstatus = "new";

                    localData.push(options.data);
                    if (!checkDuplicateInObject("RowIndex", localData)) {
                        localStorage[KEY] = JSON.stringify(localData);
                    } else {
                        alert("Duplicate data " + options.data.ItemID);
                    }
                    options.success(options.data);
                    $("#grid").data("kendoGrid").dataSource.read();
                },
                read: function (options) {
                    var localData = "";
                    if(localStorage[KEY] == undefined && localStorage[KEY+"-Doremove"] == undefined ){
                        var localData = JSON.parse(ListData);
                    }else{
                        if(localStorage[KEY] != undefined){
                            var localData = JSON.parse(localStorage[KEY]);
                        }
                    }
                    options.success(localData);
                },
                update: function (options) {
                    var localData = "";
                    if (localStorage[KEY] == undefined) {
                        var localData = JSON.parse(ListData);
                    } else {
                        var localData = JSON.parse(localStorage[KEY]);
                    }
                    for (var i = 0; i < localData.length; i++) {
                        if (parseInt(localData[i].RowIndex) === parseInt(options.data.RowIndex)) {
                            localData[i].tag_kinds = options.data.tag_kinds;
                            localData[i].tag_name = options.data.tag_name;
                            localData[i].value = options.data.value;
                            localData[i].xstatus = "changed";
                        }
                    }
                    if (!checkDuplicateInObject("RowIndex", localData)) {
                        localStorage[KEY] = JSON.stringify(localData);
                    } else {
                        alert("Duplicate data " + options.data.ItemID);
                    }
                    options.success(options.data);
                    $("#grid").data("kendoGrid").dataSource.read();
                },
                destroy: function (options) {
                    var localData = "";
                    if (localStorage[KEY] == undefined) {
                        var localData = JSON.parse(ListData);
                    } else {
                        var localData = JSON.parse(localStorage[KEY]);
                    }
                    for (var i = 0; i < localData.length; i++) {
                        if (parseInt(localData[i].RowIndex) === parseInt(options.data.RowIndex)) {
                            localData.splice(i, 1);
                            if (options.data.RecordIDDetail != null) {
                                Doremove.push(options.data.RecordIDDetail);
                                localStorage[KEY + "-Doremove"] = JSON.stringify(Doremove);
                            }
                            break;
                        }
                    }
                    if (localData.length > 0) {
                        localStorage[KEY] = JSON.stringify(localData);
                    } else {
                        localStorage.removeItem(KEY);
                    }
                    options.success(localData);
                },
            },
            schema: {
                model: {
                    id: "RowIndex",
                    fields: {
                        RowIndex: { type: "number", editable: false },
                        tag_kinds: { type: "string" },
                        tag_name: { type: "string" }
                    }
                }
            },
            sort: {
                field: "RowIndex",
                dir: "desc"
            },
            pageSize: 5
        });

        var grid = $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            height: 350,
            edit: onEditPopup,
            cancel: function (e) {
                var id = $("#ItemID").val();
                localStorage.removeItem(KEY + "Sub-" + id);
            },
            //save: function (e) {
            //    var id = $("#ItemID").val();
            //    localStorage.removeItem(KEY + "Sub-" + id);
            //},
            columns: [
                { field: "RowIndex", width: "30px", title: "#" },
                { field: "tag_kinds", width: "100px", title: "tag kinds" },
                { field: "tag_name", width: "100px", title: "tag name" },
                { field: "value", width: "60px", title: "value" }
            ],
            editable: {
                mode: "popup",
                confirmation: false,
                template: kendo.template($("#popup_editor").html())
            },
            sortable: true,
            filterable: true,
        }).data("kendoGrid");

    });

    function onEditPopup(e) {
        $(e.container).parent().css({
            width: '850px'
        });
        // Begin Format Form
        var data = [
            { text: "bin", value: "bin" },
            { text: "bool", value: "bool" },
            { text: "coord", value: "coord" },
            { text: "date", value: "date" },
            { text: "datetime", value: "datetime" },
            { text: "marker", value: "marker" },
            { text: "na", value: "na" },
            { text: "number", value: "number" },
            { text: "ref", value: "ref" },
            { text: "str", value: "str" },
            { text: "time", value: "time" },
            { text: "uri", value: "uri" },
            { text: "xstr", value: "xstr" }
        ];

        $("#tag_kinds").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            filter: "startswith",
            index: 0
        });
         var data = [
            { text: "site", value: "site" },
            { text: "equip", value: "equip" },
            { text: "point", value: "point" },
            { text: "weather", value: "weather" },
            { text: "tz", value: "tz" },
            { text: "unit", value: "unit" },
            { text: "grid", value: "grid" },
            { text: "filters", value: "filters" },
            { text: "zinc", value: "zinc" },
            { text: "json", value: "json" },
            { text: "trio", value: "trio" },
            { text: "csv", value: "csv" },
            { text: "rest", value: "rest" },
            { text: "ops", value: "ops" },
            { text: "auth", value: "auth" },
            { text: "vfds", value: "vfds" },
            { text: "networks", value: "networks" },
            { text: "energy", value: "energy" },
            { text: "zones", value: "zones" },
            { text: "ahus", value: "ahus" },
            { text: "vavs", value: "vavs" },
            { text: "unitaryequips", value: "unitaryequips" },
            { text: "chillers", value: "chillers" },
            { text: "boilers", value: "boilers" },
            { text: "tanks", value: "tanks" },
            { text: "elecpanels", value: "elecpanels" },
            { text: "lighting", value: "lighting" },
            { text: "builds", value: "builds" },
            { text: "bacnet", value: "bacnet" },
            { text: "changelog", value: "changelog" },
            { text: "license", value: "license" }
        ];

        $("#tag_name").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: data,
            filter: "startswith",
            index: 0
        });
        // End Format Form
        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
            $(".k-grid-update").html("<span class=\"k-icon k-i-check\"></span>Save");
        }
        else {
            $("#ItemID").attr("readonly", true);
            var type = $('#AutoIDType').val();
        }
    }
    $("#grid").on("click", ".k-grid-DeleteSelected", function () {
        var tot = $("#grid").find("input:checked").length;
        if (confirm("Are you sure to delete this " + tot + " data ?")) {
            var grid = $("#grid").data("kendoGrid");
            $("#grid").find("input:checked").each(function () {
                grid.removeRow($(this).closest('tr'));
            })
        }
    });
</script>
<style type="text/css">
    #ItemID {
        text-transform: uppercase;
    }
</style>
<script id="popup_editor" type="text/x-kendo-template">
    <div class="row">
        <div class="col-md-12">
            <div class="k-edit-label"><label for="tag_kinds">Tag Kinds</label></div>
            <div data-container-for="tag_kinds" class="k-edit-field"><input type="text" class="" style="width: 70%;" id="tag_kinds" data-bind="value:tag_kinds"></div>
            <div class="k-edit-label"><label for="tag_name">Tag Name</label></div>
            <div data-container-for="tag_name" class="k-edit-field"><input type="text" class="" style="width: 70%;" id="tag_name" data-bind="value:tag_name"></div>
            <div class="k-edit-label"><label for="value">Value</label></div>
            <div data-container-for="value" class="k-edit-field"><input type="text" class="k-textbox" style="width: 120px;" id="value" data-bind="value:value"></div>
        </div>
    </div>
</script>
