﻿@{
    ViewBag.Title = "Iot Category :: Aircond :: Raspberry Pi :: Haystack";
    ViewBag.TitleBar = "Iot Category :: Aircond :: Raspberry Pi :: Haystack";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
}

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("Index","Raspberry",new { Area="AircondRaspberry" }, null)">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> List Device
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Index","Haystack",new { Area="AircondRaspberry" }, null)">
            <div class="card card-form" style="background-color: #d3e6ff;">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Haystack
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Whois","Raspberry",new { Area="AircondRaspberry" }, null)">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Whois Lookup
                    </h5>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("ConfigService","Raspberry",new { Area="AircondRaspberry" }, null)">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        <span class="fa fa-list"></span> Config Service
                    </h5>
                </div>
            </div>
        </a>
    </div>
</div>

@(Html.Kendo().Grid<Aircond.Raspberry.Models.HeaderView_REC>()
        .Name("grid")
        .ToolBar(t =>
        {
            t.Custom().Text("<span class='k-icon k-i-plus'></span> Add New").Action("Form", "Haystack");
        })
        .Columns(columns =>
        {
            columns.Template(@<text></text>).ClientTemplate("<a class='k-button k-edit' href='" + Url.Action("Form", "Haystack", new { id = "#=RecordID#" }) + "'><span class='k-icon k-i-pencil'></span></a> " +
              "<a class='k-button k-detail' href='" + Url.Action("Detail", "Haystack", new { id = "#=RecordID#" }) + "'><span class='k-icon k-i-align-justify'></span></a> " +
              "<a class='k-button k-remove' href='" + Url.Action("RemoveForm", "Haystack", new { id = "#=RecordID#" }) + "'><span class='k-icon k-i-delete'></span></a> ").Width(80);
            columns.Bound(c => c.RecordTimestamp).Title("timestamp").Format("{0:dd-MMM-yyyy HH:mm:ss}").Width(100);
            columns.Bound(c => c.DeviceID).Title("device id").Width(100);
            columns.Bound(c => c.ids).Title("id").Width(100);
            columns.Bound(c => c.dis).Width(100);
            columns.Bound(c => c.marker).Width(100);
        })
        .DataSource(ds => ds
            .Ajax()
            .Model(m => m.Id(r => r.RecordID))
            .PageSize(20)
            .Read(r => r.Action("Read", "Haystack", new { area = "AircondRaspberry" }))
            .Sort(sort => sort.Add("RecordTimestamp").Descending())
        )
        .Selectable()
        .Filterable()
        .HtmlAttributes(new { style = "height:550px;" })
        .Pageable()
        .Reorderable(r => r.Columns(true))
        .Resizable(r => r.Columns(true))
        .Sortable()
        .Scrollable()
)