﻿@{
    List<has.iot.Models.Brands_REC> DataList = ViewData["Data"] as List<has.iot.Models.Brands_REC>;
    string activeMenu = ViewData["activeMenu"] as string;
}
<nav id="sidebar">
	<div class="sidebar-header">
		@*<h3 class="logo">HITACHI</h3>*@
		<img class="logo" src="@Url.Content("~/Content/img/gta-logo.png")" />
		<strong><i class="fas fa-project-diagram"></i></strong>
	</div>
    <ul class="list-unstyled components">
        <li class="@(activeMenu == "Overview" ? " active" : "")">
            <a href="@Url.Action("Overview","Home",new { Area="" }, null)">
                <i class="fas fa-th-large"></i>
                Overview
            </a>
        </li>
        <li class="@(activeMenu == "IotCategory" ? " active" : "")">
            <a href="@Url.Action("Index","IotCategory",new { Area="" }, null)">
                <i class="fas fa-th"></i>
                IoT Category
            </a>
        </li>
        @*<li class="@(Request.Url.Segments.Length > 2 && Request.Url.Segments[2].Contains("Device") ? "active" : "" )">
            <a href="@Url.Action("Index","DeviceManager",new { Area="" }, null)">
                <i class="fas fa-plus-circle"></i>
                Device Manager
            </a>
        </li>*@
        <li class="@(activeMenu == "Services" ? " active" : "")">
            <a href="@Url.Action("Index","Services",new { Area="" }, null)">
                <i class="fas fa-poo-storm"></i>
                Services
            </a>
        </li>
        <li class="@(activeMenu == "GeneralTables" ? " active" : "")">
            <a href="#GeneralTablesMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-server"></i>
                Data Tables
            </a>
            <ul class="collapse list-unstyled" id="GeneralTablesMenu">
                <li>
                    <a href="@Url.Action("Index","GeneralTables",new { Area="" }, null)">General Tables</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Person",new { Area="" }, null)">Person</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Location",new { Area="" }, null)">Location</a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="@Url.Action("","haystack",new { Area="" }, null)">
                <i class="fas fa-tag"></i>
                Haystack
            </a>
        </li>
        <li class="@(activeMenu == "EventsLog" ? " active" : "")">
            <a href="@Url.Action("Index","EventsLog",new { Area="" }, null)">
                <i class="fas fa-calendar-alt"></i>
                Events Log
            </a>
        </li>
        <li class="@(activeMenu == "DataLog" ? " active" : "")">
            <a href="#DataLogMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-file-medical-alt"></i>
                Data Log
            </a>
            <ul class="collapse list-unstyled" id="DataLogMenu">
                @foreach (has.iot.Models.Brands_REC DataTemp in DataList)
                {
                    <li>
                        @{
                            string area = DataTemp.CategoryID + DataTemp.BrandName;
                        }
                        <a href="@Url.Action("DataLog", DataTemp.BrandName, new { Area=area }, null)">@DataTemp.CategoryName</a>
                    </li>
                }
                <li>
                    <a href="@Url.Action("PresenceLocation", "Impinj", new { Area="RFIDImpinj" }, null)">Presence Location</a>
                </li>
                <li>
                    <a href="@Url.Action("PresenceLocationPlayback", "Impinj", new { Area="RFIDImpinj" }, null)">Presence Location Playback</a>
                </li>
            </ul>
        </li>
        <li class="@(activeMenu == "Configuration" ? " active" : "")">
            <a href="@Url.Action("Index","Configuration",new { Area="" }, null)">
                <i class="fas fa-cog"></i>
                Configuration
            </a>
        </li>
    </ul>
</nav>
<div id="windowModal"></div>
<script>    
    var vTemplateDelete;
    var vWindowModal;

    var vTemplateDeleteDetail;
    $(document).ready(function () {
        if ($("#templateDelete").html()) {
            vTemplateDelete = kendo.template($("#templateDelete").html());
        }
        vWindowModal = $("#windowModal").kendoWindow({
            title: "",
            modal: true,
            visible: false,
            resizable: false,
            width: 500,
        }).data("kendoWindow");

        if ($("#templateDeleteDetail").html()) {
            vTemplateDeleteDetail = kendo.template($("#templateDeleteDetail").html());
        }

    });
</script>
