﻿@using has.iot.Models;
@{
    ViewBag.Title = "IoT Category :: " + Request.Params["Category"];
    ViewBag.TitleBar = "IoT Category - " + Request.Params["Category"];
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    IList<Brands_REC> DataList = ViewData["Data"] as IList<Brands_REC>;
}
<div class="row">
    @foreach (Brands_REC Data in DataList)
    {
        <div class="col-md-3">
            <a href="@Url.Action("Index",Data.BrandName.Replace(" ",""),new { Area=Data.CategoryID+Data.BrandName.Replace(" ","") }, null)">
                <div class="card card-form">
                    <div class="card-body align-center">
                        <img src="@Url.Content("~/Content/img/"+Data.Image)" class="category-image" />
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<script type="text/javascript">
    function removePlugin(ID) {
        var r = confirm("Remove this plugin!");
        if (r == true) {
            var voData = {
                ID: ID
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("RemovePlugin", "IotCategory")',
                data: JSON.stringify(voData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {

                },
                success: function (result) {
                    if (result.errorcode < 1) {
                        alert(result.msg);
                        setTimeout(function () {
                            $('#exampleModal').modal('toggle');
                            window.location.replace('@Url.Action("Index", "IotCategory")');
                        }, 500);
                    } else {
                        alert(result.msg);
                    }
                }
            });
        }
    }
</script>