﻿@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.ToString();
    has.iot.Models.UsersData voData = has.iot.Components.GlobalFunction.GetLoginData(HttpContext.Current.Session["userdata"].ToString());
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IoT Platform</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='@Url.Content("~/Content/bootstrap.min.css")' />
    <link rel='stylesheet' href='@Url.Content("~/Content/style.css")' />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.material.mobile.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fontawesome/css/all.min.css")" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        function current_url() {
            var current_url = "@Request.Url.ToString()";
            return current_url;
        }
        function goBack(URL) {
            if ($.fn.lsClear) {
                lsClear();
            }
            location.href = URL;
        }
        function base_url() {
            var pathparts = location.pathname.split('/');
            if (location.host.indexOf("localhost") != -1) {
                var url = location.origin + '/' + pathparts[1].trim('/') + '/'; // http://localhost/myproject/
            } else {
                var url = location.origin; // http://stackoverflow.com
            }
            return url;
        }
        var base_url = base_url();
    </script>

    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Content/main.js")"></script>
    <script src="@Url.Content("~/Content/jquery-overflow.js")"></script>
    <!--Reference the SignalR library. -->
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.min.js")"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/cultures/kendo.culture." + culture + ".min.js")"></script>
    <script src="@Url.Content("~/Content/kendo/2017.3.1018/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/loadingoverlay.min.js")"></script>
    <script src="@Url.Content("~/Scripts/notify.min.js")"></script>
    <script>
        kendo.culture("@culture");
    </script>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        @Html.Action("_MainMenu", "Partial", new { Area="" })
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="">
                        <i class="fas fa-angle-double-left"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto navbar-header">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-bell"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-dropdown" href="#">
                                    <img src="@Url.Content("~/Content/img/avatar.jpg")" class="avatar-img" />
                                    @voData.person.personName
                                </a>
                                <ul class="profile-dropdown">
                                    <li>
                                        <a href="@Url.Action("Index","Profile")">
                                            <i class="fas fa-user"></i>
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-bell"></i>
                                            Alerts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-cog"></i>
                                            Settings
                                        </a>
                                    </li>
                                    <li class="last-child-profile-dropdown">
                                        <a href="@Url.Action("Login","Systems",new { Area = "" }, null)">
                                            <i class="fas fa-power-off"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb nav-title mb-0">
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.TitleBar</li>
                </ol>
            </nav>
            <div class="category-content">
                <div class="row">
                    <div class="col-md-3 border-iotcategory-menu">
                        @Html.Action("_MainMenuIotCategory", "Partial", new { area = "" })
                    </div>
                    <div class="col-md-9 category-box border-bottom">
                            @RenderBody()
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
            $("#nav-dropdown").on("click", function () {
                $(".profile-dropdown").slideDown(200);
            });
            $("body").on("click", function (e) {
                if (e.target.getAttribute("id") != "nav-dropdown") {
                    $(".profile-dropdown").slideUp(200);
                }
            });
        });
    </script>
</body>
</html>