﻿@model has.iot.Models.LocationDetail_REC

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordStatus)
@Html.HiddenFor(m => m.ParentID)

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Location ID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.LocationID).HtmlAttributes(new { style = "width: 150px;", @maxlength = "20" }).Enable(false)
        </div>
        <div class="k-edit-label">
            Location Name:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.LocationName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" }).Enable(false)
        </div>
        
        <div class="k-edit-label">
            Reader ID:
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownListFor(m => m.ReaderID)
                .DataTextField("DeviceID")
                .DataValueField("DeviceID")
                .Events(e => e.Change("changeReaderID"))
                .HtmlAttributes(new { @class = "w-100" })
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Type(HttpVerbs.Post);
                        read.Action("GetReaderList", "Location");
                    })
                    .ServerFiltering(true);
                })
            )
        </div>
        <div class="k-edit-label">
            Antenna No:
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownListFor(m => m.AntennaNo)
                .DataTextField("AntennaPort")
                .DataValueField("AntennaPort")
                .HtmlAttributes(new { @class = "w-100" })
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Type(HttpVerbs.Post);
                        read.Action("GetAntennaByReaderID", "Location", new { ParentID="" });
                    })
                    .ServerFiltering(true);
                }).AutoBind(false).Enable(false)
            )
        </div>

        <div class="k-edit-label">
            Max RSSI:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().NumericTextBoxFor(m => m.MaxRSSI).Max(0).Min(-70)
        </div>
    </div>
</div>
<script type="text/javascript">
    
</script>