﻿@model has.iot.Models.Location_REC

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordStatus)

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Location ID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.LocationID).HtmlAttributes(new { style = "width: 150px;", @maxlength = "20" })
        </div>
        <div class="k-edit-label">
            Location Name:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.LocationName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>

    </div>
</div>
<script type="text/javascript">

</script>