﻿@model Elevator.Elevator.Models.Elevator_REC

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordTimestamp)
@Html.HiddenFor(m => m.RecordStatus)

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Device ID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { style = "background: lightgrey;", @maxlength = "20" }).Enable(false)
        </div>
        <div class="k-edit-label">
            Device Name:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Elevator No:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().NumericTextBoxFor(m=>m.Elevator).Decimals(0).Min(0).Format("{0:n0}")
        </div>
        <div class="k-edit-label">
            Live:
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownListFor(m => m.Live)
              .DataTextField("Text")
              .DataValueField("Value")
              .BindTo(new List<SelectListItem>() {
                   new SelectListItem() {
                      Text = "Yes",
                      Value = "1"
                  },
                  new SelectListItem() {
                      Text = "No",
                      Value = "0"
                  }              })
                .HtmlAttributes(new { style = "width: 50%" })
            )
        </div>
        @*<div class="k-edit-label">
            IP Address:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.IPAddress).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Mac Address:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.MacAddress).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            SSID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.SSID).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Password:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Mqtt Host:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.MQTTHost).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Mqtt Username:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.MQTTUsername).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Mqtt Password:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.MQTTPassword).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>*@
    </div>
</div>
