﻿@{ 
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - IoT Platform</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />
    <link rel='stylesheet' href='@Url.Content("~/Content/bootstrap.min.css")' />
    <link rel='stylesheet' href='@Url.Content("~/Content/login.css")' />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.rtl.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.material.mobile.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2017.3.1018/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fontawesome/css/all.min.css")" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        function base_url() {
            var pathparts = location.pathname.split('/');
            if (location.host.indexOf("localhost") != -1) {
                var url = location.origin + '/' + pathparts[1].trim('/') + '/'; // http://localhost/myproject/
            } else {
                var url = location.origin + "/has.iot/"; // http://stackoverflow.com
            }
            return url;
        }
        var base_url = base_url();
    </script>

    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2017.3.1018/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Content/main.js")"></script>
    <script src="@Url.Content("~/Content/jquery-overflow.js")"></script>
</head>
<body class="bg-login">
    <div class="login-wrapper">
        <div class="row">
            <div class="col-md-8 left-area">
                <h1>GTA IoT Common Platform Dashboard</h1>
            </div>
            <div class="col-md-4 bg-white right-area">
                <div class="wrapper-content-right-area">
                    <div class="login-form-title">
                        <img src="/gta.has.iot/Content/img/gta-login-logo.png" class="login-logo">
                        <h5>Login into Your Account</h5>
                    </div>
                    <form onsubmit="return login()">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="uuid" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                        </div>
                        <div class="form-group mb-1">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="********" autocomplete="off"  readonly onfocus="this.removeAttribute('readonly');">
                        </div>
                        <div class="form-check row mb-5">
                            <div class="col-md-6 keep-signedin">
                                <input type="checkbox" class="form-check-input" id="keepsignedin" autocomplete="off">
                                <label class="form-check-label" for="keepsignedin">Keep me signed in</label>
                            </div>
                            <div class="col-md-6 align-right">
                                <a href="#">Forgot password</a>
                            </div>
                        </div>
                        <div class="form-button">
                            <button id="btnLogin" type="submit" class="btn btn-primary">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
        function login(e) {
            
            console.log("ta");
            if (e == undefined)
                e = $("#btnLogin");
            var data = {
                uuid: $("#username").val(),
                password: $("#password").val(),
            };
            $.ajax({
                url: "@Url.Action("Login","Webservice")",
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled","disabled");
                },
                success: function (result) {
                    $(e).removeAttr("disabled");
                    alert(result.msg);
                    if (result.errorcode > 0)
                    {

                    } else {
                        window.location.href = base_url;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: true,
                processData: false
            });
            return false;
        }
    </script>
</body>
</html>