﻿@model has.iot.Models.Services.Services
@{
    ViewBag.Title = "Add";
    ViewBag.TitleBar = "Services - Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-form">
                <div class="card-header">
                    <h5>Service</h5>
                </div>
                <div class="card-body card-logo align-center">
                    <i class="far fa-window-maximize"></i>
                </div>
            </div>
            <div class="card card-form" style="display:none">
                <div class="card-body">
                    <button type="button" class="btn btn-primary">START</button>
                    <button type="button" class="btn btn-primary">STOP</button>
                    <button type="button" class="btn btn-primary">RESTART</button>
                </div>
            </div>
            <div class="button-area">
                <button type="button" class="btn btn-default btn-block" onclick="window.location.href='@Url.Action("Index","Services")'">CANCEL</button>
                <button type="button" class="btn btn-primary btn-block" onclick="submit(this)">SAVE</button>
                <button type="button" class="btn btn-danger btn-block" style="visibility:hidden">DELETE</button>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-form">
                <div class="card-header">
                    <h5>Service Info</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ServicesName)
                        @Html.Kendo().TextBoxFor(m => m.ServicesName).HtmlAttributes(new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Alias)
                        @Html.Kendo().TextBoxFor(m => m.Alias).HtmlAttributes(new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Config)
                        @(Html.Kendo().DropDownListFor(m => m.Config)
                        .DataTextField("Name")
                        .DataValueField("RecordID")
                        .OptionLabel("Select Config/Protocol").HtmlAttributes(new { @class = "w-100" })
                        .Filter("contains")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Type(HttpVerbs.Post);
                                read.Action("GeneralTablesGetListByType", "GeneralTables", new { ListType = "1" });
                            })
                            .ServerFiltering(true);
                        })
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("body .k-textbox.form-control").map(function (i, e) {
            $(e).removeClass("k-textbox");
        });
    });
    function submit(e) {
        var data = {
            ServicesName: $("#ServicesName").val(),
            Alias: $("#Alias").val(),
            Config: $("#Config").data("kendoDropDownList").value(),
        }
        var valid = Validation(data);
        if (valid.errorcode > 0)
        {
            alert(valid.msg);
        } else {
            $.ajax({
                url: "@Url.Action("Insert","Services")",
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled","disabled");
                },
                success: function (result) {
                    $(e).removeAttr("disabled");
                    alert(result.msg);
                    if (result.errorcode > 0)
                    {

                    } else {
                        window.location.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: true,
                processData: false
            });
        }
    }
    function Validation(data)
    {
        var result = { msg: "", errorcode: 0 };
        if (data.ServicesName == "") { result.msg += "@Html.DisplayNameFor(m=>m.ServicesName) is required. \n"; result.errorcode = 500; }
        if (data.Config == "") { result.msg += "@Html.DisplayNameFor(m=>m.Config) is required. \n"; result.errorcode = 500; }

        return result;
    }
</script>