﻿@using has.iot.Models.Services;
@model has.iot.Models.Services.Services
@{
    ViewBag.Title = "Edit";
    ViewBag.TitleBar = "Services - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Services DataList = ViewData["data"] as Services;
}

<div class="body-content">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-form">
                <div class="card-header">
                    <h5>
                        @DataList.ServicesName
                        (<span class="status-name"></span>)
                    </h5>
                    
                </div>
                <div class="card-body card-logo align-center">
                    <i class="far fa-window-maximize"></i>
                </div>
            </div>
            <div class="card card-form">
                <div class="card-body align-center">
                    <button type="button" class="btn btn-primary btn-cmd-service btn-start-service" onclick="cmd_service(this, 'Start');">START</button>
                    <button type="button" class="btn btn-primary btn-cmd-service btn-stop-service" onclick="cmd_service(this, 'Stop');">STOP</button>
                    <button type="button" class="btn btn-primary btn-cmd-service btn-restart-service" onclick="cmd_service(this, 'Restart');">RESTART</button>
                </div>
            </div>
            <div class="button-area">
                <button type="button" class="btn btn-default btn-block" onclick="window.location.href='@Url.Action("Index","Services")'">CANCEL</button>
                <button type="button" class="btn btn-primary btn-block" onclick="submit(this)">SAVE</button>
                <button type="button" class="btn btn-danger btn-block" onclick="deleteData(this)">DELETE</button>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-form">
                <div class="card-header">
                    <h5>Service Info</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="hidden" id="RecordID" value="@DataList.RecordID" />
                        <input type="hidden" id="RecordTimestamp" value="@DataList.RecordTimestamp" />
                        <input type="hidden" id="RecordStatus" value="@DataList.RecordStatus" />

                        @Html.LabelFor(m => m.ServicesName)
                        @Html.Kendo().TextBoxFor(m => m.ServicesName).HtmlAttributes(new { @class = "form-control" }).Value(DataList.ServicesName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Alias)
                        @Html.Kendo().TextBoxFor(m => m.Alias).HtmlAttributes(new { @class = "form-control" }).Value(DataList.Alias)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Config)
                        @(Html.Kendo().DropDownListFor(m => m.Config)
                        .DataTextField("Name")
                        .DataValueField("RecordID")
                        .OptionLabel("Select Config/Protocol").HtmlAttributes(new { @class = "w-100" })
                        .Filter("contains")
                        .DataSource(source =>
                        {
                            source.Read(read =>
                            {
                                read.Type(HttpVerbs.Post);
                                read.Action("GeneralTablesGetListByType", "GeneralTables", new { ListType = "1" });
                            })
                            .ServerFiltering(true);
                        }).Value(DataList.Config.ToString())
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("body .k-textbox.form-control").map(function (i, e) {
            $(e).removeClass("k-textbox");
        });
        checkStatus();
    });
    function checkStatus()
    {
        $.ajax({
            url: '@Url.Action("GetCurrentStatus", "Services")?servicename=@DataList.ServicesName',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (msg) {
                $(".status-name").html("Waiting...");
            },
            success: function (result) {
                $(".status-name").html(result.msg);
                if (result.msg == "Running")
                {
                    $(".btn-restart-service").show();
                    $(".btn-stop-service").show();
                    $(".btn-start-service").hide();
                } else if (result.msg == "Stopped")
                {
                    $(".btn-restart-service").hide();
                    $(".btn-stop-service").hide();
                    $(".btn-start-service").show();
                } else {
                    $(".btn-restart-service").hide();
                    $(".btn-stop-service").hide();
                    $(".btn-start-service").hide();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jQuery.parseJSON(jqXHR.responseText));
            },
            async: false,
            processData: false
        });
    }
    function cmd_service(e, cmd_type)
    {
        if (cmd_type == "Start") { var url = '@Url.Action("StartService", "Services")'; var msg = "Starting"; }
        if (cmd_type == "Stop") { var url = '@Url.Action("StopService", "Services")'; var msg = "Stopping";}
        if (cmd_type == "Restart") { var url = '@Url.Action("StopService", "Services")'; var msg = "Restarting"; }

        $.ajax({
            url: url + '?servicename=@DataList.ServicesName',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $(".btn-cmd-service").attr("disabled","disabled");
                $(".status-name").html(msg);
            },
            success: function (result) {
                $(".btn-cmd-service").removeAttr("disabled");
                $(".status-name").html(result.msg);
                if (result.msg == "Running")
                {
                    $(".btn-restart-service").show();
                    $(".btn-stop-service").show();
                    $(".btn-start-service").hide();
                } else if (result.msg == "Stopped")
                {
                    $(".btn-restart-service").hide();
                    $(".btn-stop-service").hide();
                    $(".btn-start-service").show();
                } else {
                    $(".btn-restart-service").hide();
                    $(".btn-stop-service").hide();
                    $(".btn-start-service").hide();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jQuery.parseJSON(jqXHR.responseText));
            },
            async: true,
            processData: false
        });
    }
    function submit(e) {
        var data = {
            RecordID: $("#RecordID").val(),
            RecordTimestamp: $("#RecordTimestamp").val(),
            RecordStatus: $("#RecordStatus").val(),
            ServicesName: $("#ServicesName").val(),
            Alias: $("#Alias").val(),
            Config: $("#Config").data("kendoDropDownList").value(),
        }
        console.log(data);
        var valid = Validation(data);
        if (valid.errorcode > 0)
        {
            alert(valid.msg);
        } else {
            $.ajax({
                url: "@Url.Action("Update","Services")",
                data: JSON.stringify(data),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled","disabled");
                },
                success: function (result) {
                    $(e).removeAttr("disabled");
                    alert(result.msg);
                    if (result.errorcode > 0) {

                    } else {
                        window.location.reload();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: true,
                processData: false
            });
        }
    }
    function deleteData(e) {
        var data = {
            RecordID: $("#RecordID").val(),
            RecordTimestamp: $("#RecordTimestamp").val(),
            RecordStatus: $("#RecordStatus").val(),
            ServicesName: $("#ServicesName").val(),
            Config: $("#Config").data("kendoDropDownList").value(),
        }
        var valid = Validation(data);
        if (valid.errorcode > 0)
        {
            alert(valid.msg);
        } else {
            var cnf = confirm("Are you sure you want to delete @DataList.ServicesName?");
            if (cnf)
            {
                $.ajax({
                    url: "@Url.Action("Delete","Services")",
                    data: JSON.stringify(data),
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function () {
                        $(e).attr("disabled","disabled");
                    },
                    success: function (result) {
                        $(e).removeAttr("disabled");
                        alert(result.msg);
                        if (result.errorcode > 0) {

                        } else {
                            window.location.href="@Url.Action("Index","Services")";
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(jQuery.parseJSON(jqXHR.responseText));
                    },
                    async: true,
                    processData: false
                });
            }
        }
    }
    function Validation(data)
    {
        var result = { msg: "", errorcode: 0 };
        if (data.RecordID == "") { result.msg += "@Html.DisplayNameFor(m => m.RecordID) is required. \n"; result.errorcode = 500; }
        if (data.RecordTimestamp == "") { result.msg += "@Html.DisplayNameFor(m => m.RecordTimestamp) is required. \n"; result.errorcode = 500; }
        if (data.RecordStatus == "") { result.msg += "@Html.DisplayNameFor(m => m.RecordStatus) is required. \n"; result.errorcode = 500; }
        if (data.ServicesName == "") { result.msg += "@Html.DisplayNameFor(m=>m.ServicesName) is required. \n"; result.errorcode = 500; }
        if (data.Config == "") { result.msg += "@Html.DisplayNameFor(m=>m.Config) is required. \n"; result.errorcode = 500; }

        return result;
    }
</script>