﻿@using has.iot.Models.Services;
@{
    ViewBag.Title = "Services";
    ViewBag.TitleBar = "Services";
}
<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<Services>()
            .Name("grid")
            .ToolBar(t =>
            {
                t.Custom().Text("Add New").Action("ServicesForm", "Services");
            })
            .Columns(columns =>
            {
                columns.Template(@<text>@item.RecordID</text>)
                       .ClientTemplate("" +
                       "<a class='k-button' href='" + Url.Action("ServicesForm", "Services", new { RecordID = "#=RecordID#" }) + "' title='Edit Service'><span class='fas fa-pencil-alt'></span></a>" +
                       "<a class='k-button' href='javascript:void(0);' onclick='gridrow_onDelete(this)' title='Delete Service'><span class='fas fa-trash-alt'></span></a>" +
                       "<button type='button' class='k-button k-primary btn-cmd-service btn-start-service' onclick='cmd_service(this, \"Start\")' title='Start Service'>Start</button>" +
                       "<button type='button' class='k-button k-primary btn-cmd-service btn-stop-service' href='javascript:void(0);' onclick='cmd_service(this, \"Stop\")' title='Stop Service'>Stop</button>" +
                       "<button type='button' class='k-button k-primary btn-cmd-service btn-restart-service' href='javascript:void(0);' onclick='cmd_service(this, \"Restart\")' title='Restart Service'>Restart</button>" +
                       "").Width(90);
                columns.Bound(c => c.Alias).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.ConfigName).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.StatusName).HtmlAttributes(new { @class="status-name" }).Filterable(f => f.Cell(c => c.ShowOperators(false).Enabled(false))).Sortable(false).Width(90);
            })
            .DataSource(ds => ds
                .Ajax()
                .Model(m => m.Id(r => r.RecordID))
                .PageSize(30)
                .Create(c => c.Action("ServicesCreate", "Services"))
                .Read(r => r.Action("ServicesGetList", "Services"))
                .Update(r => r.Action("ServicesUpdate", "Services"))
                .Destroy(r => r.Action("ServicesDelete", "Services"))
            )
            .Selectable()
            .Filterable(a => a.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            .Events(e=>e.DataBound("onBound"))
            )
        </div>
    </div>
</div>
<script type="text/javascript">
    function onBound(e) {
        var dataview = $('#grid').data().kendoGrid.dataSource.data();
        for (var a = 0; a < dataview.length; a++) {
            var uid = dataview[a].uid;
            $.ajax({
                url: '@Url.Action("GetCurrentStatus", "Services")?servicename=' + dataview[a].ServicesName,
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function (msg) {
                    $("#grid tr[data-uid='" + uid + "'] .status-name").html("Waiting...");
                },
                success: function (result) {
                    $("#grid tr[data-uid='" + uid + "'] .status-name").html(result.msg);
                    if (result.msg == "Running")
                    {
                        $("#grid tr[data-uid='" + uid + "'] .btn-restart-service").show();
                        $("#grid tr[data-uid='" + uid + "'] .btn-stop-service").show();
                        $("#grid tr[data-uid='" + uid + "'] .btn-start-service").hide();
                    } else if (result.msg == "Stopped")
                    {
                        $("#grid tr[data-uid='" + uid + "'] .btn-restart-service").hide();
                        $("#grid tr[data-uid='" + uid + "'] .btn-stop-service").hide();
                        $("#grid tr[data-uid='" + uid + "'] .btn-start-service").show();
                    } else {
                        $("#grid tr[data-uid='" + uid + "'] .btn-restart-service").hide();
                        $("#grid tr[data-uid='" + uid + "'] .btn-stop-service").hide();
                        $("#grid tr[data-uid='" + uid + "'] .btn-start-service").hide();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: false,
                processData: false
            });
        }
    }
    function cmd_service(e, cmd_type)
    {
        var grid = $("#grid").data("kendoGrid");
        var dataitem = grid.dataItem(e.closest("tr"));
        var uid = dataitem.uid;

        if (cmd_type == "Start") { var url = '@Url.Action("StartService", "Services")'; var msg = "Starting"; }
        if (cmd_type == "Stop") { var url = '@Url.Action("StopService", "Services")'; var msg = "Stopping";}
        if (cmd_type == "Restart") { var url = '@Url.Action("RestartService", "Services")'; var msg = "Restarting"; }

        $.ajax({
            url: url + '?servicename=' + dataitem.ServicesName,
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {
                $("#grid tr[data-uid='" + uid + "'] .btn-cmd-service").attr("disabled","disabled");
                $("#grid tr[data-uid='" + uid + "'] .status-name").html(msg);
            },
            success: function (result) {
                $("#grid tr[data-uid='" + uid + "'] .btn-cmd-service").removeAttr("disabled");
                $("#grid tr[data-uid='" + uid + "'] .status-name").html(result.msg);
                if (result.msg == "Running")
                {
                    $("#grid tr[data-uid='" + uid + "'] .btn-restart-service").show();
                    $("#grid tr[data-uid='" + uid + "'] .btn-stop-service").show();
                    $("#grid tr[data-uid='" + uid + "'] .btn-start-service").hide();
                } else if (result.msg == "Stopped")
                {
                    $("#grid tr[data-uid='" + uid + "'] .btn-restart-service").hide();
                    $("#grid tr[data-uid='" + uid + "'] .btn-stop-service").hide();
                    $("#grid tr[data-uid='" + uid + "'] .btn-start-service").show();
                } else {
                    $("#grid tr[data-uid='" + uid + "'] .btn-restart-service").hide();
                    $("#grid tr[data-uid='" + uid + "'] .btn-stop-service").hide();
                    $("#grid tr[data-uid='" + uid + "'] .btn-start-service").hide();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jQuery.parseJSON(jqXHR.responseText));
            },
            async: true,
            processData: false
        });
    }
    function stop_service(e) {

    }
    function restart_service(e) {

    }
    function gridrow_onDelete(e)
    {
        var grid = $("#grid").data("kendoGrid");
        var dataitem = grid.dataItem(e.closest("tr"));
        var cnf = confirm("Are you sure you want to delete " + dataitem.ServicesName + " ?");
        if (cnf)
        {
            $.ajax({
                url: "@Url.Action("Delete","Services")",
                data: JSON.stringify(dataitem),
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                    $(e).attr("disabled","disabled");
                },
                success: function (result) {
                    $(e).removeAttr("disabled");
                    alert(result.msg);
                    if (result.errorcode > 0) {

                    } else {
                        grid.dataSource.read();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jQuery.parseJSON(jqXHR.responseText));
                },
                async: true,
                processData: false
            });
        }
    }
</script>