﻿@model has.iot.Models.Profile
@using has.iot.Models
@{
    ViewBag.Title = "Profile";
    ViewBag.TitleBar = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UsersData voData = ViewData["data"] as UsersData;
}
<div class="m-3">
    <div class="card">
        <div class="card-header">
            <h4 class="mt-2 ml-2">Profile</h4>
        </div>
        <div class="card-body">
            @*<div class="row">
        <div class="col-md-2">
            <a href="javascript:void(0);" class="text-center d-block">
                <img src="@Url.Content("~/Content/upload/users/avatar.jpg")" width="100" class="rounded-circle" />
                <p class="mt-2">Lin Wujuan</p>
            </a>
        </div>*@
            <div class="col-md-12">
                <div class="form-group">
                    <label for="uuid">UUID</label>
                    @Html.Kendo().TextBox().Name("uuid").Value(voData.uuid).HtmlAttributes(new { @class = "w-100" })
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    @Html.Kendo().TextBox().Name("password").HtmlAttributes(new { type = "password", @class = "w-100" })
                </div>
                <div class="form-group">
                    <label for="birthDate" class="d-block">Birthdate</label>
                    @Html.Kendo().DatePicker().Name("birthDate").Value(voData.birthDate).Events(e=>e.Change("birthDateChange"))
                </div>
                <div class="form-group">
                    <label for="age" class="d-block">Age</label>
                    @Html.Kendo().NumericTextBox().Name("age").Decimals(0).Format("{0:n0}").Value(voData.age).Spinners(false).Enable(false)
                </div>
                <div class="form-group">
                    <label for="gender">Gender</label>
                    @(Html.Kendo().DropDownList().Name("gender")
                        .HtmlAttributes(new { @class = "w-100" })
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .BindTo(new List<SelectListItem>() {
                            new SelectListItem() {
                                Text = "Male",
                                Value = "Male"
                            },
                            new SelectListItem() {
                                Text = "Female",
                                Value = "Female"
                            }
                        })
                        .Value(voData.gender)
                    )
                </div>
                <div class="form-group">
                    <label for="race">Race</label>
                    @(Html.Kendo().DropDownList().Name("race")
                        .HtmlAttributes(new { @class = "w-100" })
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Events(e => e.Change("raceChange"))
                        .BindTo(new List<SelectListItem>() {
                            new SelectListItem() {
                                Text = "Chinese",
                                Value = "Chinese"
                            },
                            new SelectListItem() {
                                Text = "Japanese",
                                Value = "Japanese"
                            },
                            new SelectListItem() {
                                Text = "Malaysian",
                                Value = "Malaysian"
                            },
                            new SelectListItem() {
                                Text = "Indian",
                                Value = "Indian"
                            },
                            new SelectListItem() {
                                Text = "Others",
                                Value = "Others"
                            }
                        })
                        .Value(voData.race)
                    )
                </div>
                <div class="form-group">
                    <label for="specify">Specify</label>
                    @Html.Kendo().TextBox().Name("raceSpecify").Value(voData.raceSpecify).Enable(false).HtmlAttributes(new { @class = "w-100" })
                </div>
                <div class="form-group">
                    <label for="height" class="d-block">Height (cm)</label>
                    @Html.Kendo().NumericTextBox().Name("height").Decimals(0).Value(Convert.ToDouble(voData.height)).Spinners(false)
                </div>
                <div class="form-group">
                    <label for="weight" class="d-block">Weight (kg)</label>
                    @Html.Kendo().NumericTextBox().Name("weight").Decimals(0).Value(Convert.ToDouble(voData.weight)).Spinners(false)
                </div>
            </div>
        </div>
        @*</div>*@
        <div class="card-footer">
            <button class="btn btn-primary" type="button" onclick="updateProfile()">UPDATE</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    function updateProfile() {
        var voData = {
            uuid: $("#uuid").val(),
            password: $("#password").val(),
            birthDate: $("#birthDate").data("kendoDatePicker").value(),
            age: $("#age").data("kendoNumericTextBox").value(),
            gender: $("#gender").data("kendoDropDownList").value(),
            race: $("#race").data("kendoDropDownList").value(),
            raceSpecify: $("#raceSpecify").val(),
            height: $("#height").data("kendoNumericTextBox").value(),
            weight: $("#weight").data("kendoNumericTextBox").value(),
        };
        $.ajax({
            url: '@Url.Action("UpdateProfile", "Webservice")',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(voData),
            contentType: 'application/json; charset=utf-8',
            beforeSend: function (msg) {
            },
            success: function (result) {
                alert(result.msg);
                if (result.errorcode > 0)
                {

                } else {
                    window.location.reload();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(jQuery.parseJSON(jqXHR.responseText));
            },
            async: false,
            processData: false
        });
    }
    function raceChange(e) {
        var value = $("#race").data("kendoDropDownList").value();
        if (value == "Others") {
            $("#raceSpecify").removeAttr("disabled");
        } else {
            $("#raceSpecify").val("");
            $("#raceSpecify").attr("disabled","disabled");
        }
    }
    function birthDateChange(e) {
        var value = $("#birthDate").data("kendoDatePicker").value();
        var now = new Date();

        var age =  now.getFullYear() - value.getFullYear();
        $("#age").data("kendoNumericTextBox").value(age);
    }
</script>