﻿@model Camera.Thermal.Kacon.Models.ThermalKacon_REC

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordStatus)

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Device ID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { style = "width: 150px;", @maxlength = "15" })
        </div>
        <div class="k-edit-label">
            Device Name:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            IP Address:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.IPAddress).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Resolution:
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownListFor(m => m.Resolution)
            .DataTextField("Text")
            .DataValueField("Value")
            .HtmlAttributes(new { @class = "w-100" })
            .BindTo(new List<SelectListItem>() {
                    new SelectListItem() {
                        Text = "80x60",
                        Value = "80x60"
                    },
                    new SelectListItem() {
                        Text = "160x120",
                        Value = "160x120"
                    }
            }).Value("0")
            )
        </div>
        <div class="k-edit-label">
            Location:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.LocationID).HtmlAttributes(new { @class = "k-textbox", style = "width: 80%;" }).Enable(false)
            @Html.Kendo().Button().Name("btnWindowPopupLocation").Events(e => e.Click("openWindowLocation")).HtmlAttributes(new { @class = "fa fa-search" })
        </div>
    </div>
</div>