﻿@(Html.Kendo().Window()
    .Name("windowPopupLocation")
    .Title("Location")
    .Draggable(true)
    //.Events(e => e.Open("kwEventOpen"))
    .Height(400)
    .Visible(false)
    .Width(700)
    .Modal(true)
    .Content(@<text>
        @(Html.Kendo().Grid<has.iot.Models.Location_REC>()
                .Name("gridPopupLocation")
                .Columns(columns =>
                {
                    columns.Bound(c => c.LocationID).Title("Location ID").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
                    columns.Bound(c => c.LocationName).Title("Location Name").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains)));
                })
                .DataSource(ds => ds
                    .Ajax()
                    .Model(m =>
                    {
                        m.Id(r => r.RecordID);
                        m.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
                    })
                    .PageSize(30)
                    .Read(r => r.Action("Read", "Location"))
                    )
                .Selectable()
                .Filterable(a => a.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height:550px;" })
                .Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
            )
    </text>)
)