﻿@{
    ViewBag.Title = "Iot Category :: Sensor :: Lord";
    ViewBag.TitleBar = "Iot Category :: Sensor :: Lord";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    ViewBag.ExcelName = "SmartSwitch_Espurna_" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
}
    <div class="row">
        <div class="col-md-2">
            <a href="@Url.Action("Index","Lord",new { Area="SensorLord" }, null)">
                <div class="card card-form" style="background-color: #d3e6ff;">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> List Device
                        </h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-2">
            <a href="@Url.Action("ConfigService","Lord",new { Area="SensorLord" }, null)">
                <div class="card card-form">
                    <div class="card-header">
                        <h5>
                            <span class="fa fa-list"></span> Config Service
                        </h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
@(Html.Kendo().Grid<Sensor.Lord.Models.Lord_REC>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Command(c =>
                    {
                    c.Edit().Text(" ");
                    c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                    //c.Custom("TurnOn").Text(" ").IconClass("fa fa-sync").Click("gridrow_onTurnOn");
                    c.Custom("LogList").Text(" ").IconClass("k-icon k-i-list-unordered").Click("gridrow_onLogList");
                    //c.Custom("FirmwareSetting").Text(" ").IconClass("k-icon k-i-gear").Click("gridrow_onwindowSetting");
                }).Width(70);

                columns.Bound(c => c.RecordID).Visible(false);
                columns.Bound(c => c.RecordTimestamp).Visible(false);
                columns.Bound(c => c.RecordStatus).Visible(false);

                columns.Bound(c => c.DeviceID).Title("Device ID").Width(100);
                columns.Bound(c => c.BaseStation).Title("BaseStation").Width(70);
                columns.Bound(c => c.NodeName).Title("NodeName").Width(70);
                columns.Bound(c => c.Chanel).Title("Chanel").Width(50);
                columns.Bound(c => c.StatusDevice).Title("Status Device").HtmlAttributes(new { @class = "status-Device" }).Width(50);
                columns.Bound(c => c.Live).Title("Live").HtmlAttributes(new { @class = "status-Live" }).Width(50);

            })
            .DataSource(ds => ds
                .Ajax()
                .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
                .Model(m => m.Id(r => r.RecordID))
                .PageSize(30)
                .Create(c => c.Action("Create", "Lord", new { area = "SensorLord" }))
                .Read(r => r.Action("Read", "Lord", new { area = "SensorLord" }))
                .Update(r => r.Action("Update", "Lord", new { area = "SensorLord" }))
                .Destroy(r => r.Action("Destroy", "Lord", new { area = "SensorLord" }))
                )
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
            .Excel(excel => excel
                .AllPages(true)
                .FileName(@ViewBag.ExcelName + ".xlsx")
                .Filterable(true)
                //.ForceProxy(true)
                //.ProxyURL(Url.Action("Account_ExcelExport", "Master"))
                )
            .Events(e => e.Edit("grid_onEdit").DataBound("grid_onDataBound"))
            .Filterable()
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            .ToolBar(t =>
            {
                t.Create().Text("Add New");
                //t.Custom().Text("OFF").HtmlAttributes(new { @class = "btn-cmd-service-all", style = "float:right" });
                //t.Custom().Text("ON").HtmlAttributes(new { @class = "btn-cmd-service-all", style = "float:right" });
            }
        )
)

<script type="text/javascript">
     var ws3D = "";
    $(function () {
        ws3D = $.connection.realTimeHub;
        $.connection.hub.start().done(function () {

        });
        ws3D.client.Lord = function (name, message) {
            if (name == "DataLog") {
                $("#gridLogs").data("kendoGrid").dataSource.read();
            }else if (name == "Device") {
                $("#grid").data("kendoGrid").dataSource.read();
            }
        }
    });

    $(".btn-cmd-service-all").click(function (e)
    {
        var $this = this;
        e.preventDefault();
        var cmd = $($this).html().toLocaleUpperCase();
        cmd_service('All', cmd);
    });
    function cmd_service(e, cmd)
    {
        var value = "All";
        var grid = $("#grid").data("kendoGrid");
        if (e != "All")
        {
            var vRow = $(e.currentTarget).closest("tr");
            var vData = grid.dataItem(vRow);
            cmd = (vData.StatusSwitch == "ON") ? "OFF" : "ON";
            value = vData.DeviceID;
        }
        var voData = {
            cmd: cmd,
            value: value
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Command", "Lord", new { area = "SensorLord" })',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.msg != "success")
                {
                    alert(result.msg);
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }

    function gridrow_onTurnOn(e) {
        cmd_service(e, "");
        e.preventDefault();
    }

    function gridrow_onLogList(e) {
        e.preventDefault();
        var grid = $("#grid").data("kendoGrid");
        var vRow = $(e.currentTarget).closest("tr");
        var vData = grid.dataItem(vRow);
        $("#window").data("kendoWindow").open().center();
        $('#gridLogs').data("kendoGrid").dataSource.transport.options.read.url = "@Url.Action("GetListDataLogByChanel", "Lord")?BaseStation=" + vData.BaseStation + "&NodeName=" + vData.NodeName+ "&Chanel=" + vData.Chanel;
        $('#gridLogs').data("kendoGrid").dataSource.read();
    }

    function gridrow_onwindowSetting(e) {
        e.preventDefault();
        $("#windowSetting").data("kendoWindow").open().center();
    }

    function grid_onDataBound(e) {
        var dataview = $('#grid').data().kendoGrid.dataSource.data();
        for (var a = 0; a < dataview.length; a++) {
            var uid = dataview[a].uid;
            var statusDevice = dataview[a].StatusDevice;
            var statusSwitch = dataview[a].StatusSwitch;
            switch (statusDevice) {
                case "":
                    statusDevice = "N/A";
                default:
                    statusDevice = statusDevice;
            }
            switch (statusSwitch) {
                case "":
                    statusSwitch = "N/A";
                default:
                    statusSwitch = statusSwitch;
            }
            $("#grid tr[data-uid='" + uid + "'] .status-Device").html(statusDevice);
            $("#grid tr[data-uid='" + uid + "'] .status-Switch").html(statusSwitch);
        }
    }

    function grid_onRequestEnd(e) {
        if (e.type == "create") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
        }
        else {
            $("#AccountID").attr("readonly", true);
        }
    }

    function SetSubType(e) {
        var AccountType = $("#AccountType").val();
        var DDL = $("#AccountSubtype").data("kendoDropDownList");
        DDL.setDataSource({
            serverFiltering: true,
            transport: {
                read: "@Url.Action("GetLokkupGenerlistWithSub", "Lookup", new { type = "005" })&sub=" + AccountType
            }
        });
        DDL.dataSource.read();
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Error");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function gridrow_onDelete(e) {
        e.preventDefault();

        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);

        vWindowModal.title("Delete Confirmation?");
        vWindowModal.content(vTemplateDelete(vData));
        vWindowModal.center().open();

        $("#buttonDeleteYes").click(function () {
            vGrid.removeRow(vRow);
            vWindowModal.close();
        });

        $("#buttonDeleteNo").click(function () {
            vWindowModal.close();
        });
    }
</script>
<script type="text/x-kendo-template" id="templateDelete">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Device ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="DeviceID" name="DeviceID" value="#=DeviceID#" style="text-transform: uppercase;" readonly="readonly"> </div>
        </div>
        <div class="nameEditor">
            <div class="k-edit-label">Device Name:</div>
            <div class="k-edit-field"><input class="k-textbox" id="DeviceName" name="DeviceName" value="#=DeviceName#" readonly="readonly"></div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>
@(Html.Kendo().Window().Visible(false)
    .Name("window")
    .Title("Logs")
    .Content(@<text>
            <form action="@Url.Action("ExportServer", "Lord", new { area = "SensorLord" })" method="POST" id="form_export">
                <input type="hidden" id="export-data" name="data" />
                <input type="hidden" id="export-model" name="model" />
                <input style="display:none;" type="submit" class="k-button ExportAll" data-format="xlsx" data-title="Title1" value="Export All to Excel" />
            </form>
            @(Html.Kendo().Grid<Sensor.Lord.Models.LordDataLog_REC>()
                .Name("gridLogs")
                .ToolBar(t =>
                {
                    t.Custom().Name("Export to excel").HtmlAttributes(new { id = "ExportAll", href = "#" });
                })
                .Columns(columns =>
                {
                    columns.Template(t => t.RecordID).ClientTemplate("<a class='k-button' href='javascript:void(0)' onclick='viewPayload(this)' title='View Payload'><span class='fas fa-list'></span></a>").Width(50);
                    columns.Bound(c => c.RecordTimestamp).Format("{0:dd-MMM-yyyy HH:mm:ss}").Filterable(f => f.Cell(c => c.ShowOperators(false)).Enabled(false)).Width(90);
                    columns.Bound(c => c.BaseStationID).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                    columns.Bound(c => c.NodeID).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(60);
                    columns.Bound(c => c.Chanel).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(60);
                    columns.Bound(c => c.Value).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(80);
                    columns.Bound(c => c.Payload).Hidden(true).Width(0);
                })
                .DataSource(ds => ds
                    .Ajax()
                    .Model(m => m.Id(r => r.RecordID))
                    .PageSize(30)
                    .Read(r => r.Action("GetListDataLog", "Lord", new { area = "SensorLord" }))
                    .Sort(sort => sort.Add("RecordTimestamp").Descending())
                )
                .Excel(excel => excel
                .AllPages(true)
                .FileName(@ViewBag.ExcelName + ".xlsx")
                .Filterable(true)
                )
                .Selectable()
                .Filterable(a => a.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height:500px;" })
                .Pageable(p => p.Refresh(true))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
            )
    </text>)
.Draggable()
.Width(800).Height(550)
.Actions(actions => actions.Pin().Minimize().Maximize().Close())
)
@(Html.Kendo().Window()
    .HtmlAttributes(new { style = "display:none;height:500px" })
    .Name("windowPyload")
    .Title("Payload")
    .Content(@<text>
            <pre id="payload_view"></pre>
    </text>)
.Modal(true)
.Draggable()
.Resizable()
.Width(600)
.Actions(actions => actions.Pin().Minimize().Maximize().Close())
)
<script type="text/javascript">
    var form = document.getElementById("form_export");
    $("#ExportAll").click(function () {
        var grid = $("#gridLogs").data("kendoGrid");
        var options = {
            format: "csv",
            title: "Sensor_ALL_@DateTime.Now.ToString("yyyyMMdd")"
        }
        $("#export-data").val(encodeURIComponent(JSON.stringify(options)));
        $("#export-model").val(encodeURIComponent(JSON.stringify(grid.columns)));
        form.submit();
    });
   
    function viewPayload(e) {
        var grid = $("#gridLogs").data("kendoGrid");
        var dataitem = grid.dataItem(e.closest("tr"));
        var payload = JSON.parse(dataitem.Payload);
        document.getElementById("payload_view").innerHTML = JSON.stringify(payload, undefined, 2);
        $("#windowPyload").data("kendoWindow").open().center();
    }
</script>