﻿@using has.iot.Models
@{
    ViewBag.Title = "General Type";
    ViewBag.TitleBar = "General Type";
}
<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().Grid<GeneralType>()
            .Name("grid")
            .ToolBar(t =>
            {
                t.Create().Text("Add New");
            })
            .Columns(columns =>
            {
                columns.Command(c =>
                {
                    c.Edit().Text(" ");
                    c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                }).Width(20);
                columns.Bound(c => c.ID).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                columns.Bound(c => c.Name).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
            })
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("generaltype_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
            .DataSource(ds => ds
                .Ajax()
                .Model(model =>
                {
                    model.Id(r => r.RecordID);
                    model.Field(f => f.RecordTimestamp).DefaultValue(DateTime.Now).Editable(false);
                })
                .Events(e=>e.Error("error_handler"))
                .PageSize(30)
                .Create(c => c.Action("CreateType", "GeneralTables"))
                .Read(r => r.Action("GeneralTypeGetList", "GeneralTables"))
                .Update(r => r.Action("UpdateType", "GeneralTables"))
                .Destroy(r => r.Action("DestroyType", "GeneralTables"))
            )
            .Events(e=>e.Edit("on_edit"))
            .Selectable()
            .Filterable(a => a.Mode(GridFilterMode.Row))
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            )
        </div>
    </div>
</div>
<div id="windowModal"></div>
<script type="text/x-kendo-template" id="templateDelete">
        <div class="k-edit-form-container">
            <div class="k-edit-label">ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="itemID" name="itemID" value="#=ID#" style="text-transform: uppercase;" readonly="readonly"> </div>

            <div class="k-edit-label">Name:</div>
            <div class="k-edit-field"><input class="k-textbox" id="itemName" name="itemName" value="#=Name#" readonly="readonly"></div>

            <div class="k-edit-buttons k-state-default" style="margin:-15px -15px -4px -15px;"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
        </div>
</script>
<script type="text/javascript">
    var vWindowModal;
    var vTemplateDelete;

    $(document).ready(function () {
        if ($("#templateDelete").html()) {
            vTemplateDelete = kendo.template($("#templateDelete").html());
        }
        vWindowModal = $("#windowModal").kendoWindow({
            title: "",
            modal: true,
            visible: false,
            resizable: false,
            width: "400",
        }).data("kendoWindow");
    });
    function gridrow_onDelete(e) {
        e.preventDefault();

        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);

        vWindowModal.title("Delete Confirmation?");
        vWindowModal.content(vTemplateDelete(vData));
        vWindowModal.center().open();

        $("#buttonDeleteYes").click(function () {
            vGrid.removeRow(vRow);
            vWindowModal.close();
        });

        $("#buttonDeleteNo").click(function () {
            vWindowModal.close();
        });
    }
    function on_edit(e) {
        console.log(e);
        if (e.model.isNew()) {
            $('.k-window-title').text('Add New');
        } else {
            $('#ID').attr('disabled',"disabled");
        }
    }
</script>