﻿@model has.iot.Models.Person_REC

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordStatus)

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Person ID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.PersonID).HtmlAttributes(new { style = "width: 150px;", @maxlength = "20" })
        </div>
        <div class="k-edit-label">
            Person Name:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.PersonName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            EPC:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.EPC).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>

    </div>
</div>
<script type="text/javascript">

</script>