﻿@{
    ViewBag.Title = "Iot Category :: Cams";
    ViewBag.TitleBar = "Iot Category :: Cams";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    ViewBag.ExcelName = "Cams_" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
}

<input type="text" id="ID" placeholder="ID" />
<input type="text" id="Start" placeholder="Start" />
<input type="text" id="End" placeholder="End" />
<button onclick="publishToBroker();">Publish</button>

<script>
    function publishToBroker() {
        var ID = $("#ID").val();
        var Start = $("#Start").val();
        var End = $("#End").val();

        var voData = {
            ID: ID,
            Start: Start,
            End: End
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SendCommand", "Cams")',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                alert(result.msg);
            }
        });
    }
</script>
