﻿@{
    ViewBag.TitleBar = "Power - Flow Rate Data Log";
    ViewBag.Title = "Power - Flow Rate Data Log";
    ViewBag.ExcelName = "Power" + DateTime.Now.ToString("yyyyMMddHHmmss");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="body-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Filter
                </div>
                <div class="card-body">
                    <div class="form-group">
                        Start Time <br />
                        @Html.Kendo().DateTimePicker().Name("StartTime").Format("dd-MMM-yyyy HH:mm").Interval(1)
                    </div>
                    <div class="form-group">
                        End Time <br />
                        @Html.Kendo().DateTimePicker().Name("EndTime").Format("dd-MMM-yyyy HH:mm").Interval(1)
                    </div>
                    <div class="form-group">
                        Floor <br />
                        @(Html.Kendo().DropDownList()
                         .Name("floor")
                         .DataTextField("Text")
                         .DataValueField("Value")
                         .BindTo(new List<SelectListItem>() {
                             new SelectListItem() {
                                 Text = "Floor 7",
                                 Value = "7"
                             },
                             new SelectListItem() {
                                 Text = "Floor 3",
                                 Value = "3"
                             }
                         })
                         .Value("1")
                         .HtmlAttributes(new { style = "width: 100%" })
                        )
                    </div>
                    <div class="form-group">
                        Time <br />
                        @(Html.Kendo().DropDownList()
                         .Name("weekday")
                         .DataTextField("Text")
                         .DataValueField("Value")
                         .BindTo(new List<SelectListItem>() {
                             new SelectListItem() {
                                 Text = "Weekends",
                                 Value = "2"
                             },
                             new SelectListItem() {
                                 Text = "Weekdays",
                                 Value = "1"
                             }
                         })
                         .Value("1")
                         .HtmlAttributes(new { style = "width: 100%" })
                        )
                    </div>
                    <div class="form-group">
                        Table Name <br />
                        <input id="tableName" class="k-textbox" value="FlowRateExport" />
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" id="btn-search" onclick="Find()">Find</button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <form action="@Url.Action("ExportServer", "Raspberry")" method="POST" id="form_export">
                <input type="hidden" id="export-data" name="option" />
                <input type="hidden" id="export-request" name="poRequest" />
                <input style="display:none;" type="submit" class="k-button ExportAll" data-format="xlsx" data-title="Title1" value="Export All to Excel" />
            </form>
            @(Html.Kendo().Grid<Power.Raspberry.Models.FlowRateDataLog_REC>()
                .Name("grid")
                .ToolBar(t =>
                {
                    t.Template(@<text>
                <div class="float-left">
                    <a style="margin-top:3px;" class="k-button k-button-icontext k-grid-Export to excel" href="#" id="ExportAll">Export to excel</a>
                </div>
                <div class="float-right">
                    Auto-Refresh:
                    <input type='number' id='tbInterval' class='k-textbox' onblur='refreshGrid(this);' placeholder="seconds" />
                </div>
                    </text>);
                })
                .Columns(columns =>
                {
                    columns.Bound(c => c.RecordTimestamp).Format("{0:dd-MMM-yyyy HH:mm:ss}").Filterable(f => f.Cell(c => c.ShowOperators(false)).Enabled(false)).Width(100);
                    columns.Bound(c => c.ObjectName).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                    columns.Bound(c => c.InstanceID).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                    columns.Bound(c => c.DeviceID).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                    columns.Bound(c => c.PresentValue).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(100);
                })
                .DataSource(ds => ds
                    .Ajax()
                    .Model(m => m.Id(r => r._id))
                    .PageSize(30)
                    .Read(r => r.Action("GetFlowRateDatalogs", "Raspberry"))
                    .Sort(sort => sort.Add("RecordTimestamp").Descending())
                )
                .Excel(excel => excel
                .AllPages(true)
                .FileName(@ViewBag.ExcelName + ".xlsx")
                .Filterable(true)
                )
                .Selectable()
                .Filterable(a => a.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height:550px;" })
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
                .AutoBind(false)
            )
        </div>
    </div>
</div>
@(Html.Kendo().Window()
    .HtmlAttributes(new { style = "display:none;height:500px" })
    .Name("window")
    .Title("Payload")
    .Content(@<text>
        <pre id="payload_view"></pre>
    </text>)
    .Modal(true)
    .Draggable()
    .Resizable()
    .Width(600)
    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
)
<script type="text/javascript">
    var refreshGridInterval = null;
    var form = document.getElementById("form_export");
    $("#ExportAll").click(function () {
        var grid = $("#grid").data("kendoGrid");
        var parameterMap = grid.dataSource.transport.parameterMap;
        var options = {
            format: "csv",
            title: "Power_ALL_@DateTime.Now.ToString("yyyyMMdd")"
        }
        var request = parameterMap(
            {
                sort: grid.dataSource.sort(),
                filter: grid.dataSource.filter(),
                group: grid.dataSource.group(),
            }
        );
        var columns = grid.columns;
        var datas = {
            transport: grid.dataSource.transport.options.read.data,
            options: options,
            columns: columns,
        };

       $.ajax({
            url: "@Url.Action("ExportServer", "Raspberry")",
            data: kendo.stringify($.extend(datas, request)),
            contentType: 'application/json; charset=utf-8',
           type: "POST",
           beforeSend: function () {
               $(".loading-spinner").css("display", "block");
           },
           success: function (result) {
               $(".loading-spinner").css("display", "none");
               window.open(
                   base_url + '@Power.Raspberry.Components.Constants.ExportDirectory' + result.filename,
                   '_blank' // <- This is what makes it open in a new window.
               );
            }
        });
    });
    var ws3D = "";
    $(function () {
        //ws3D = $.connection.realTimeHub;
        //$.connection.hub.start().done(function () {

        //});
        //ws3D.client.Raspberry = function (name, message) {
        //    console.log(message);
        //    if (name == "DataLog") {
        //        $("#grid").data("kendoGrid").dataSource.read();
        //    }
        //}
        $("#StartTime").data("kendoDateTimePicker").value("@DateTime.Now.ToString("yyyy-MM-dd 00:00:00")");
        $("#EndTime").data("kendoDateTimePicker").value("@DateTime.Now.AddDays(1).ToString("yyyy-MM-dd 00:00:00")");
        Find();
    });
    function Find() {
        var grid = $("#grid").data("kendoGrid");
        var voData = {
            StartTime: $("#StartTime").data("kendoDateTimePicker").value(),
            EndTime: $("#EndTime").data("kendoDateTimePicker").value(),
        };
        var floor = $("#floor").data("kendoDropDownList").value();
        var weekday = $("#weekday").data("kendoDropDownList").value();
        var tableName = $("#tableName").val();
        grid.dataSource.transport.options.read.type = "POST";
        grid.dataSource.transport.options.read.data = voData;
        grid.dataSource.transport.options.read.url = '@Url.Action("GetFlowRateDatalogs", "Raspberry")?weekday=' + weekday+'&floor=' + floor+'&tableName=' + tableName;
        grid.dataSource.read();
    }
    function refreshGrid(e) {
        const value = $(e).val();
        const intval_time = value * 1000;
        if (value != "") {
            if (value == 0) {
                clearInterval(refreshGridInterval);
            } else {
                clearInterval(refreshGridInterval);
                refreshGridInterval = setInterval(function () {
                    $("#grid").data("kendoGrid").dataSource.read();
                }, intval_time);
            }
        } else {
            clearInterval(refreshGridInterval);
        }
    }
    function viewPayload(e) {
        var grid = $("#grid").data("kendoGrid");
        var dataitem = grid.dataItem(e.closest("tr"));
        var payload = JSON.parse(dataitem.Payload);
        document.getElementById("payload_view").innerHTML = JSON.stringify(payload, undefined, 2);
        $("#window").data("kendoWindow").open().center();
    }
</script>