﻿@model Sensor.Lord.Models.Lord_REC

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordTimestamp)
@Html.HiddenFor(m => m.RecordStatus)

<div class="row" style="margin: 5px !important;">
    <div class="col-md-12" style="padding: 0px !important;">
        <div class="k-edit-label">
            Device ID:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.DeviceID).HtmlAttributes(new { style = "background: lightgrey;", @maxlength = "20" }).Enable(false)
        </div>
        <div class="k-edit-label">
            Base Station:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.BaseStation).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Node Name:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.NodeName).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Chanel:
        </div>
        <div class="k-edit-field">
            @Html.Kendo().TextBoxFor(m => m.Chanel).HtmlAttributes(new { @class = "k-textbox", style = "width: 100%;" })
        </div>
        <div class="k-edit-label">
            Live:
        </div>
        <div class="k-edit-field">
            @(Html.Kendo().DropDownListFor(m => m.Live)
              .DataTextField("Text")
              .DataValueField("Value")
              .BindTo(new List<SelectListItem>() {
                   new SelectListItem() {
                      Text = "Yes",
                      Value = "1"
                  },
                  new SelectListItem() {
                      Text = "No",
                      Value = "0"
                  }              })
                .HtmlAttributes(new { style = "width: 50%" })
            )
        </div>
    </div>
</div>
