﻿@model has.iot.Models.GeneralTables

<div class="k-edit-label">
    ID:
</div>
<div class="k-edit-field">
    @Html.Kendo().TextBoxFor(m => m.ID).HtmlAttributes(new { style = "width: 150px; text-transform: uppercase;", @maxlength = "50", onkeyup = "this.value = this.value.toUpperCase();", onkeypress = "return removeSpace(event)" })
</div>

<div class="k-edit-label">
    Name:
</div>
<div class="k-edit-field">
    @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { style = "width: 150px; text-transform: uppercase;", @maxlength = "50", onkeyup = "this.value = this.value.toUpperCase()" })
</div>


<div class="k-edit-label">
    Value:
</div>
<div class="k-edit-field">
    @Html.Kendo().TextBoxFor(m => m.Value).HtmlAttributes(new { style = "width: 150px;", @maxlength = "50" })
</div>

<div class="k-edit-label">
    Type:
</div>
<div class="k-edit-field">
    @(Html.Kendo().DropDownListFor(m => m.ListType)
        .DataTextField("Name")
        .DataValueField("ID")
        .Events(e=>e.Change("editorListType"))
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Type(HttpVerbs.Post).Action("GeneralTypeGetListDDL", "GeneralTables", new { Area = ""});
            })
            .ServerFiltering(true);
        })
    )
</div>