﻿@model has.iot.Models.GeneralType

@Html.HiddenFor(m => m.RecordID)
@Html.HiddenFor(m => m.RecordStatus)


<div class="k-edit-label">
    ID:
</div>
<div class="k-edit-field">
    @Html.Kendo().TextBoxFor(m => m.ID).HtmlAttributes(new { style = "width: 150px; text-transform: uppercase;", @maxlength = "30", onkeypress = "return isNumber(event)" })
</div>

<div class="k-edit-label">
    Name:
</div>
<div class="k-edit-field">
    @Html.Kendo().TextBoxFor(m => m.Name).HtmlAttributes(new { style = "width: 150px; text-transform: uppercase;", @maxlength = "30", onkeyup = "this.value = this.value.toUpperCase()" })
</div>