﻿@model SmartPlug.Tasmota.Models.SmartDevices_REC
@using SmartPlug.Tasmota.Models;
@{
    ViewBag.Title = "Iot Category :: SmartPlug :: Tasmota";
    ViewBag.TitleBar = "Iot Category :: SmartPlug :: Tasmota";
    Layout = "~/Views/Shared/_IotCategory.cshtml";
    ViewBag.ExcelName = "SmartPlug_Tasmota_" + DateTime.Now.ToString("yyyyMMddHHmmss");
    string DateFormat = "{0:MM-dd-yyyy HH:mm:ss}";
}
@*<div class="accordion" id="EsournaDefaultSetting">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    SmartPlug Tasmota Default Setting
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#EsournaDefaultSetting">
            <div class="card-body row">

                <div class="col-md-6">
                    <input type="hidden" id="RecordID" value="" />
                    <input type="hidden" id="RecordTimestamp" value="" />
                    <input type="hidden" id="RecordStatus" value="" />
                    <div class="form-group">
                        @Html.LabelFor(m => m.SSID)
                        @Html.Kendo().TextBoxFor(m => m.SSID).HtmlAttributes(new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.Kendo().TextBoxFor(m => m.Password).HtmlAttributes(new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.MQTTHost)
                        @Html.Kendo().TextBoxFor(m => m.MQTTHost).HtmlAttributes(new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.MQTTUsername)
                        @Html.Kendo().TextBoxFor(m => m.MQTTUsername).HtmlAttributes(new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.MQTTPassword)
                        @Html.Kendo().TextBoxFor(m => m.MQTTPassword).HtmlAttributes(new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <hr />
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" onclick="submitData(this, 'single')">Save</button>
                <button type="button" class="btn btn-primary" onclick="submitData(this, 'all')">Save to all</button>
                <button type="button" class="btn btn-default" onclick="window.location.href='@Url.Action("Index","Tasmota")'">Cancel</button>
            </div>
        </div>
    </div>
</div>*@
@(Html.Kendo().Grid<SmartPlug.Tasmota.Models.SmartDevices_REC>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Command(c =>
                    {
                    c.Edit().Text(" ");
                    c.Custom("Delete").Text(" ").IconClass("k-icon k-i-delete").Click("gridrow_onDelete");
                    c.Custom("TurnOn").Text(" ").IconClass("fa fa-power-off").Click("gridrow_onTurnOn");
                    //c.Custom("LogList").Text(" ").IconClass("k-icon k-i-list-unordered").Click("gridrow_onLogList");
                    c.Custom("FirmwareSetting").Text(" ").IconClass("k-icon k-i-gear").Click("gridrow_onwindowSetting");
                }).Width(70);

                columns.Bound(c => c.DeviceName).Title("Device Name").Width(50);
                columns.Bound(c => c.IPAddress).Title("IP Address").Width(50);
                columns.Bound(c => c.ObjectName).Title("Object Mesh").Width(65);
                columns.Bound(c => c.Location).Title("Location").Width(50);
                columns.Bound(c => c.SwitchNo).Title("Switch No").Width(40);
                columns.Bound(c => c.LightController).Title("Light Controller").Width(40);
                columns.Bound(c => c.Relay).Title("Status").HtmlAttributes(new { @class = "status-Switch" }).Width(40);

            })
            .DataSource(ds => ds
                .Ajax()
                .Events(e => e.Error("grid_onError").RequestEnd("grid_onRequestEnd"))
                .Model(m => m.Id(r => r._id))
                .PageSize(30)
                .Create(c => c.Action("Create", "Tasmota", new { area = "SmartPlugTasmota" }))
                .Read(r => r.Action("Read", "Tasmota", new { area = "SmartPlugTasmota" }))
                .Update(r => r.Action("Update", "Tasmota", new { area = "SmartPlugTasmota" }))
                .Destroy(r => r.Action("Destroy", "Tasmota", new { area = "SmartPlugTasmota" }))
            )
            .Editable(e => e.Mode(GridEditMode.PopUp).TemplateName("_form").Window(w => w.Width(500)).DisplayDeleteConfirmation(false))
            .Excel(excel => excel
                .AllPages(true)
                .FileName(@ViewBag.ExcelName + ".xlsx")
                .Filterable(true)
                //.ForceProxy(true)
                //.ProxyURL(Url.Action("Account_ExcelExport", "Master"))
                )
            .Events(e => e.Edit("grid_onEdit").DataBound("grid_onDataBound"))
            .Filterable()
            .HtmlAttributes(new { style = "height:550px;" })
            .Pageable(p => p.Refresh(true))
            .Reorderable(r => r.Columns(true))
            .Resizable(r => r.Columns(true))
            .Sortable()
            .Scrollable()
            .ToolBar(t =>
            {
                t.Create().Text("Add New");
                t.Custom().Text("OFF").HtmlAttributes(new { @class = "btn-cmd-service-all", style = "float:right" });
                t.Custom().Text("ON").HtmlAttributes(new { @class = "btn-cmd-service-all", style = "float:right" });
            }
        )
)

<script type="text/javascript">
    var ws= "";
    $(function () {
    // Start the connection.
        ws = $.connection.realTimeHub;

        ws.client.Tasmota = function (name, message) {
            if (name == "Check") {
                $('#grid').data().kendoGrid.dataSource.read();
            }else if (name == "DataLog") {
                $("#gridLogs").data("kendoGrid").dataSource.read();
            }
        }

        $.connection.hub.start().done(function () {

        });
    });
    $(".btn-cmd-service-all").click(function (e)
    {
        var $this = this;
        e.preventDefault();
        var cmd = $($this).html().toLocaleUpperCase();
        cmd_service('All', cmd);
    });
    function cmd_service(e, cmd)
    {
        var value = "All";
        var grid = $("#grid").data("kendoGrid");
        if (e != "All")
        {
            var vRow = $(e.currentTarget).closest("tr");
            var vData = grid.dataItem(vRow);
            cmd = (vData.Relay == "ON") ? "OFF" : "ON";
            value = vData.IPAddress;
        }
        console.log(value);
        var voData = {
            cmd: cmd,
            value: value
        };
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Command", "Tasmota", new { area = "SmartPlugTasmota" })',
            data: JSON.stringify(voData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                if (result.msg != "success")
                {
                    alert(result.msg);
                }
            },
            error: function (xmlhttprequest, textstatus, message) {

            }
        });
    }

    function checkRelay(DeviceID) {
        var voData = {
            DeviceID: DeviceID
        };
        $.ajax({
            type: 'GET',
            url: '@Url.Action("checkRelay", "Tasmota", new { area = "SmartPlugTasmota" })',
            data: voData,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            beforeSend: function () {

            },
            success: function (result) {
                console.log(result);
            },
            error: function (xmlhttprequest, textstatus, message) {
                if (textstatus === "timeout") {
                    console.log("timmeout");
                } else {
                    console.log("Device offline");
                }
            }
        });
    }

    function gridrow_onTurnOn(e) {
        cmd_service(e, "");
        e.preventDefault();
    }

    function gridrow_onLogList(e) {
        e.preventDefault();
        $("#window").data("kendoWindow").open().center();
    }

    function gridrow_onwindowSetting(e) {
        e.preventDefault();
        var grid = $("#grid").data("kendoGrid");
        var vRow = $(e.currentTarget).closest("tr");
        var vData = grid.dataItem(vRow);
        loadIframe("iframsettingFrm","http://"+vData.IPAddress);
        $("#windowSetting").data("kendoWindow").open().center();
    }
    var check = true;
    function grid_onDataBound(e) {
        var dataview = $('#grid').data().kendoGrid.dataSource.data();
        console.log(dataview);
        for (var a = 0; a < dataview.length; a++) {
            var uid = dataview[a].uid;
            var statusDevice = dataview[a].StatusDevice;
            var statusSwitch = dataview[a].Relay;
            switch (statusDevice) {
                case "":
                    statusDevice = "N/A";
                default:
                    statusDevice = statusDevice;
            }
            if (statusSwitch === 0) {
                statusSwitch = "OFF";
            } else if (statusSwitch === 1){
                statusSwitch = "ON";
            }
            $("#grid tr[data-uid='" + uid + "'] .status-Device").html(statusDevice);
            $("#grid tr[data-uid='" + uid + "'] .status-Switch").html(statusSwitch);
            if (check) { checkRelay(dataview[a].IPAddress); }
        }
        check = false;
    }

    function grid_onRequestEnd(e) {
        if (e.type == "create") {
            if (!e.response.Errors) {
                e.sender.read();
            }
        }
    }
    //--------------------------------------------------
    function grid_onEdit(e) {
        //var vWindow = this.editable.element.data("kendoWindow");
        //vWindow.wrapper.css({ width: 500 });

        if (e.model.isNew() == true) {
            e.container.kendoWindow("title", "Add New");
        }
        else {
            $("#AccountID").attr("readonly", true);
        }
    }

    function SetSubType(e) {
        var AccountType = $("#AccountType").val();
        var DDL = $("#AccountSubtype").data("kendoDropDownList");
        DDL.setDataSource({
            serverFiltering: true,
            transport: {
                read: "@Url.Action("GetLokkupGenerlistWithSub", "Lookup", new { type = "005" })&sub=" + AccountType
            }
        });
        DDL.dataSource.read();
    }

    function grid_onError(e) {
        if (e.errors) {
            var vMessage = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        vMessage += this + "\n";
                    });
                }
            });

            vWindowModal.title("Error");
            vWindowModal.content(vMessage);
            vWindowModal.center().open();

            var vGrid = $("#grid").data("kendoGrid");
            vGrid.one("dataBinding", function (e) {
                e.preventDefault();
            });
        }
    }

    function gridrow_onDelete(e) {
        e.preventDefault();

        var vGrid = this;
        var vRow = $(e.currentTarget).closest("tr");
        var vData = vGrid.dataItem(vRow);

        vWindowModal.title("Delete Confirmation?");
        vWindowModal.content(vTemplateDelete(vData));
        vWindowModal.center().open();

        $("#buttonDeleteYes").click(function () {
            vGrid.removeRow(vRow);
            vWindowModal.close();
        });

        $("#buttonDeleteNo").click(function () {
            vWindowModal.close();
        });
    }
    function loadIframe(iframeName, url) {
        var $iframe = $('#' + iframeName);
        if ( $iframe.length ) {
            $iframe.attr('src',url);   
            return false;
        }
        return true;
    }
</script>
<script type="text/x-kendo-template" id="templateDelete">
    <div class="k-edit-form-container">
        <div class="nameEditor">
            <div class="k-edit-label">Device ID:</div>
            <div class="k-edit-field"><input class="k-textbox" id="DeviceID" name="DeviceID" value="#=DeviceID#" style="text-transform: uppercase;" readonly="readonly"> </div>
        </div>
        <div class="nameEditor">
            <div class="k-edit-label">Device Name:</div>
            <div class="k-edit-field"><input class="k-textbox" id="DeviceName" name="DeviceName" value="#=DeviceName#" readonly="readonly"></div>
        </div>
        <div class="k-edit-buttons k-state-default"><a role="button" id="buttonDeleteNo" class="k-button k-button-icontext k-grid-cancel" href="javascript:void(0);"><span class="k-icon k-i-cancel"></span>No</a><a role="button" id="buttonDeleteYes" class="k-button k-button-icontext k-primary k-grid-update" href="javascript:void(0);"><span class="k-icon k-i-check"></span>Yes</a></div>
    </div>
</script>
@(Html.Kendo().Window().Visible(false)
    .Name("window")
    .Title("Logs")
    .Content(@<text>
            <form action="@Url.Action("ExportServer", "Tasmota")" method="POST" id="form_export">
                <input type="hidden" id="export-data" name="data" />
                <input type="hidden" id="export-model" name="model" />
                <input style="display:none;" type="submit" class="k-button ExportAll" data-format="xlsx" data-title="Title1" value="Export All to Excel" />
            </form>
            @(Html.Kendo().Grid<SmartPlug.Tasmota.Models.TasmotaDataLog_REC>()
                .Name("gridLogs")
                .ToolBar(t =>
                {
                    t.Excel(); t.Custom().Name("Export All").HtmlAttributes(new { id = "ExportAll", href = "#" });
                })
                .Columns(columns =>
                {
                    columns.Template(t => t.RecordID).ClientTemplate("<a class='k-button' href='javascript:void(0)' onclick='viewPayload(this)' title='View Payload'><span class='fas fa-list'></span></a>").Width(20);
                    columns.Bound(c => c.RecordTimestamp).Format("{0:dd-MMM-yyyy HH:mm:ss}").Filterable(f => f.Cell(c => c.ShowOperators(false)).Enabled(false)).Width(90);
                    columns.Bound(c => c.DeviceID).Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                    columns.Bound(c => c.Current).Title("Current consumption (kwh)").Filterable(f => f.Cell(c => c.ShowOperators(false).Operator("contains").SuggestionOperator(FilterType.Contains))).Width(90);
                    columns.Bound(c => c.Payload).Hidden(true).Width(0);
                })
                .DataSource(ds => ds
                    .Ajax()
                    .Model(m => m.Id(r => r.RecordID))
                    .PageSize(30)
                    .Read(r => r.Action("GetListDataLog", "Tasmota"))
                    .Sort(sort => sort.Add("RecordTimestamp").Descending())
                )
                .Excel(excel => excel
                .AllPages(true)
                .FileName(@ViewBag.ExcelName + ".xlsx")
                .Filterable(true)
                )
                .Selectable()
                .Filterable(a => a.Mode(GridFilterMode.Row))
                .HtmlAttributes(new { style = "height:550px;" })
                .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .ButtonCount(5))
                .Reorderable(r => r.Columns(true))
                .Resizable(r => r.Columns(true))
                .Sortable()
                .Scrollable()
            )
    </text>)
.Draggable()
.Width(800).Height(500)
.Actions(actions => actions.Pin().Minimize().Maximize().Close())
)
@(Html.Kendo().Window().Visible(false)
    .Name("windowSetting")
    .Title("Firmware Setting")
    .Content(@<text><iframe id="iframsettingFrm" class="resp-iframe" src="" style="width:100%;height:100%;" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </text>)
.Draggable()
.Width(800).Height(500)
.Actions(actions => actions.Pin().Minimize().Maximize().Close())
//.Events(ev => ev.Close("onClose"))
)


